body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5%;
}

* {
  font-family: Arial, Helvetica, sans-serif, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-size: 1.2em;
  width: 100%;
  color: chocolate;
}