head( lang="es", xml:lang="es")

	title #{titulo}
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name="viewport", content="width=device-width")

	//-metatags
	meta(name="Description", content=descrip)
	meta(name="Keywords", content=keyword)
	
	//-apple metatags
	meta(name='apple-mobile-web-app-capable', content="yes")
	meta(name='apple-mobile-web-app-status-bar-style', content="black-translucent")
	
	//- Favicons
	link(rel="shorcut icon", href="assets/img/favicon.ico")
	link(rel="shorcut icon", href="assets/img/favicon.png")
	//- link(rel="apple-touch-icon", href="assets/img/icon-touch.png")
	//- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/icon-touch-72.png")
	//- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/icon-touch-114.png")
	//- link(rel="apple-touch-icon", sizes="144x144", href="assets/img/icon-touch-144.png")

	//- Preloads
	link(rel="preload" href="assets/fonts/font-claro.css" as="style")
	link(rel="preload" href="assets/css/styles.css" as="style")
	link(rel="preload" href="assets/js/fancybox/dist/jquery.fancybox.min.css" as="style")
	//-link(rel="preload" href="assets/js/animate/wow.min.js" as="script")
	link(rel="preload" href="assets/js/fancybox/dist/jquery.fancybox.min.js" as="script")
	link(rel="preload" as="font" type="font/ttf" crossorigin="anonymous" href="assets/fonts/claroicons.ttf?7yr982" )

	link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-Bold.woff2" )
	link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-Regular.woff2" )
	link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-SemiBold.woff2" )
	link(rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" )

	//-- CSS --//
	//-Font
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap")
	link(rel="stylesheet", href="assets/fonts/font-claro.css", type="text/css")
	//-Animaciones
	//-link(rel="stylesheet", href="assets/js/animate/animate.min.css", type="text/css")
	//-Fancybox
	link(rel="stylesheet", href="assets/js/fancybox/dist/jquery.fancybox.min.css", type="text/css")
	//-Geneal Style
	link(rel="stylesheet", href="assets/css/styles.css", type="text/css")
	//-style(type="text/css")
		include ../../resources/css/styles.css
	
	//- Jquery
	script(src="assets/js/jquery.min.js")