- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body.white

		include includes/modules/headerSimple.pug

		main.wrapper

			include includes/modules/associateService.pug
			//CSS
			style
				include ../resources/css/includes/modules/loginRegistro.css


		include includes/modules/footer.pug