- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "profile";
- var sublocation = "profile-pass";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Mi Perfil
						p Tu correo de ingreso es: emmanuel@email.com
					//Form Profile Data
					include includes/modules/formPassProfile
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug