- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "home";
- var sublocation = "";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Resumen de Servicios
					//Alerta
					include includes/modules/messageAlert.pug
					//Consumo Postpago
					include includes/modules/boxConsumePostpago.pug
					//Consumo Claro Hibrido
					include includes/modules/boxConsumeClaroHibrido.pug
					//Más Opciones
					include includes/modules/moreOptions.pug
					//Promociones para ti
					include includes/modules/promosForYou.pug
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug

		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")
		script.
			//Ver más links
			$('.expandBtn').on('click', function(){
				$(this).parent().parent().parent().find('.boxConsumeDetBarsWrap').toggleClass('open');
				$(this).parent().toggleClass('open');
				if($(this).parent().hasClass('open')){
					$(this).find('span').html('Ver menos')
				}else{
					$(this).find('span').html('Ver más')
				}
			});
			//Slider Options
			$optionsCarousel = false;
			function optSlider(){ 
				if($(window).width() < 640){
					if(!$optionsCarousel){
						$('.moreOptionsSlider').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.moreOptionsSlider').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			//Slider Promociones
			$('.promosForYouSlider').slick({
				autoplay: true,
				autoplaySpeed: 7000,
				speed: 600,
				slidesToShow: 1,
				slidesToScroll: 1,
				dots: true,
				arrows: false,
				infinite: false,
				fade: true
			});


			//Slider Options Mis Consumos
			$optionsSliderConsume = false;
			function optSliderConsume(){ 
				if($(window).width() < 640){
					if(!$optionsSliderConsume){
						$('.jsSliderConsume').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsSliderConsume = true;
					}
				} else if($(window).width() > 640){
					if($optionsSliderConsume){
						$('.jsSliderConsume').slick('unslick');
						$optionsSliderConsume = false;
					}
				}
			};
			$(document).ready(function() {
				optSlider();
				optSliderConsume();
			});
			$(window).on('resize', function(){
				optSlider();
				optSliderConsume();
			});