- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/headerSimple.pug

		main.wrapper

			include includes/modules/debitAuto.pug
			//CSS
			style
				include ../resources/css/includes/modules/loginRegistro.css


		include includes/modules/footer.pug

		//Modal Desasociar Servicio
		.modalGen#modalCancelDebit(style="display: none;")
			.modalGenWrap
				.modalText
					.statusFormImg.warning
						span
							i.ico-alert-circle
					h3 Cancelación Débito Automático
					p Deseas cancelar el débito automático mensual de tu servicio 22424288 asociada a tu tarjeta con terminación 9853.
					.btnCont.large
						a(href="debito-cancelar-status.html" target="_top").btn.btnBlancoRojo Cancelar Débito Automático
						a(href="debito-automatico.html" target="_top").textLink Regresar
		

		//Script Demo Open Modal
		script.
			$(window).on('load', function(){
				$.fancybox.open({
					src: '#modalCancelDebit', 
					type: 'inline'
				});
				return false;
			})