- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "help";
- var sublocation = "help-faqs";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.breadcrumbs
						ul
							li
								a(href="faqs.html") Preguntas frecuentes
							li Claro Hogar
						a(href="faqs.html").backLink Volver a Preguntas frecuentes
					.consSectTitle.withIco
						i.ico-tv
						h2 Claro Hogar

					//FAQS Claro Search
					include includes/modules/faqsClaroSearch.pug

					//FAQS Claro Detalle
					include includes/modules/faqsClaroDetail.pug

					//Paginacion
					include includes/modules/pagination.pug
					
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug

		//SCRIPT DEMO ACORDEON
		script.
			$('.faqsClaroAcc .faqsClaroAccTitle').on('click', function(){
				$(this).toggleClass('open');
				$(this).parent().find('.faqsClaroAccDesc').slideToggle();
			});