- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "help";
- var sublocation = "help-faqs";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Asistencia Claro
						p Encuentra información de ayuda sobre nuestros servicios

					//FAQS Claro Search
					include includes/modules/faqsClaroSearch.pug

					//FAQS Claro Boxes
					include includes/modules/faqsClaroBoxes.pug
					
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug