- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/headerSimple.pug

		main.wrapper

			section.white
				.container
					.contLogin

						.loginRegister.lRBoxRegister
							.contLR
								.loginRegisterDetails
									h1.h1 Regístrate
									//-.loginRegisterDetailsText
										p Ingresa a Mi Claro  para ver el resumen de tus servicios.
										p Ofrecerte las mejores ofertas para tu servicios es nuestra misión.	 
								form.loginRegisterBox 
									fieldset.contTitleFormLRB  
										h3.h3 2. Código de seguridad
										p Ingresa el código de seguridad enviado al correo electrónico: 
											strong mariale.romas@gmail.com

									fieldset.contCBLRB
										.formSecureCode
											p
												strong Ingresa tu código:
											.formSecureCodeGrid
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
											p Si no recibiste el código, haz 
												a(href="#").textLink clic aquí
												br
												|  para reenviarlo
									.loginRegisterActions.spaceTop
										a.btn.btnBlancoRojo Continuar
										p 
											a(href="#").textLinkOnly Regresar

							.loginRegisterImg
								picture
									//- Mobil
									source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
									source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
									//- Desktop
									source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
									source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
									img(src='assets/img/img-chico-registro.png' alt='Claro Planes' width='375' height='582')

						.loginInfo.lIBox
							.loginInfoTitle
								h3.h2 Beneficios de registrarte en Mi Claro
								p.h5 Podrás realizar tus gestiones sin importar donde estés, desde la comodidad de tu hogar. Registrarte ya en Mi Claro.

							.contLitsMedia
								.itemMedia
									.itemMedia
										i.cIco-multiplataforma
										.iMInfo Recuerda que tu usuario Mi Claro lo puedes utilizar para otras plataformas como: Tienda en línea, Mi Claro App y Claro Play
									.itemMedia
										i.cIco-servicio-movil
										.iMInfo Paga tus servicios, gestiona tu cuenta y contrata todo aquí
									.itemMedia
										i.cIco-pagar-factura
										.iMInfo Ciclo de facturación.
									.itemMedia
										i.cIco-detalle-servicios
										.iMInfo Detalle de llamadas de tus servicios móviles y fijos.
									.itemMedia
										i.cIco-saldos
										.iMInfo Consulta tus consumos y saldos de minutos, internet y SMS
									.itemMedia
										i.cIco-check-hexagono
										.iMInfo Revisa la información de tu plan actual y servicios contratados.

			section.white
				.container
					h2 Descárgala en tu Store favorita
					.contItemsStore.jsSlidesStore
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-claro-musica
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-claro-video
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-mi-claro
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery

			//CSS
			style
				include ../resources/css/includes/modules/loginRegistroV2.css


		include includes/modules/footer.pug
		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")

		script.
			//Slider Options
			$optionsCarousel = false;
			function optSliderStore(){ 
				if($(window).width() < 960){
					if(!$optionsCarousel){
						$('.jsSlidesStore').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 2,
							slidesToScroll: 2,
							dots: true,
							arrows: false,
							infinite: false,
							responsive: [{
								breakpoint: 665,
								settings: {
									slidesToShow: 1,
									slidesToScroll: 1,
									dots: true
								}
							}]
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.jsSlidesStore').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			//Slider Promociones


			$(document).ready(function() {
				optSliderStore();
			});
			$(window).on('resize', function(){
				optSliderStore();
			});