- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/headerSimple.pug

		main.wrapper

			include includes/modules/login.pug
			//CSS
			style
				include ../resources/css/includes/modules/loginRegistroV2.css


		include includes/modules/footer.pug
		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")

		script.
			//Slider Options
			$optionsCarousel = false;
			function optSlider(){ 
				if($(window).width() < 960){
					if(!$optionsCarousel){
						$('.jsSlidesQuickAccess').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 4,
							slidesToScroll: 4,
							dots: true,
							arrows: false,
							infinite: false
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.jsSlidesQuickAccess').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			//Slider Promociones
			$(document).ready(function() {
				optSlider();
			});
			$(window).on('resize', function(){
				optSlider();
			});
			$('.hideShowPass').on('click', function(){
				$(this).parent().toggleClass('show');
				if($(this).parent().hasClass('show')){
					return $(this).parent().find('input').prop('type', 'text');
				}else{
					return $(this).parent().find('input').prop('type', 'password');
				}
			});