-var iconSpriteColorIcons = [{icono: "4g"}, {icono: "24-horas"}, {icono: "agendar-cita"}, {icono: "agregar-servicio-movil"}, {icono: "altas-velocidades"}, {icono: "bloqueo-sim-card"}, {icono: "celulares-con-plan"}, {icono: "celulares-prepago"}, {icono: "chat"}, {icono: "chat-en-linea"}, {icono: "chip"}, {icono: "cobertura"}, {icono: "conexion-total"}, {icono: "consumo"}, {icono: "contactanos"}, {icono: "control-parental"}, {icono: "crear-cuenta"}, {icono: "decodificador"}, {icono: "fallas-del-servicio"}, {icono: "login"}, {icono: "menu-telefonico"}, {icono: "mi-claro"}, {icono: "movil-user"}, {icono: "nuevo-equipo"}, {icono: "nuevo-servicio"}, {icono: "pagar-factura"}, {icono: "pago-personalizado"}, {icono: "portabilidad"}, {icono: "recarga"}, {icono: "reversa-portabilidad"}, {icono: "saldos-y-consumos"}, {icono: "saldos"}, {icono: "sap"}, {icono: "servicio-movil"}, {icono: "servicios-hogar"}, {icono: "sim"}, {icono: "tecnologia-y-accesorios"}, {icono: "tv"}, {icono: "web"}, {icono: "factura"}, {icono: "servicios-tienda"}, {icono: "comunicacion-confirmacion"}, {icono: "correo-confirmacion"}, {icono: "adquirir-servicio"},{icono: "factura2"}, {icono: "equipo-user"}, {icono: "adquirir-servicio2"}, {icono: "saldos2"}, {icono: "agricultura"}, {icono: "salud"}, {icono: "gobierno"}, {icono: "finanzas"}, {icono: "casa-inteligente"}, {icono: "computadoras"}, {icono: "smartphones"}, {icono: "smart-tv"}, {icono: "videojuegos"}, {icono: "vigilancia"}, {icono: "24-horas2"}, {icono: "cambiazo"}, {icono: "envia-solicitudes"}, {icono: "compra-paquetes"}, {icono: "accede-servicios"}, {icono: "realiza-pagos"}, {icono: "redireccionar"}, {icono: "check-hexagono"}, {icono: "miClaro-empresas"}, {icono: "claro-musica"}, {icono: "claro-video"}, {icono: "tnt-sports"}, {icono: "netflix"}, {icono: "spotify"}, {icono: "hbo"}, {icono: "star"}, {icono: "paquete-total"}, {icono: "golden"}, {icono: "deezer"}, {icono: "zoom"}, {icono: "google-meet"}, {icono: "google-maps"}, {icono: "wikipedia"}, {icono: "khan-academy"}, {icono: "uber"}, {icono: "whatsapp"}]

-var iconSpriteActions = [{icono: "award"}, {icono: "bell-off"}, {icono: "bell"}, {icono: "bookmark"}, {icono: "frown"}, {icono: "gift"}, {icono: "heart"}, {icono: "meh"}, {icono: "smile"}, {icono: "star-full"}, {icono: "star-half"}, {icono: "star"}, {icono: "thumbs-down"}, {icono: "thumbs-up"}]

-var iconSpriteFiles = [{icono: "archive"}, {icono: "book-open"}, {icono: "book"}, {icono: "clipboard"}, {icono: "download-cloud"}, {icono: "download"}, {icono: "file-minus"}, {icono: "file-plus"}, {icono: "file-text"}, {icono: "file"}, {icono: "folder-minus"}, {icono: "folder-plus"}, {icono: "folder"}, {icono: "link-2"}, {icono: "link"}, {icono: "printer"}, {icono: "save"}, {icono: "upload-cloud"}, {icono: "upload"}]

-var iconSpriteClaroVideo = [{icono: "rating-g"}, {icono: "rating-nc-17"}, {icono: "rating-pg-13"}, {icono: "rating-pg"}, {icono: "rating-r"}]

-var iconSpriteConnection = [{icono: "bluetooth"}, {icono: "rss"}, {icono: "wifi-off"}, {icono: "wifi"}]

-var iconSpriteContact = [{icono: "phone-call"}, {icono: "phone-forwarded"}, {icono: "phone-incoming"}, {icono: "phone-missed"}, {icono: "phone-outgoing"}, {icono: "phone"}]

-var iconSpriteDesign = [{icono: "align-center"}, {icono: "align-justify"}, {icono: "align-left"}, {icono: "align-right"}, {icono: "anchor"}, {icono: "bold"}, {icono: "columns"}, {icono: "command"}, {icono: "copy"}, {icono: "crosshair"}, {icono: "delete"}, {icono: "edit-2"}, {icono: "edit-3"}, {icono: "italic"}, {icono: "layout"}, {icono: "life-buoy"}, {icono: "maximize-2"}, {icono: "minimize-2"}, {icono: "move"}, {icono: "pen-tool"}, {icono: "scissors"}, {icono: "sidebar"}, {icono: "type"}, {icono: "underline"}]

-var iconSpriteEcommerce = [{icono: "box"}, {icono: "credit-card"}, {icono: "dollar-sign"}, {icono: "globe"}, {icono: "hash"}, {icono: "help"}, {icono: "help2"}, {icono: "package"}, {icono: "percent"}, {icono: "shopping-bag"}, {icono: "shopping-cart"}, {icono: "store"}, {icono: "tag"}, {icono: "truck"}]

-var iconSpriteDevices = [{icono: "airplay"}, {icono: "monitor"}, {icono: "smartphone"}, {icono: "smartphone2"}, {icono: "tablet"}, {icono: "tv"}]

-var iconSpritePackages = [{icono: "1-play-internet"}, {icono: "1-play-telefono"}, {icono: "1-play-tv"}, {icono: "2-play-telefono-internet"}, {icono: "2-play-tv-internet"}, {icono: "2-play-tv-telefono"}, {icono: "3-play"}]

-var iconSpriteArrows = [{icono: "arrow-down-circle"}, {icono: "arrow-down-left"}, {icono: "arrow-down-right"}, {icono: "arrow-down"}, {icono: "arrow-left-circle"}, {icono: "arrow-left"}, {icono: "arrow-right-circle"}, {icono: "arrow-right"}, {icono: "arrow-up-circle"}, {icono: "arrow-up-left"}, {icono: "arrow-up-right"}, {icono: "arrow-up"}, {icono: "chevron-down"}, {icono: "chevron-left"}, {icono: "chevron-right"}, {icono: "chevron-up"}, {icono: "chevrons-down"}, {icono: "chevrons-left"}, {icono: "chevrons-right"}, {icono: "chevrons-up"}, {icono: "corner-down-left"}, {icono: "corner-down-right"}, {icono: "corner-left-down"}, {icono: "corner-left-up"}, {icono: "corner-right-down"}, {icono: "corner-right-up"}, {icono: "corner-up-left"}, {icono: "corner-up-right"}, {icono: "dropdown"}]

-var iconSpriteGraphs = [{icono: "bar-chart-2"}, {icono: "bar-chart"}, {icono: "pie-chart"}, {icono: "target"}, {icono: "trending-down"}, {icono: "trending-up"}]

-var iconSpriteMap = [{icono: "compass"}, {icono: "flag"}, {icono: "map-pin"}, {icono: "map"}]

-var iconSpriteMessages = [{icono: "at-sign"}, {icono: "edit"}, {icono: "external-link"}, {icono: "inbox"}, {icono: "mail"}, {icono: "message-circle"}, {icono: "message-square"}, {icono: "paperclip"}, {icono: "send"}, {icono: "voicemail"}]

-var iconSpriteMedia = [{icono: "aperture"}, {icono: "battery-charging"}, {icono: "battery"}, {icono: "camera-off"}, {icono: "camera"}, {icono: "cast"}, {icono: "channel"}, {icono: "disc"}, {icono: "fast-forward"}, {icono: "film"}, {icono: "game"}, {icono: "headphones"}, {icono: "image"}, {icono: "mic-off"}, {icono: "mic"}, {icono: "music"}, {icono: "pause-circle"}, {icono: "pause"}, {icono: "play-circle"}, {icono: "play"}, {icono: "power"}, {icono: "radio"}, {icono: "refresh-ccw"}, {icono: "refresh-cw"}, {icono: "repeat"}, {icono: "rewind"}, {icono: "rotate-ccw"}, {icono: "rotate-cw"}, {icono: "share-2"}, {icono: "share"}, {icono: "shuffle"}, {icono: "skip-back"}, {icono: "skip-forward"}, {icono: "speaker"}, {icono: "square"}, {icono: "stop-circle"}, {icono: "video-off"}, {icono: "video"}, {icono: "volume-1"}, {icono: "volume-2"}, {icono: "volume-x"}, {icono: "volume"}, {icono: "zap-off"}, {icono: "zap"}]

-var iconSpriteNav = [{icono: "alert-circle"}, {icono: "alert-octagon"}, {icono: "alert-triangle"}, {icono: "calendar"}, {icono: "check-circle"}, {icono: "check-square"}, {icono: "check"}, {icono: "eye-off"}, {icono: "eye"}, {icono: "filter"}, {icono: "gps"}, {icono: "grid"}, {icono: "help-circle"}, {icono: "home"}, {icono: "info"}, {icono: "layers"}, {icono: "list"}, {icono: "loader"}, {icono: "log-in"}, {icono: "log-out"}, {icono: "maximize"}, {icono: "menu"}, {icono: "minimize"}, {icono: "minus-circle"}, {icono: "minus-square"}, {icono: "minus"}, {icono: "more-horizontal"}, {icono: "more-vertical"}, {icono: "mouse-pointer"}, {icono: "navigation-2"}, {icono: "navigation"}, {icono: "plus-circle"}, {icono: "plus-square"}, {icono: "plus"}, {icono: "search"}, {icono: "server"}, {icono: "settings"}, {icono: "slash"}, {icono: "sliders"}, {icono: "toggle-left"}, {icono: "toggle-right"}, {icono: "tool"}, {icono: "trash-2"}, {icono: "trash"}, {icono: "x-circle"}, {icono: "x-octagon"}, {icono: "x-square"}, {icono: "x"}, {icono: "zoom-in"}, {icono: "zoom-out"}]

-var iconSpriteOther = [{icono: "briefcase"}, {icono: "chrome"}, {icono: "circle"}, {icono: "clock"}, {icono: "coffee"}, {icono: "cpu"}, {icono: "database"}, {icono: "droplet"}, {icono: "hard-drive"}, {icono: "hexagon"}, {icono: "octagon"}, {icono: "triangle"}, {icono: "watch"}]

-var iconSpriteSecurity = [{icono: "key"}, {icono: "lock"}, {icono: "shield-off"}, {icono: "shield"}, {icono: "unlock"}]

-var iconSpriteUsers = [{icono: "user-check"}, {icono: "user-love"}, {icono: "user-minus"}, {icono: "user-monitor"}, {icono: "user-phone"}, {icono: "user-plus"}, {icono: "user-x"}, {icono: "user"}, {icono: "users"}, {icono: "claro-user"}]

-var iconSpriteWeather = [{icono: "cloud-drizzle"}, {icono: "cloud-lightning"}, {icono: "cloud-off"}, {icono: "cloud-rain"}, {icono: "cloud-snow"}, {icono: "cloud"}, {icono: "moon"}, {icono: "sun"}, {icono: "sunrise"}, {icono: "sunset"}, {icono: "thermometer"}, {icono: "umbrella"}, {icono: "wind"}]

-var iconSpriteSocial = [{icono: "facebook-messenger-s"}, {icono: "facebook-s"}, {icono: "google-plus-s"}, {icono: "instagram-s"}, {icono: "linkedin-s"}, {icono: "pinterest-s"}, {icono: "skype-s"}, {icono: "snapchat-s"}, {icono: "spotify-s"}, {icono: "telegram-s"}, {icono: "tinder-s"}, {icono: "twitter-s"}, {icono: "waze-s"}, {icono: "whatsapp-s"}, {icono: "youtube-s"}, {icono: "tiktok-s"}, {icono: "c-instagram-s"}, {icono: "c-snapchat-s"}, {icono: "c-telegram-s"}, {icono: "c-tiktok-s"}, {icono: "c-twitter-s"}, {icono: "c-waze-s"}, {icono: "c-whatsapp-s"}, {icono: "c-youtube-s"}]

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	style.
		.iconListCat + .iconListCat{
			margin-top: 40px;
		}
		.iconListCont{
			display: flex;
			flex-wrap: wrap;
		}
		.iconListCont article{
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 150px;
			height: 120px;
			padding: 10px;
		}
		.iconListCont article i{
			font-size: 40px;
		}
		.iconListCont article span{
			font-size: 12px;
			text-align: center;
			display: block;
			margin-top: 10px;
		}

	body
		main
			section
				.container
					.iconList
						.iconListCat
							.title
								h4 Iconos de Color
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteColorIcons
									article
										i(class=`cIco-${val.icono}`)
										span
											strong cIco-#{val.icono}
						.iconListCat
							.title
								h4 Acciones
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteActions
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						.iconListCat
							.title
								h4 Archivos
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteFiles
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						.iconListCat
							.title
								h4 Claro Video
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteClaroVideo
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Conexion
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteConnection
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Contacto
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteContact
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Diseño
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteDesign
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}

						.iconListCat
							.title
								h4 E-commerce
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteEcommerce
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Equipos
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteDevices
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}

						.iconListCat
							.title
								h4 Paquetes
							.iconListCont(style="margin-top: 20px")
								each val in iconSpritePackages
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Flechas
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteArrows
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Gráficas
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteGraphs
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Mapa
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteMap
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Mensajes
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteMessages
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Multimedia
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteMedia
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Navegación
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteNav
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Otros
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteOther
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Seguridad
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteSecurity
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Usuarios
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteUsers
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}

						.iconListCat
							.title
								h4 Clima
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteWeather
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
						
						.iconListCat
							.title
								h4 Redes Sociales
							.iconListCont(style="margin-top: 20px")
								each val in iconSpriteSocial
									article
										i(class=`ico-${val.icono}`)
										span
											strong ico-#{val.icono}
