- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "bills";
- var sublocation = "";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Mis Facturas
					//Alerta
					include includes/modules/messageAlert.pug
					//Consumo Postpago
					include includes/modules/boxBills.pug
					//Más Opciones
					include includes/modules/moreOptions.pug
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug

		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")
		script.
			//SubMenu Options
			$('.dotsOptMenuBtn').on('click', function(){
				$(this).parent().toggleClass('open');
				$(this).parent().find('.dotsOptMenuList').toggleClass('open');
			});
			//Slider Options
			$optionsCarousel = false;
			function optSlider(){ 
				if($(window).width() < 640){
					if(!$optionsCarousel){
						$('.moreOptionsSlider').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.moreOptionsSlider').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			$(document).ready(function() {
				optSlider();
			});
			$(window).on('resize', function(){
				optSlider();
			});