- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "buy";
- var sublocation = "buy-recharges";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Selecciona tu Recarga o Paquete
					//-ul.timelineSteps
						li.current 
							span.numTS 1 
							span.txtTS Seleccion de Compra
						li
							span.numTS 2 
							span.txtTS Método de Pago
						li 
							span.numTS 3 
							span.txtTS Confirmación
					h3.subtitleStep 1. Datos de Compra

					form.formBoxStep
						.boxStep
							.twoColums
								fieldset
									label Elige que deseas comprar
									span.select
										select#idRecargaPlanes
											option(value="1", selected) Recarga
											option(value="2") Paquetes 
								fieldset.wrapperPaquete
									label Tipo de Paquete
									span.select
										select
											option(value="" selected disabled) Seleccionar una opción
											option(value="") Paquetes 
											option(value="") Paquetes 2
											option(value="") Paquetes 3
							.twoColums
								fieldset.wrapperRecarga
									label Elige la lÍnea a realizar compra
									span.select
										select
											option(value="" selected disabled) Seleccionar una opción
											option(value="") 881983740
											option(value="") 881983745 
								fieldset.wrapperPaquete
									label Elige la lÍnea a la que deseas realizar tu compra
									span.select
										select
											option(value="" selected disabled) Seleccionar una opción
											option(value="") 881983740
											option(value="") 881983745 

							.listRecargaPaquetes
								.wrapperRecarga
									h3.titleLRP Selecciona el monto de tu Recarga
									.contBoxPaquetes.jsSlidesRecargaPaquete
										.wrapperItemBox
											.itemBoxPaquetes
												label
													input(type="radio" name="recarga")
													.headerIBP Recarga 100
													.bodyIBP
														p.precioBIBP Q 100.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes
												label
													input(type="radio" name="recarga")
													.headerIBP Recarga 75
													.bodyIBP
														p.precioBIBP Q 75.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes
												label
													input(type="radio" name="recarga")
													.headerIBP Recarga 50
													.bodyIBP
														p.precioBIBP Q 50.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes
												label
													input(type="radio" name="recarga")
													.headerIBP Recarga 25
													.bodyIBP
														p.precioBIBP Q 25.00
													.footerIBP
														.btn.btnTransGris Seleccionar

								.wrapperPaquete
									h3.titleLRP Selecciona el paquete que deseas comprar
									.contBoxPaquetes.jsSlidesRecargaPaquete
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP 1GB
													.bodyIBP
														.listRS
															i.ico-facebook-s
															i.ico-c-instagram-s
															i.ico-c-twitter-s
															i.ico-facebook-messenger-s
															i.ico-c-whatsapp-s
														p.diasBIBP 7 días
														p.precioBIBP Q 10.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP 2GB
													.bodyIBP
														.listRS
															i.ico-facebook-s
															i.ico-c-instagram-s
															i.ico-c-twitter-s
															i.ico-facebook-messenger-s
															i.ico-c-whatsapp-s
														p.diasBIBP 15 días
														p.precioBIBP Q 60.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP 125 Minutos 
														br 
														| NAC/USA
													.bodyIBP
														p.timeBIBP Minutos Nacionales / USA
														p.diasBIBP 15 días
														p.precioBIBP Q 60.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP 100 Minutos 
														br
														| NAC/USA
													.bodyIBP
														p.timeBIBP Minutos Nacionales / USA
														p.diasBIBP 7 días
														p.precioBIBP Q 10.00
													.footerIBP
														.btn.btnTransGris Seleccionar
								.wrapperPaquete
									h3.titleLRP Paquetes Todo Incluido
									.contBoxPaquetes.jsSlidesRecargaPaquete
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP Todo Incluido, 
														br 
														| minutos Ilimitados
													.bodyIBP
														.listRS
															i.ico-facebook-s
															i.ico-c-instagram-s
															i.ico-c-twitter-s
															i.ico-facebook-messenger-s
															i.ico-c-whatsapp-s
														p.diasBIBP 7 días
														p.precioBIBP Q 10.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP Todo Incluido 3GB
													.bodyIBP
														.listRS
															i.ico-facebook-s
															i.ico-c-instagram-s
															i.ico-c-twitter-s
															i.ico-facebook-messenger-s
															i.ico-c-whatsapp-s
														p.diasBIBP 15 días
														p.precioBIBP Q 60.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP Ilimitado Nacional
													.bodyIBP
														p.timeBIBP Minutos Nacionales / USA
														p.diasBIBP 15 días
														p.precioBIBP Q 60.00
													.footerIBP
														.btn.btnTransGris Seleccionar
										.wrapperItemBox
											.itemBoxPaquetes.v2
												label
													input(type="radio" name="paquete")
													.headerIBP Ilimitado Nacional
													.bodyIBP
														p.timeBIBP Minutos Nacionales / USA
														p.diasBIBP 7 días
														p.precioBIBP Q 10.00
													.footerIBP
														.btn.btnTransGris Seleccionar
						.contBtnStep
							button.btn.btnPrimario(type="submit") Continuar
							a.btn.btnNegro(href="#") Regresar

			//CSS
			style
				include ../resources/css/includes/modules/console.css
				

		include includes/modules/footer.pug

		//Script Demo

		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")
		script.

			$(document).ready(function() {
				$('.jsSlidesRecargaPaquete').slick({
					autoplay: true,
					autoplaySpeed: 7000,
					speed: 600,
					slidesToShow: 3,
					slidesToScroll: 3,
					dots: true,
					arrows: true,
					infinite: false	,
					responsive: [{
						breakpoint: 1280,
						settings: {
							arrows: false,
						}
					},{
						breakpoint: 640,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: true, 
							arrows: false,
						}
					}]
				});
			});


			//Script Demo para seleccion de servicio
			var itemValPlan = $('#idRecargaPlanes'); 
			if(itemValPlan.val() == '2'){
				$('.wrapperRecarga').hide();
				$('.wrapperPaquete').show();
			}else{
				$('.wrapperPaquete').hide();
				$('.wrapperRecarga').show();
			}
			
			itemValPlan.on('change', function() {
				if(itemValPlan.val() == '2'){
					$('.wrapperRecarga').hide();
					$('.wrapperPaquete').show();
					$('.jsSlidesRecargaPaquete').slick('setPosition');
				}else{
					$('.wrapperPaquete').hide();
					$('.wrapperRecarga').show();
					$('.jsSlidesRecargaPaquete').slick('setPosition');
				}
			});