- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/headerSimple.pug

		main.wrapper.light.posR
			.bgStatus
				picture
					source(srcset='assets/img/bg-status.webp' type='image/webp')
					source(srcset='assets/img/bg-status.jpg' type='image/jpg')
					img(src='assets/img/bg-status.jpg' alt='' width='1440' height='900')

			section
				.container
					.statusForm.customSF
						.statusFormImg.success
							span
								i.ico-check
						.statusFormText
							h2 ¡Felicidades!
							p Tu Registro se ha creado de manera exitosa ahora podrás disfrutar de todos los beneficios y ventajas de tener una cuenta Mi Claro.
							p Recuerda que tu usuario Mi Claro lo puedes utilizar para otras plataformas como: Tienda en línea y Claro Video
							p 
								strong Tus datos de acceso son: 
								br 
								| Usuario: mail@correomail.com
								br
								| Contraseña personalizada
						a(href="#").btn.btnPrimario
							span Ir a Home
			//CSS
			style
				include ../resources/css/includes/modules/loginRegistro.css


		include includes/modules/footer.pug