- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "services";
- var sublocation = "services-fixed";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Mis servicios fijos
						p Tienes 2 servicios fijos contratados
					//Servicio Fijo
					include includes/modules/boxConsumeServicioFijo.pug
					//Servicio Fijo
					include includes/modules/boxConsumeServicioFijoV2.pug
					//Más Opciones
					include includes/modules/moreOptions.pug
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug

		//Modal Desasociar Servicio
		.modalGen#modalUnassociate(style="display: none;")
			.modalGenWrap
				.modalText
					h3 Confirmar
					p Estas seguro que deseas eliminar este servicio: 
						br
						strong Móvil Prepago
						br
						strong Número móvil: 25092602
					.btnCont
						a(data-fancybox data-src="#modalUnassSuccess" href="javascript:;" onclick="$.fancybox.close()").btn.btnPrimario Confirmar
						a(href="#" onclick="$.fancybox.close()").textLink Cancelar
		
		//Modal Desasociar Servicio Exito
		.modalGen#modalUnassSuccess(style="display: none;")
			.modalGenWrap
				.modalText
					i.cIco-check-hexagono
					p
						strong Desasociación de Servicio
						br
						| Tu servicio fue desasociado exitosamente 
					.btnCont
						a(onclick="$.fancybox.close()").btn.btnBlancoAzul Cerrar

		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")
		script.
			//SubMenu Options
			$('.dotsOptMenuBtn').on('click', function(){
				$(this).parent().find('.dotsOptMenuList').toggleClass('open');
			});
			//Ver más links
			$('.boxConsAccActBtn').on('click', function(){
				//$(this).parent().parent().find('.boxConsumeAccDetails').toggleClass('open');
				$(this).parent().parent().find('.boxConsumeAccDetails').slideToggle();
				$(this).parent().toggleClass('open');
				if($(this).parent().hasClass('open')){
					$(this).find('span').html('Ver menos')
				}else{
					$(this).find('span').html('Ver más')
				}
			});
			//Slider Options
			$optionsCarousel = false;
			function optSlider(){ 
				if($(window).width() < 640){
					if(!$optionsCarousel){
						$('.moreOptionsSlider').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.moreOptionsSlider').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			$(document).ready(function() {
				optSlider();
			});
			$(window).on('resize', function(){
				optSlider();
			});