- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "services";
- var sublocation = "services-mobile";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.breadcrumbs
						ul
							li
								a(href="servicios-moviles.html") Servicios móviles
							li Detalle servicio móvil
						a(href="servicios-moviles.html").backLink Volver a Servicios móviles
					.consSectTitle
						h2 Detalle de mi plan
					//Info Postpago
					include includes/modules/boxInfoDetallePostpago.pug
					//Detalle Postpago
					include includes/modules/boxConsumeDetallePostpago.pug
					//Historial Postpago
					include includes/modules/boxConsumeHistorial.pug
					//Más Opciones
					include includes/modules/moreOptions.pug
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug

		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")
		script.
			//Ver más links
			$('.boxConsAccActBtn').on('click', function(){
				//$(this).parent().parent().find('.boxConsumeAccDetails').toggleClass('open');
				$(this).parent().parent().find('.boxConsumeAccDetails').slideToggle();
				$(this).parent().toggleClass('open');
				if($(this).parent().hasClass('open')){
					$(this).find('span').html('Ver menos')
				}else{
					$(this).find('span').html('Ver más')
				}
			});
			//Slider Options
			$optionsCarousel = false;
			function optSlider(){ 
				if($(window).width() < 640){
					if(!$optionsCarousel){
						$('.moreOptionsSlider').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.moreOptionsSlider').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			//Slider Options Mis Consumos
			$optionsSliderConsume = false;
			function optSliderConsume(){ 
				if($(window).width() < 640){
					if(!$optionsSliderConsume){
						$('.jsSliderConsume').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 1,
							slidesToScroll: 1,
							dots: false,
							arrows: false,
							infinite: false
						});
						$optionsSliderConsume = true;
					}
				} else if($(window).width() > 640){
					if($optionsSliderConsume){
						$('.jsSliderConsume').slick('unslick');
						$optionsSliderConsume = false;
					}
				}
			};
			$(document).ready(function() {
				optSlider();
				optSliderConsume();
			});
			$(window).on('resize', function(){
				optSlider();
				optSliderConsume();
			});