- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";
- var location = "help";
- var sublocation = "help-shops";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/header.pug

		main.wrapper.logged
			.consoleWrapper
				.consoleWrapperInner
					.consSectTitle
						h2 Tiendas Claro
						p Consulta los horarios y ubicaciones de nuestros centros de atención al cliente

					//Tiendas Claro Search
					include includes/modules/cacsClaroSearch.pug

					//Tiendas Claro Map
					include includes/modules/cacsClaroMap.pug

					//Paginador
					include includes/modules/pagination.pug
					
			//CSS
			style
				include ../resources/css/includes/modules/console.css

		include includes/modules/footer.pug