//- Variables
@import "../abstracts/variables"
@import "../abstracts/mixins"

*
	margin: 0
	padding: 0

html
	font-size: $fontSize
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

body
	font-family: $fontPrin
	color: $gris7
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	background-color: $gris1
	overflow-x: hidden
	&.white
		background-color: #fff !important
	&.sticky
		overflow: hidden

// Special Classes
.hideOnM
	display: none

// Text Elements
p, ul, li
	line-height: 1.4

strong
	font-weight: 700

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	font-weight: 700
	line-height: 1.2
	&.hCenter
		text-align: center 

h1, .h1, h2, .h2, h3, .h3, h4, .h4
	font-family: $fontSec

h1, .h1
	+font-size(28px)
h2, .h2
	+font-size(24px)
h3, .h3
	+font-size(20px)
h4, .h4
	+font-size(18px)
h5, .h5
	+font-size(18px)
h6, .h6
	+font-size(16px)

.hideH1
	font-size: 0
	width: 1px
	height: 1px
	display: inline-block
	overflow: hidden
	position: absolute !important
	border: 0 !important
	padding: 0 !important
	margin: 0 !important
	clip: rect(1px,1px,1px,1px)

.dottedList
	li
		position: relative
		padding-left: 16px
		&:before
			+borderRadius(50%)
			content: ''
			position: absolute
			left: 0
			top: 7px
			width: 6px
			height: 6px
			display: block
			background-color: $color-text
		+ li
			margin-top: $spacer
	&.red
		li
			&:before
				background-color: $rojo6
	&.yellow
		li
			&:before
				background-color: $amarillo6


// Layout elements
.wrapper
	min-height: calc(100vh - 145px)
	padding-top: 55px
	&.light
		background-color: #fff
	&.logged
		padding-top: 85px	
.posR
	position: relative
section
	position: relative
	padding: $spacer4 0
	&.light
		background-color: $gris1
	&.white
		background-color: #fff

.container
	+bx
	width: 100%
	max-width: 1280px
	margin: 0 auto
	padding: 0 $spacer2

// Link and Buttons
a
	+aReset
	+fx(all, 0.5s)
	outline: none
.iconLink
	font-weight: 500
	position: relative
	color: $azul5
	display: inline-block
	padding-left: 24px
	text-decoration: underline
	cursor: pointer
	i
		position: absolute
		left: 0
		top: 0

.textLink
	font-weight: 500
	position: relative
	color: $azul5
	display: inline-block
	text-decoration: underline
	cursor: pointer
.textLinkOnly
	font-weight: 500
	position: relative
	color: $azul5
	display: inline-block
	text-decoration: none
.btn
	+bx
	+fx(all, 0.5s)
	+borderRadius(20px)
	+font-size(16px)
	font-weight: 700
	color: #fff
	text-align: center
	width: auto
	height: 40px
	position: relative
	display: inline-block
	padding: $spacer0+3 $spacer2
	background-color: transparent
	border: $rojo6 1px solid
	cursor: pointer
	&.btnPrimario
		color: #fff
		background-color: $rojo6
		&:hover
			background-color: $rojo8
			border-color: $rojo8
	&.btnTransAzul
		color: #fff
		background-color: transparent
		border-color: #fff
		&:hover
			color: $azul5
			background-color: #fff
			border-color: $azul5
	&.btnTransRojo
		color: #fff
		background-color: transparent
		border-color: #fff
		&:hover
			color: $rojo6
			background-color: #fff
			border-color: $rojo6
	&.btnTransRojo5
		color: #fff
		background-color: $rojo5
		border-color: $rojo5
		&:hover
			color: $rojo5
			background-color: #fff
	&.btnTransRojo8
		color: #fff
		background-color: transparent
		border-color: #fff
		&:hover
			color: $rojo8
			background-color: #fff
			border-color: $rojo8
	&.btnTransRojoRojo
		color: $rojo6
		background-color: transparent
		border-color: $rojo6
		&:hover
			color: #fff
			background-color: $rojo6
	&.btnTransGris
		color: $gris7
		background-color: transparent
		border-color: $gris7
		&:hover
			color: #fff
			background-color: $gris7
	&.btnTransNegro
		color: $color-text
		background-color: transparent
		border-color: $color-text
		&:hover
			color: #fff
			background-color: $color-text
			border-color: $color-text
	&.btnTransNegroBlanco
		color: $color-text
		background-color: transparent
		border-color: $color-text
		&:hover
			color: $color-text
			background-color: #fff
			border-color: #fff
	&.btnTransBlancoNegro
		color: #fff
		background-color: transparent
		border-color: #fff
		&:hover
			color: $color-text
			background-color: #fff
	&.btnTransBlancoAzul
		color: #fff
		background-color: transparent
		border-color: #fff
		&:hover
			color: $azul5
			background-color: #fff
			border-color: $azul5
	&.btnBlancoRojo
		color: $rojo6
		background-color: transparent
		border-color: $rojo6
		&:hover
			color: #fff
			background-color: $rojo6
			//border-color: #fff
	&.btnBlancoAzul
		color: $azul5
		background-color: transparent
		border-color: $azul5
		&:hover
			color: #fff
			background-color: $azul5
			//border-color: #fff
	&.btnBlancoNegro
		color: $color-text
		background-color: #fff
		border-color: transparent
		&:hover
			color: #fff
			background-color: $color-text
			border-color: transparent
	&.btnNegro
		color: #fff
		background-color: $gris8
		border-color: transparent
		&:hover
			color: #fff
			background-color: $gris5
			border-color: transparent
	&.btnGrisRojo
		color: $color-text
		background-color: $color-bg
		border-color: $color-bg
		&:hover
			color: #fff
			background-color: $rojo8
			border-color: $rojo8
	&.btnFlatText
		color: $azul5
		text-decoration: underline
		border-color: transparent
		padding-left: 0
		padding-right: 0
	&.btnDisabled
		color: $gris3
		background-color: #EBEBEB
		border-color: #EBEBEB
		pointer-events: none
		cursor: auto
	&.withIco
		padding-left: 50px
		span
			display: inline-block
		i
			+font-size(22px)
			position: absolute
			top: 8px
			margin-left: -32px
button
	&.btn
		padding: 9px $spacer2
	
//Images
img
	display: block
.imgRespMax
	height: auto
	display: block
	width: 100%
picture
	img
		object-fit: cover

// Form Elements
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"],
select,
textarea
	+bx
	+borderRadius(12px)
	+font-size(16px)
	font-family: $fontPrin
	color: $color-text
	position: relative
	display: block
	width: 100%
	height: 40px
	padding: 7px $spacer3/2
	border: $color-border 1px solid
	background-color: #fff
	outline: none
	&:disabled
		background-color: #EBEBEB
textarea
	min-height: 130px
span.select
	+bx
	+borderRadius(12px)
	position: relative
	display: block
	width: 100%
	min-width: 180px
	height: 40px
	padding: 7px 0
	border: $color-border 1px solid
	background-color: #fff
	cursor: pointer
	select
		+appearance
		+font-size(16px)
		font-family: $fontPrin
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		padding: 0 46px 0 $spacer3/2
		background: transparent
		border: none
		outline: none
	&:after
		+claroIcon('e92e')
		+font-size(18px)
		position: absolute
		right: 16px
		top: 10px
		pointer-events: none
	&.big
		select
			font-weight: 700
		&:after
			top: 10px

.inputSearch
	+bx
	+borderRadius(12px)
	position: relative
	display: block
	width: 100%
	min-width: 180px
	height: 40px
	padding: 7px 0
	border: $color-border 1px solid
	background-color: #fff
	input
		+appearance
		+font-size(16px)
		font-family: $fontPrin
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		padding: 0 $spacer3/2 0 34px
		background: transparent
		border: none
		outline: none
	&:before
		+claroIcon('e9c8')
		+font-size(18px)
		position: absolute
		left: $spacer0
		top: $spacer0
		pointer-events: none

.inputPass
	width: 100%
	position: relative
	input
		padding-right: 44px
	.hideShowPass
		+font-size(20px)
		color: $gris4
		position: absolute
		right: 0
		top: 0
		padding: 9px $spacer
		cursor: pointer
		&:before
			+claroIcon('e95d')
	&.show
		.hideShowPass
			&:before
				+claroIcon('e95c')
		
.inputIcon
	position: relative
	> i
		+font-size(20px)
		+center(h)
		left: $spacer2
		z-index: 1
	input
		padding-left: $spacer5 - 4
	.tooltipModal
		+center(h)
		right: $spacer2
		cursor: pointer
		> i
			+font-size(22px)
			color: $azul5
	&.withTooltip
		input
			padding-right: $spacer5 - 4

.fsCard
	+mediaMin640
		+flex
		+alignItem(center)
	> input
		width: 100%
		+mediaMin640
			max-width: 260px
	.fsCardLogos
		display: none
		+mediaMin640
			+flex
			margin-left: $spacer
		li
			img
				+fx(all, 0.5s)
				filter: grayscale(100%)
				-webkit-filter: grayscale(100%)
				-moz-filter: grayscale(100%)
			+ li
				margin-left: $spacer0/2
		&.is_visa
			.fscl-visa
				img
					filter: grayscale(0%)
					-webkit-filter: grayscale(0%)
					-moz-filter: grayscale(0%)
		&.is_mastercard
			.fscl-mastercard
				img
					filter: grayscale(0%)
					-webkit-filter: grayscale(0%)
					-moz-filter: grayscale(0%)
		&.is_amex
			.fscl-amex
				img
					filter: grayscale(0%)
					-webkit-filter: grayscale(0%)
					-moz-filter: grayscale(0%)

.fsExpire
	+flex
	+justifyCont(space-between)
	+mediaMin640
		width: 100%
		max-width: 320px
	.fsExpireDate
		+flex
		+justifyCont(space-between)
		width: 180px
		position: relative
		> input
			width: 50%
			max-width: 82px
		> span
			+center(vh)
			width: 1px
			height: 40px
			background-color: $color-border
	.fsExpireCvv
		> input
			max-width: 82px

// Input checkbox
.checkbox
	+flex
	+alignItem(flex-start)
	+font-size(16px)
	font-weight: 300
	// display: block
	position: relative
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	input
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		margin: 0
		cursor: pointer
		opacity: 0
		filter: alpha(opacity = 0)
		&:checked
			~ .checkmark
				// background-color: #fbe1df
				&:after
					display: block

	.checkmark
		+bx
		+fx(all, 0.5s)
		+borderRadius(2px)
		position: relative
		height: 16px
		width: 16px
		min-width: 16px
		margin-right: $spacer0
		background-color: #fff
		border: $gris3 2px solid
		pointer-events: none
		&:after
			+claroIcon('e92d')
			+font-size(12px)
			+center(vh)
			color: $verde9
			display: none
	label
		line-height: 1.2
	&:hover
		input
			~ .checkmark
				background-color: $gris1
// input radio
.radio
	+flex
	+alignItem(flex-start)
	// display: block
	position: relative
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	input
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		margin: 0
		cursor: pointer
		opacity: 0
		filter: alpha(opacity = 0)
		z-index: 1
		&:checked
			~ .checkmark
				background-color: #fff
				&:after
					display: block

	.checkmark
		+fx(all, 0.5s)
		// position: absolute
		// top: -1px
		// left: 0
		+bx
		position: relative
		display: inline-block
		height: 18px
		width: 18px
		min-width: 15px
		margin-right: $spacer
		background-color: #fff
		border: $color-border 2px solid
		border-radius: 50%
		&:after
			+center(vh)
			content: ''
			width: 8px
			height: 8px
			background-color: $verde9
			display: none
			border-radius: 50%
	&.inv
		.checkmark
			margin-right: 0
			margin-left: $spacer

fieldset
	position: relative
	border: none

.formGen
	width: 100%
	max-width: 480px
	margin: 0 auto
	&.full
		max-width: initial
	&.extraPadd
		padding: $spacer2 0
	&.singleField
		min-height: 160px
	fieldset
		margin-bottom: $spacer2
		// padding-top: $spacer
		> label
			font-weight: 700
			display: inline-block
			padding-bottom: $spacer
	.formGenInfo
		margin-bottom: $spacer2
		p
			+font-size(14px)
			+ p
				margin-top: $spacer2
		&.normal
			p
				+font-size(16px)
			.formList
				li
					+font-size(16px)
		&.center
			text-align: center
		&.mt32
			margin-top: $spacer3

	.formList
		li
			+font-size(14px)
			position: relative
			padding-left: $spacer
			&:before
				+borderRadius(50%)
				content: ''
				position: absolute
				left: 0
				top: 8px
				width: 3px
				height: 3px
				display: block
				background-color: $rojo6

	.optionQuestion
		.optQuestGroup
			+flex
			margin-top: $spacer
			.radio, .checkbox
				+ .radio, + .checkbox
					margin-left: $spacer4

	.formSpListFs
		width: 100%
		max-width: 300px
		margin: 0 auto
		+mediaMin640
			padding-top: $spacer
			margin-bottom: $spacer2
		.radio, .checkbox
			label
				+font-size(14px)
				+mediaMin640
					+font-size(16px)
			+ .radio, + .checkbox
				margin-top: $spacer2
	
.formCopy
	+font-size(14px)
	color: #6C6C6C
	padding: $spacer 0
	display: inline-block



.jsSliderConsume
	.slick-list 
		padding: 0 20% 0 0 !important
	.slick-dots
		position: static
		li
			width: 12px
			height: 12px
			padding: 4px
			margin: 0 2px
			button
				+fx(all, 0.5s)
				+borderRadius(50%)
				width: 12px
				height: 12px
				padding: 0
				background-color: #C4C4C4
			&.slick-active
				button
					background-color: #424242
	.slick-slide
		> div 
			padding-right: $spacer2



//Alerts
.messageAlert
	+bx
	+borderRadius(6px)
	position: relative
	width: 100%
	padding: $spacer0 $spacer3/2
	padding-right: 44px
	margin-bottom: $spacer3/2
	+mediaMin960
		+flex
		+justifyCont(space-between)
		padding: $spacer3/2 $spacer3
		padding-right: 64px
		margin-bottom: $spacer3
	p
		+flex
		+alignItem(center)
		+mediaMin960
			padding-right: $spacer
		i
			+font-size(18px)
			display: none
			margin-right: $spacer0
			+mediaMin960
				display: block
		+ .textLink
			margin-top: $spacer0/4
	.closeBtn
		+font-size(20px)
		position: absolute
		right: 0
		top: $spacer/2
		padding: $spacer
		cursor: pointer
		+mediaMin960
			right: $spacer3/2
			top: 4px
	&.warning
		background-color: $amarillo1
		p
			color: $rojo8
		.textLink
			color: $rojo8
		.closeBtn
			i
				color: $rojo8

// Slick Slider
.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-touch-callout: none
	-khtml-user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent

.slick-list
	position: relative
	display: block
	overflow: hidden
	margin: 0
	padding: 0

	&:focus
		outline: none

	&.dragging
		cursor: pointer
		cursor: hand

.slick-slider
	.slick-track, .slick-list
		-webkit-transform: translate3d(0, 0, 0)
		-moz-transform: translate3d(0, 0, 0)
		-ms-transform: translate3d(0, 0, 0)
		-o-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

.slick-track
	position: relative
	top: 0
	left: 0
	display: block
	margin-left: auto
	margin-right: auto

	&:before
		display: table
		content: ''

	&:after
		display: table
		content: ''
		clear: both

.slick-loading .slick-track
	visibility: hidden

.slick-slide
	display: none
	float: left
	height: 100%
	min-height: 1px

[dir='rtl'] .slick-slide
	float: right

.slick-slide
	img
		display: block

	&.slick-loading img
		display: none

	&.dragging img
		pointer-events: none

.slick-initialized .slick-slide
	display: block

.slick-loading .slick-slide
	visibility: hidden

.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent

.slick-arrow.slick-hidden
	display: none

// Slick Slider Theme

.slick-loading .slick-list
	background: #fff url('assets/img/ajax-loader.gif') center center no-repeat

// Arrows

.slick-prev, .slick-next
	font-size: 0
	line-height: 0
	position: absolute
	top: 50%
	display: block
	width: 20px
	height: 20px
	padding: 0
	-webkit-transform: translate(0, -50%)
	-ms-transform: translate(0, -50%)
	transform: translate(0, -50%)
	cursor: pointer
	color: transparent
	border: none
	outline: none
	background: transparent

.slick-prev
	&:hover, &:focus
		color: transparent
		outline: none
		background: transparent

.slick-next
	&:hover, &:focus
		color: transparent
		outline: none
		background: transparent

.slick-prev
	&:hover:before, &:focus:before
		opacity: 1

.slick-next
	&:hover:before, &:focus:before
		opacity: 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
	opacity: .25

.slick-prev:before, .slick-next:before
	font-family: 'slick'
	font-size: 20px
	line-height: 1
	opacity: .75
	color: white
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.slick-prev
	left: -25px

[dir='rtl'] .slick-prev
	right: -25px
	left: auto

.slick-prev:before
	content: '←'

[dir='rtl'] .slick-prev:before
	content: '→'

.slick-next
	right: -25px

[dir='rtl'] .slick-next
	right: auto
	left: -25px

.slick-next:before
	content: '→'

[dir='rtl'] .slick-next:before
	content: '←'

// Dots

.slick-dotted.slick-slider
	margin-bottom: 30px

.slick-dots
	position: absolute
	bottom: -25px
	display: block
	width: 100%
	padding: 0
	margin: 0
	list-style: none
	text-align: center

	li
		position: relative
		display: inline-block
		width: 20px
		height: 20px
		margin: 0 $spacer0
		padding: 0
		cursor: pointer

		button
			font-size: 0
			line-height: 0
			display: block
			width: 20px
			height: 20px
			padding: $spacer0
			cursor: pointer
			color: transparent
			border: 0
			outline: none
			background: transparent

			&:hover, &:focus
				outline: none

			&:hover:before, &:focus:before
				opacity: 1

			&:before
				font-family: 'slick'
				font-size: 6px
				line-height: 20px
				position: absolute
				top: 0
				left: 0
				width: 20px
				height: 20px
				text-align: center
				opacity: .25
				color: black
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
				
				// content: '•'
				// content: ''
				// display: inline-block
				// border-radius: 50%
				// background-color: $amarillo6

		&.slick-active button:before
			opacity: .75
			color: black

.donutChart
	position: relative
	width: 50px
	height: 100px
	//overflow: hidden
	p
		+center(h)
		+font-size(12px)
		font-weight: 700
		color: $gris4
		left: 25px
	.donutChartRail
		+bx
		+borderRadius(50%)
		position: absolute
		left: 0
		top: 0
		width: 100px
		height: 100px
		background-color: transparent
		border: #E2E2E2 18px solid
	.donutChartBar
		position: absolute
		left: 0
		top: 0
		width: 100px
		height: 100px
		&.full
			&:after
				display: none
		&:after
			content: ''
			position: absolute
			left: 50%
			bottom: -11px
			width: 3px
			height: 8px
			display: block
			background-color: $azul5
		i
			+fx(all, 1s)
			position: absolute
			left: 50px
			top: 0
			width: 50px
			height: 100px
			display: block
			overflow: hidden
			transform-origin: left
			&:before
				+bx
				+borderRadius(50%)
				content: ''
				position: absolute
				left: -50px
				top: 0
				width: 100px
				height: 100px
				display: block
				background-color: transparent
				border: $azul5 18px solid

.modalGen
	+borderRadius(12px)
	.modalGenWrap
		.modalNotify
			max-width: 520px
			h3
				+flex
				+flexDir
				+justifyCont(center)
				+alignItem(center)
				+font-size(16px)
				+mediaMin960
					+flexDir(row)
				i
					+font-size(30px)
					color: #44AF69
					display: block
					margin-bottom: $spacer
					+mediaMin960
						+font-size(32px)
						margin-bottom: 0
						margin-right: $spacer
				span
					color: $gris7
					text-transform: uppercase
			p
				+font-size(14px)
				text-align: center
				margin-top: $spacer3
				+mediaMin960
					+font-size(16px)
		.modalText
			max-width: 400px
			text-align: center
			.statusFormImg
				display: table
				position: relative
				margin: $spacer2 auto $spacer4
				span
					+borderRadius(50%)
					width: 32px
					height: 32px
					display: block
					position: relative
					[class*="ico"]
						+center(vh)
						+font-size(24px)
				&:before
					+center(vh)
					+borderRadius(50%)
					content: ''
					width: 60px
					height: 60px
					display: block
				&:after
					+center(vh)
					+borderRadius(50%)
					content: ''
					width: 48px
					height: 48px
					display: block
				&.success
					span
						color: #fff
						background-color: #44AF69
					&:before
						background-color: rgba(68, 175, 105, 0.15)
					&:after
						background-color: rgba(68, 175, 105, 0.3)
				&.warning
					span
						color: #fff
						background-color: $amarillo9
					&:before
						background-color: rgba(255, 131, 0, 0.15)
					&:after
						background-color: rgba(255, 131, 0, 0.3)
			i
				display: table
				margin: 0 auto $spacer
			h3
				+font-size(24px)
				font-family: $fontPrin
				margin-bottom: $spacer2
			.btnCont
				+flex
				+flexDir(column)
				+alignItem(center)
				margin-top: $spacer3
				[class*="btn"]
					width: 100%
					max-width: 220px
				&.large
					[class*="btn"]
						max-width: 260px
				[class*="btn"], .textLink
					+ [class*="btn"], + .textLink
						margin-top: $spacer2
			
// Pagination Mixin
.pagination
	ul
		+flex
		+alignItem(center)
		+justifyCont(center)
		padding: $spacer 0
		li
			position: relative
			cursor: pointer
			margin: 0 $spacer/2
			&.pag
				+bx
				+borderRadius(50%)
				width: 32px
				height: 32px
				border: $color-border 1px solid
				span
					+center(vh)
					+font-size(14px)
					display: block
				&.active
					border: $rojo6 2px solid
					span
						font-weight: 700
						color: $rojo6
			&.pagWord
				margin: 0
				font-weight: 700
				width: 32px
				height: 32px
				+mediaMin640
					width: auto
					height: auto
					margin: 0 $spacer/2
				span
					display: none
					+mediaMin640
						display: block
				i
					+center(vh)
					+font-size(24px)
					display: block
					+mediaMin640
						display: none
			&.pagArrow
				margin: 0
				width: 32px
				height: 32px
				i
					+center(vh)
					+font-size(24px)
					display: block

//Generic Clases
.hideOnMobile
	display: none
	+mediaMin960
		display: block

+mediaMin640
	section
		padding: $spacer5 0
	h1, .h1
		+font-size(36px)
	h2, .h2
		+font-size(32px)
	h3, .h3
		+font-size(28px)
	h4, .h4
		+font-size(24px)
	h5, .h5
		+font-size(20px)
	h6, .h6
		+font-size(18px)

	.formGen
		&.extraPadd
			padding: 0
		&.singleField
			padding-top: $spacer2
			min-height: 140px
	
	.hideOnM
		display: block !important


+mediaMin960
	body
		&.sticky
			overflow: visible
			overflow-x: hidden
	.wrapper
		min-height: calc(100vh - 120px)
		padding-top: 60px
		&.logged
			padding-top: 60px
		
+mediaMin1500
	.container
		max-width: 1440px
