@import "../abstracts/variables"
@import "../abstracts/mixins"

.consoleWrapper
	+bx
	position: relative
	width: 100%
	height: 100%
	+mediaMin960
		padding-left: 250px
	.consoleWrapperInner
		+bx
		padding: $spacer4 $spacer2
		+mediaMin960
			padding: $spacer5 $spacer6
.twoColumnsConsole
	+mediaMin960
		+flex
		+justifyCont(space-between)
		.consSectTitle
			width: 50%
		.consSectCombo
			width: 50%
			label
				margin-left: auto

//Section Title
.consSectTitle
	margin-bottom: $spacer2
	h1, h2, h3,
		+ p
			margin-top: $spacer3/2
	+mediaMin960
		margin-bottom: $spacer3
	&.withIco
		+flex
		i
			+font-size(24px)
			margin-right: $spacer
			+mediaMin960
				+font-size(32px)

//Section Combo
.consSectCombo
	width: 100%
	margin-bottom: $spacer3
	+mediaMin960
		+flex
		+alignItem(center)
	label
		font-weight: 700
		+mediaMin960
			padding-right: $spacer
	.select
		margin-top: $spacer
		max-width: 220px
		+mediaMin960
			margin-top: 0

//Breadcrumbs
.breadcrumbs
	margin-bottom: $spacer3
	ul
		display: none
		li
			color: $rojo6
			position: relative
			+ li
				margin-left: $spacer/2
				padding-left: $spacer
				&:before
					content: '/'
					color: $gris3
					position: absolute
					left: 0
					top: 0
			a
				color: $gris3
				display: inline-block
				&:hover
					text-decoration: underline
		+mediaMin960
			+flex
	.backLink
		+font-size(14px)
		position: relative
		display: block
		padding-left: $spacer2
		+mediaMin960
			display: none
		&:before
			+claroIcon('\e92f')
			position: absolute
			left: 0
			top: 0
		&:hover
			text-decoration: underline

//Box Consume
.boxConsume
	+borderRadius(12px)
	+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
	background-color: #fff
	margin-bottom: $spacer3
	.boxConsumeTop
		+mediaMin960
			+flex
			+justifyCont(space-between)
			border-bottom: $gris1 2px solid
			padding: $spacer2 $spacer3
		.boxConsumeTitle
			+bx
			width: 100%
			padding: $spacer2
			border-bottom: $gris1 2px solid
			+mediaMin960
				width: 34%
				border-bottom: none
				padding: 0
				padding-right: $spacer2
			h3
				+flex
				+font-size(18px)
				font-family: $fontPrin
				font-weight: 400
				position: relative
				.bctIcon
					margin-right: $spacer0
					&.circleY
						+borderRadius(50%)
						position: relative
						width: 20px
						height: 20px
						display: block
						background-color: $amarillo6
						i 
							+center(vh)
							+font-size(16px)
							color: #fff
			p
				+font-size(18px)
				font-weight: 700
				margin-top: 4px
		.boxConsumePay
			+bx
			+flex
			+justifyCont(space-between)
			+alignItem(center)
			width: 100%
			padding: $spacer2
			border-bottom: $gris1 2px solid
			+mediaMin960
				+justifyCont(flex-end)
				+alignItem(flex-start)
				width: 66%
				border-bottom: none
				padding: 0
			.boxConsumePayQuan
				+bx
				width: calc(100% - 140px)
				+mediaMin960
					text-align: right
					width: calc(100% - 160px)
					padding-right: $spacer4
				p
					+font-size(24px)
					font-weight: 700
					+mediaMin960
						+font-size(26px)
				span
					+font-size(12px)
					color: $gris5
					+mediaMin960
						+font-size(14px)
			.boxConsumePayBtn
				width: 130px
				+mediaMin960
					width: 160px
				[class*="btn"]
					width: 100%
					padding-left: $spacer
					padding-right: $spacer
	.boxConsumeDetails
		+bx
		width: 100%
		.boxConsumeDetTitle
			+mediaMin1102
				+flex
				+justifyCont(space-between)
				+alignItem(center)
			.boxConsumeDetTitleText
				+flex
				+justifyCont(space-between)
				+alignItem(center)
				padding: $spacer2
				+mediaMin960
					+justifyCont(flex-start)
					padding: $spacer3
				+mediaMin1102
					+bx
					width: calc(100% - 192px)
				h3
					+bx
					+font-size(24px)
					font-family: $fontPrin
					width: 60%
					padding-right: $spacer
					+mediaMin960
						width: auto
						padding-right: $spacer3
				.textLink
					text-align: right
					width: 40%
					+mediaMin960
						text-align: left
						width: auto
						margin-top: 2px
			.boxConsumeDetTitleBtn
				padding: 0 $spacer2
				margin-bottom: $spacer2
				+mediaMin1102
					+bx
					width: 192px
					padding: 0 $spacer3 0 0
					margin-bottom: 0
				[class*="btn"]
					display: table
					width: 100%
					max-width: 240px
					margin: 0 auto

		.boxConsumeDetBarsWrap
			+fx(all, 0.5s)
			+bx
			max-height: 0
			overflow: hidden
			+mediaMin960
				max-height: initial
				overflow: visible
				margin-top: -$spacer3
			&.open
				max-height: 1200px
			&.circle
				.boxConsumeDetBars
					+mediaMin1200
						+bx
						width: calc(100% + #{$spacer3})
						margin-left: -#{$spacer3/2}
						margin-right: -#{$spacer3/2}
		.boxConsumeDetBars
			+bx
			padding: $spacer2
			+mediaMin960
				padding: $spacer3
			+mediaMin1200
				padding-bottom: 0
			+mediaMin1200
				+flex
				+flexWrap
				width: calc(100% - 190px)
				margin-left: -$spacer0
			.consumeBarCompWrap
				+mediaMin1200
					+bx
					width: 33.33%
					padding: 0 $spacer0
					margin-bottom: $spacer3
				+ .consumeBarCompWrap
					margin-top: $spacer2
					+mediaMin1200
						margin-top: 0
				.consumeBarComp
					width: 100%
					+mediaMin1200
						max-width: 180px
			.consumeBarCardWrap
				margin-bottom: $spacer2
				+mediaMin1200
					+bx
					width: 25%
					max-width: 232px
					padding: 0 $spacer3/2
					margin-bottom: $spacer3
			+ .boxConsumeDetBarsMixed
				padding-top: $spacer2
				border-top: $gris1 2px solid
				+mediaMin1200
					padding-top: 0		
		.boxConsumeDetBarsMixed
			+mediaMin1200
				+flex
		.boxConsumeDetOnlyBtn
			padding: $spacer2
			[class*="btn"]
				width: 100%
				max-width: 130px
				margin: 0 auto
				display: table
				+mediaMin1200
					max-width: initial
			+mediaMin1200
				+bx
				width: 200px
				padding: $spacer3
				padding-left: 0
		.expandBtnWrap
			+fx(all, 0.5s)
			position: relative
			padding-bottom: $spacer2
			+mediaMin960
				display: none
			&.open
				&:before
					top: 0
					opacity: 0
					filter: alpha(opacity = 0)
				.expandBtn
					span
						&:after
							+claroIcon('\e931')
			&:before
				+fx(all, 0.5s)
				content: ''
				position: absolute
				left: 0
				top: -60px
				width: 100%
				height: 60px
				display: block
				pointer-events: none
				background: rgb(255,255,255)
				background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
				background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
				background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1)
			.expandBtn
				text-align: center
				position: relative
				padding: $spacer 0
				cursor: pointer
				span
					font-weight: 500
					position: relative
					color: $azul5
					display: inline-block
					text-decoration: underline
					padding-right: 30px
					&:after
						+claroIcon('\e92e')
						+font-size(24px)
						position: absolute
						right: 0
						top: -3px
	
	.boxConsumeAcc
		position: relative
		.boxConsumeAccTitle
			+bx
			width: 100%
			padding: $spacer3 $spacer2
			+mediaMin960
				+flex
				width: calc(100% - 50px)
				padding: $spacer3
			.boxConsumeAccTitleLeft
				+mediaMin960
					+bx
					width: 55%
					padding-right: $spacer3
				h3
					+font-size(20px)
					font-family: $fontPrin
					font-weight: 700
					margin-bottom: $spacer
					+mediaMin960
						+font-size(24px)
				p
					+font-size(16px)
					margin-bottom: $spacer
			.boxConsumeAccTitleRight
				margin-top: $spacer
				+mediaMin960
					+bx
					width: 45%
					margin-top: 0
					text-align: right
				h3
					+font-size(20px)
					font-family: $fontPrin
					font-weight: 700
					margin-bottom: $spacer
					+mediaMin960
						+font-size(24px)
					strong
						&.payed
							color: $verde9
				p
					+font-size(16px)
					margin-bottom: $spacer
					+mediaMin960
						+font-size(18px)
				[class*="btn"]
					margin-top: $spacer2
					width: 100%
					+mediaMin960
						margin-top: 0
						max-width: 190px
		.boxConsumeAccTitleAlter
			+bx
			width: 100%
			padding: $spacer3 $spacer2
			+mediaMin960
				padding: $spacer3
			> h3
				+font-size(24px)
				font-family: $fontPrin
				font-weight: 700
				margin-bottom: $spacer2
				&.onlyTitle
					margin-bottom: 0
				+mediaMin960
					padding-right: 50px
			.boxConsumeAccTitleGraph
				+mediaMin1200
					+bx
					+flex
					width: calc(100% + #{$spacer3})
					margin-left: -$spacer3/2
					margin-right: -$spacer3/2
				.boxConsumeAccTitleGraphWrap
					+mediaMin1200
						+bx
						width: 25%
						max-width: 232px
						padding: 0 $spacer3/2
					+ .boxConsumeAccTitleGraphWrap
						margin-top: $spacer2
						+mediaMin1200
							margin-top: 0
		.boxConsumeAccDetails
			+bx
			// max-height: 0
			// overflow: hidden
			display: none
			padding: $spacer3 $spacer2
			border-top: $gris1 4px solid
			+mediaMin960
				padding: $spacer3
			> h3
				+font-size(24px)
				font-family: $fontPrin
				margin-bottom: $spacer2
				+mediaMin960
					margin-bottom: $spacer3
			.boxConsumeDetBars
				+mediaMin1200
					+bx
					+flex
					+flexWrap
					width: calc(100% + #{$spacer3})
					margin-left: -$spacer3/2
					margin-right: -$spacer3/2
					margin-top: -$spacer
					margin-bottom: -$spacer
				.consumeBarCompWrap
					+mediaMin1200
						+bx
						width: 33.33%
						padding: $spacer $spacer3/2
					+ .consumeBarCompWrap
						margin-top: $spacer2
						+mediaMin1200
							margin-top: 0
				&.fw
					+flexDir
					.consumeBarCompWrap
						+mediaMin1200
							width: 100%
						+ .consumeBarCompWrap
							+mediaMin1200
								margin-top: $spacer2
			.boxConsumeAccDetailsGraph
				+mediaMin1200
					+bx
					+flex
					width: calc(100% + #{$spacer3})
					margin-left: -$spacer3/2
					margin-right: -$spacer3/2
				.boxConsumeAccDetGraphWrap
					+mediaMin1200
						+bx
						width: 25%
						max-width: 232px
						padding: 0 $spacer3/2
					+ .boxConsumeAccDetGraphWrap
						margin-top: $spacer2
						+mediaMin1200
							margin-top: 0
			.boxConsumeAccDetailsInclude
				+bx
				width: calc(100% + #{$spacer4})
				margin-left: -$spacer2
				margin-right: -$spacer2
				margin-top: $spacer3
				border-top: $gris1 4px solid
				+mediaMin1200
					width: calc(100% + #{$spacer3*2})
					margin-left: -$spacer3
					margin-right: -$spacer3
				.boxConsumeAccDetInc
					position: relative
					padding: $spacer3 $spacer2 0
					+mediaMin1200
						+flex
						+justifyCont(space-between)
						+alignItem(center)
						padding: $spacer3 $spacer3 0
					h4
						+font-size(18px)
						font-family: $fontPrin
						padding-right: $spacer3
						margin-bottom: $spacer2
						+mediaMin1200
							margin-bottom: 0
						+ .boxConsAccDetIntList
							margin-top: -$spacer2
					.boxConsAccDetIntList
						+flex
						+flexWrap
						width: calc(100% + #{$spacer2})
						margin-left: -#{$spacer2 / 2}
						margin-right: -#{$spacer2 / 2} 
						+mediaMin1200
							+justifyCont(center)
							width: 100%
							max-width: 600px
						dl
							+bx
							+font-size(14px)
							width: 50%
							padding: 0 10px
							margin-top: $spacer2
							+mediaMin1200
								width: 25%
							dt
								color: $gris5
								margin-bottom: $spacer0
							dd
								font-weight: 700
								.rs
									+flex
									width: calc(100% + #{$spacer})
									margin-left: -#{$spacer / 2}
									margin-right: -#{$spacer / 2}
									margin-top: -4px
									li
										padding: $spacer/2
										line-height: 1
										span
											+font-size(20px)
											color: $gris7
					.dotsOptionsMenu
						right: $spacer
						top: $spacer2
						padding-left: $spacer3
						+mediaMin1200
							position: relative
							right: initial
							top: initial
				&.noConsumeData
					margin-top: 0
					border-top: none
					.boxConsumeAccDetInc
						padding-top: 0
						.dotsOptionsMenu
							top: -$spacer
							+mediaMin1200
								top: initial
			.boxConsumeAccDetNavigation
				margin-top: $spacer4
				.boxConsAccDetNavTitle
					margin-bottom: $spacer3
					+mediaMin960
						+flex
						+justifyCont(space-between)
						+alignItem(center)
					> h3
						+font-size(24px)
						font-family: $fontPrin
						margin-bottom: $spacer2
						+mediaMin960
							margin-bottom: 0
							padding-right: $spacer2
					.boxConsAccDetNavTitleCombo
						+mediaMin1200
							+flex
							+alignItem(center)
							+justifyCont(flex-end)
							min-width: 420px
						label
							font-weight: 700
							+mediaMin1200
								padding-right: $spacer
						.select
							margin-top: $spacer
							+mediaMin960
								margin-top: $spacer0
							+mediaMin1200
								max-width: 220px
								margin-top: 0
			.boxConsumeTable
				overflow-x: auto
				table
					+font-size(14px)
					min-width: 520px
					thead
						tr
							th
								color: $gris8
								padding: 0 $spacer0 $spacer3/2
								border-bottom: $gris1 4px solid
					tbody
						tr
							td
								color: $gris5
								padding: $spacer3/2 $spacer0
				&.large
					table
						min-width: 720px
			.boxConsumeNoHistory
				padding: $spacer2
				text-align: center
				i
					margin: 0 auto $spacer2
					display: table
							
					

		.boxConsumeAccAction
			+fx(all, 0.5s)
			position: relative
			padding-bottom: $spacer2
			margin-top: -$spacer
			+mediaMin960
				position: absolute
				right: $spacer2
				top: 23px
				padding-bottom: 0
				margin-top: 0
			&.open
				&:before
					top: 0
					opacity: 0
					filter: alpha(opacity = 0)
				.boxConsAccActBtn
					+mediaMin960
						&:after
							+claroIcon('\e931')
					span
						&:after
							+claroIcon('\e931')
			// &:before
			// 	+fx(all, 0.5s)
			// 	content: ''
			// 	position: absolute
			// 	left: 0
			// 	top: -60px
			// 	width: 100%
			// 	height: 60px
			// 	display: block
			// 	pointer-events: none
			// 	background: rgb(255,255,255)
			// 	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			// 	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			// 	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1)
			// 	+mediaMin960
			// 		display: none
			.boxConsAccActBtn
				text-align: center
				position: relative
				padding: $spacer 0
				cursor: pointer
				+mediaMin960
					position: relative
					width: 40px
					height: 40px
					padding: 0
					&:after
						+center(vh)
						+claroIcon('\e92e')
						+font-size(30px)
				span
					font-weight: 500
					position: relative
					color: $azul5
					display: inline-block
					text-decoration: underline
					padding-right: 30px
					+mediaMin960
						display: none
					&:after
						+claroIcon('\e92e')
						+font-size(24px)
						position: absolute
						right: 0
						top: -3px
	
	.boxInfoDetailPostpago
		padding: $spacer3 $spacer2
		+mediaMin960
			+flex
			+justifyCont(space-between)
			padding: $spacer3
		.boxInfoDetTitle
			+bx
			margin-bottom: $spacer2
			+mediaMin1200
				width: 35%
			h3
				font-family: $fontPrin
				margin-bottom: $spacer0
				+mediaMin960
					+font-size(24px)
		.boxInfoDetText
			+bx
			margin-bottom: $spacer
			padding: 0 $spacer2
			+mediaMin1200
				width: 35%
			p
				position: relative
				padding-left: 24px
				i
					+font-size(18px)
					position: absolute
					left: 0
					top: 1px
					color: $gris4
				+ p
					margin-top: $spacer0
		.boxInfoDetPrice
			+bx
			+mediaMin960
				+flex
				+flexDir
				+justifyCont(center)
				+alignItem(center)
			+mediaMin1200
				width: 30%
			p
				position: relative
				padding-left: 24px
				+mediaMin960
					text-align: center
					padding-left: 0
					strong
						+font-size(18px)
						display: block
						margin-top: $spacer
	.boxInfoDetailPrepago
		padding: $spacer3 $spacer2
		+mediaMin960
			+flex
			+justifyCont(space-between)
			padding: $spacer3
		.boxInfoDetTitle
			+bx
			margin-bottom: $spacer0
			+mediaMin960
				padding-right: $spacer2
			h3
				font-family: $fontPrin
				margin-bottom: $spacer0
				+mediaMin960
					+font-size(24px)
			p
				+ p
					margin-top: $spacer0
		.boxInfoDetPrice
			+bx
			.boxInfoDetPriceCol
				+ .boxInfoDetPriceCol
					margin-top: $spacer0
					+mediaMin960
						margin-top: $spacer2
				p
					position: relative
					+ p
						margin-top: $spacer0
					+mediaMin960
						+font-size(20px)
						text-align: right
						padding-left: 0	
						&.small
							+font-size(14px)
	
	//Consume Bills
	.boxBillsFilter
		position: relative
		padding: $spacer2
		+mediaMin960
			padding: $spacer3
		h3
			+font-size(18px)
			+mediaMin640
				+font-size(20px)
		.boxBillsFilterGroup
			margin-top: $spacer3/2
			+mediaMin1102
				+flex
				margin-top: $spacer3
			fieldset
				+mediaMin1102
					+bx
					padding-right: $spacer2
					width: 100%
					max-width: 180px
					&.large
						max-width: 300px
				label
					display: none
					+mediaMin1102
						display: block
						font-weight: 700
						margin-bottom: $spacer
				+ fieldset
					margin-top: $spacer3/2
					+mediaMin1102
						margin-top: 0
			.btnFilter
				position: absolute
				right: $spacer2
				top: $spacer0
				+mediaMin960
					right: $spacer3
					top: $spacer2
				+mediaMin1102
					position: relative
					right: initial
					top: initial
				[class*="btn"]
					+font-size(14px)
					+mediaMin1102
						margin-top: 28px
	.boxBillsRows
		+bx
		width: 100%
		position: relative
		z-index: 1
		padding-bottom: $spacer
		+mediaMin960
			padding-left: $spacer3
			padding-right: $spacer3
			padding-bottom: $spacer2
		table
			width: 100%
			margin-bottom: $spacer0
			+mediaMin960
				margin-bottom: $spacer2
			thead
				width: 100%
				tr
					th
						+font-size(12px)
						color: $gris8
						padding: $spacer0
						+mediaMin640
							+font-size(14px)
						+mediaMin960
							padding: $spacer3/2 $spacer
						.checkbox
							.checkmark
								margin-right: 0
						&.center
							text-align: center
						&:first-child
							padding-left: $spacer
						&:last-child
							padding-right: $spacer
			tbody
				width: 100%
				tr
					td
						position: relative
						padding: $spacer2 $spacer0 $spacer0 + 6
						background-color: #fff
						+mediaMin960
							padding: $spacer3 $spacer $spacer3 - 6
						&:before
							content: ''
							position: absolute
							left: 0
							top: 0
							width: 100%
							height: 12px
							background: rgb(244,244,244)
							background: -moz-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 49%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%)
							background: -webkit-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 49%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%)
							background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 49%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%)
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ffffff",GradientType=1)
						&:after
							content: ''
							position: absolute
							left: 0
							bottom: 0
							width: 100%
							height: 6px
							background-color: #fff
						.checkbox
							.checkmark
								margin-right: 0
						p
							+font-size(14px)
							text-align: center
							position: relative
							+mediaMin640
								+font-size(18px)
							strong
								font-weight: 700
							span
								+font-size(12px)
								display: block
								position: relative
								+mediaMin640
									+font-size(14px)
								.paperless
									width: 14px
									height: 12px
									margin-left: 2px
									margin-bottom: -2px
									display: inline-block
									background: url(assets/vector/ico-paperless.svg) no-repeat 0 0
									background-size: cover
									+mediaMin640
										width: 18px
										height: 16px
								&.deadline
									color: $rojo6
									+mediaMin640
										color: $color-text
							&.lineNum
								+font-size(12px)
								text-align: left
								font-weight: 700
								text-decoration: underline
								+mediaMin640
									+font-size(16px)
								span
									+mediaMin640
										+font-size(16px)
						.tableMoreOptions
							position: relative
							+mediaMin1280
								+flex
								+alignItem(center)
								+justifyCont(flex-end)
							> a, > [class*="btn"]
								display: none
								+mediaMin1280
									display: block
								+ a, + [class*="btn"]
									margin-left: $spacer2
								+ .dotsOptionsMenu
									margin-left: $spacer
							> [class*="btn"]
								min-width: 140px
							.dotsOptionsMenu
								+center(vh)
								+mediaMin1280
									+center(clear)
								&.open
									z-index: 1
								.dotsOptMenuList
									.hideOnDesk
										+mediaMin1280
											display: none
						&:first-child
							padding-left: $spacer
						&:last-child
							padding-right: $spacer
					&:nth-child(odd)
						td
							background-color: $gris1
					&:last-child
						td
							padding-bottom: $spacer2
							&:after
								height: 12px
								background: rgb(255,255,255)
								background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(244,244,244,1) 51%, rgba(244,244,244,1) 100%)
								background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(244,244,244,1) 51%, rgba(244,244,244,1) 100%)
								background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(244,244,244,1) 51%, rgba(244,244,244,1) 100%)
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f4f4f4",GradientType=1)
		.paperlessAdvise
			+bx
			width: 100%
			padding: 0 $spacer
			margin-bottom: $spacer
			+mediaMin960
				padding: 0
				margin-bottom: $spacer2
			p
				+font-size(12px)
				+mediaMin960
					+font-size(14px)
				i
					&.paperless
						width: 14px
						height: 12px
						margin-right: 2px
						margin-bottom: -2px
						display: inline-block
						background: url(assets/vector/ico-paperless.svg) no-repeat 0 0
						background-size: cover
						+mediaMin640
							width: 18px
							height: 16px
							margin-right: 6px

//Consume Bar
.consumeBarComp
	position: relative
	&.spent
		dl
			color: $gris5
			dt
				i
					color: $rojo6
		.consumeBarCompProgress
			span
				background-color: $rojo6
	&.remain
		dl
			color: $gris5
			dt
				i
					color: $amarillo9
		.consumeBarCompProgress
			span
				background-color: $amarillo9
	+mediaMin1200
		padding-bottom: 0
	.consumeBarCompData
		+flex
		+justifyCont(space-between)
		position: relative
		dt
			+font-size(16px)
			font-weight: 700
			i
				position: absolute
				left: 0
				top: -1px
				+ span
					margin-left: 22px
		dd
			+font-size(14px)
			position: relative
			.icoInf
				+font-size(34px)
				+center(h)
				right: 0
		+ .consumeBarCompProgress
			margin-top: $spacer0
	.consumeBarCompProgress
		+borderRadius(3px)
		position: relative
		width: 100%
		height: 6px
		background-color: $gris1
		span
			+borderRadius(3px)
			position: relative
			width: 100%
			height: 6px
			background-color: $azul5
			display: block
	.consumeBarCompExtra
		+font-size(12px)
		font-weight: 700
		color: $gris5
		text-align: center
		margin-top: $spacer0
		+mediaMin1200
			+center(clear)
			bottom: initial
			margin-top: $spacer0
	.consumeBarCompOther
		+font-size(12px)
		color: $gris5
		text-align: center
		margin-top: $spacer0
	
//Consume Donut
.consumeBarCard
	+bx
	+borderRadius(12px)
	+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
	position: relative
	width: 100%
	height: 130px
	padding: $spacer3/2
	background-color: #fff
	overflow: hidden
	h3
		+font-size(12px)
		font-family: $fontPrin
		font-weight: 500
		width: calc(100% - 50px)
	.small
		+font-size(10px)
		color: $gris4
		width: calc(100% - 50px)
		span
			display: block
	.consBarCardDataDet
		position: absolute
		left: $spacer3/2
		bottom: $spacer3/2
		width: calc(100% - 80px)
		p
			+font-size(12px)
			font-weight: 700
			position: relative
			.icoInf
				+font-size(24px)
				+center(h)
				right: -20px
			&.used
				color: $gris4
			&.available
				color: $azul5
				display: inline-block
	.donutChart
		+center(h)
		right: 0
	&.orange
		.consBarCardDataDet
			p
				&.available
					color: #FF7900
		.donutChart
			.donutChartBar
				&:after
					background-color: #FF7900
				i
					&:before
						border-color: #FF7900
	&.red
		.consBarCardDataDet
			p
				&.available
					color: $rojo6
		.donutChart
			.donutChartBar
				&:after
					background-color: $rojo6
				i
					&:before
						border-color: $rojo6

//Dots Options
.dotsOptionsMenu
	position: absolute
	.dotsOptMenuBtn
		position: relative
		width: 40px
		height: 40px
		cursor: pointer
		span
			+borderRadius(50%)
			+center(vh)
			width: 4px
			height: 4px
			display: block
			background-color: #000
			&:before, &:after
				+borderRadius(50%)
				content: ''
				position: absolute
				width: 4px
				height: 4px
				display: block
				background-color: #000
			&:before
				left: -9px
			&:after
				right: -9px
	.dotsOptMenuList
		+bx
		+fx(all, 0.5s)
		+borderRadius($spacer)
		+shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.1))
		position: absolute
		right: -5px
		top: 30px
		width: 220px
		opacity: 0
		filter: alpha(opacity = 0)
		pointer-events: none
		z-index: 1
		&.open
			top: 35px
			opacity: 1
			filter: alpha(opacity = 1)
			pointer-events: auto
		&:before
			+bx
			+shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.1))
			+transform(rotate(-45deg))
			content: ''
			width: 0
			height: 0
			display: block
			position: absolute
			right: 15px
			top: -4px
			border: #fff 10px solid
			border-color: #fff #fff transparent transparent
		li
			position: relative
			a
				+font-size(14px)
				display: block
				padding: $spacer $spacer2
				background: #fff
				&:hover
					background-color: $gris1
			+ li 
				border-top: $gris3 1px solid
			&:first-child
				a
					-webkit-border-top-left-radius: 12px
					-webkit-border-top-right-radius: 12px
					-moz-border-radius-topleft: 12px
					-moz-border-radius-topright: 12px
					border-top-left-radius: 12px
					border-top-right-radius: 12px
			&:last-child
				a
					-webkit-border-bottom-right-radius: 12px
					-webkit-border-bottom-left-radius: 12px
					-moz-border-radius-bottomright: 12px
					-moz-border-radius-bottomleft: 12px
					border-bottom-right-radius: 12px
					border-bottom-left-radius: 12px
	
//More Options
.moreOptions
	margin-bottom: $spacer2
	+mediaMin640
		padding-top: $spacer2
		margin-bottom: $spacer
	h2
		+mediaMin640
			+font-size(24px)
			margin-bottom: $spacer3
	.moreOptionsSlider
		width: calc(100% + 40px)
		margin-left: -20px
		margin-right: -20px
		+mediaMin640
			+flex
			+flexWrap
			margin-left: -$spacer3/2
			margin-right: -$spacer3/2
		.moreOptSld
			+bx
			+flex
			+alignItem(center)
			+borderRadius(12px)
			+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
			padding: $spacer*2 $spacer
			background-color: #fff
			border-left: $azul5 16px solid
			+mediaMin640
				width: 100%
				max-width: 380px
				margin: $spacer3 $spacer3/2
				margin-top: 0
			> i
				display: none
				margin-right: $spacer2
				&:before
					width: 40px
					height: 40px
				+mediaMin640
					display: block
		.slick-list
			padding: 0 15% 0 0 !important
		.slick-slide
			padding: $spacer $spacer $spacer $spacer2

//Promos
.promosForYou
	h2
		margin-bottom: $spacer
		+mediaMin640
			+font-size(24px)
	.promosForYouSlider
		+bx
		width: calc(100% + 40px)
		margin-left: -$spacer2
		margin-right: -$spacer2
		+mediaMin960
			width: 100%
			margin-left: 0
			margin-right: 0
		+mediaMin1200
			margin-top: -$spacer4
		.slick-dots
			bottom: -28px
			+mediaMin1200
				bottom: 18px
			li
				width: 12px
				height: 12px
				padding: 4px
				margin: 0 2px
				button
					+fx(all, 0.5s)
					+borderRadius(50%)
					width: 12px
					height: 12px
					padding: 0
					background-color: #C4C4C4
				&.slick-active
					button
						background-color: $amarillo6
	.promosForYouBox
		+bx
		padding: $spacer2
		padding-bottom: 50px
		background-color: $azul5
		position: relative
		overflow: hidden
		-webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.2)
		box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.2)
		+mediaMin960
			+borderRadius(30px)
			padding: $spacer4
		+mediaMin1200
			+flex(!important)
			overflow: visible
			padding-bottom: 0
			margin-top: 70px
		.promosFYPrecio
			margin-bottom: $spacer3/2
			position: relative
			z-index: 1
			+mediaMin1200
				width: 28%
			img
				margin-bottom: $spacer3
				+mediaMin1200
					width: 150px
					height: auto
					margin-bottom: $spacer2
			p
				+font-size(32px)
				color: #fff
				font-weight: 700
				+mediaMin1200
					+font-size(56px)
				span
					+font-size(24px)
					display: block
					+mediaMin1200
						+font-size(40px)
		.promosFYDetalle
			+bx
			color: #fff
			position: relative
			width: calc(100% - 110px)
			z-index: 1
			+mediaMin1200
				padding-left: $spacer4
				width: 44%
				margin-top: $spacer2
			h3
				+font-size(24px)
				margin-bottom: $spacer0
				+mediaMin1200
					+font-size(32px)
					margin-bottom: $spacer3/2
			p
				+font-size(18px)
				margin-bottom: $spacer
				+mediaMin1200
					+font-size(20px)
					margin-bottom: $spacer2
			[class*="btn"]
				+borderRadius(22px)
				+font-size(20px)
				width: 100%
				max-width: 160px
				height: auto
				+mediaMin1200
					max-width: 240px
		.promosFYImg
			position: absolute
			bottom: 0
			right: -75px
			+mediaMin1200
				position: relative
				right: 0
				margin-top: -120px
			img
				width: 235px
				height: auto
				+mediaMin1200
					width: 320px
	
//Dashboard Form
.dashboardForm
	padding: 0
	.dashFormBox
		+bx
		+borderRadius(12px)
		+shadow
		width: 100%
		position: relative
		padding: $spacer3 $spacer2
		background-color: #fff
		> h3
			+font-size(24px)
			font-weight: 400
			margin-bottom: $spacer2
			+mediaMin640
				margin-bottom: $spacer3
		.btnCont
			padding-top: $spacer
			[class*="btn"]
				width: 100%
				+mediaMin640
					max-width: 240px
			+mediaMin640
				+flex
				+justifyCont(flex-end)
				padding-top: $spacer2
		+mediaMin640
			padding: $spacer4
			max-width: 680px
			border-top: $azul5 14px solid

//Cacs Claro
.cacsClaroSearch
	+bx
	width: calc(100% + #{$spacer4})
	margin-left: -$spacer2
	margin-right: -$spacer2
	margin-bottom: $spacer2
	padding: $spacer3
	background: rgb(0,151,169)
	background: -moz-linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	background: -webkit-linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	background: linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0097a9",endColorstr="#168391",GradientType=1)
	+mediaMin960
		+borderRadius($spacer)
		width: 100%
		margin-left: 0
		margin-right: 0
		padding: $spacer4
		margin-bottom: $spacer3
	.cacsClaroSearchWrap
		position: relative
		+mediaMin1102
			+flex
		.cacsClaroSearchLeft
			+mediaMin1102
				width: 55%
			p
				+font-size(24px)
				color: #fff
				text-align: center
				font-weight: 700
				margin-bottom: $spacer3
				+mediaMin1102
					text-align: left
			.cacsClaroSearchLeftCombo
				+mediaMin1102
					+flex
					+justifyCont(space-between) 
				.select
					width: 100%
					max-width: 280px
					margin: 0 auto
					margin-bottom: $spacer2
					+mediaMin1102
						width: calc(100% - 140px)
						max-width: initial
						margin: 0
				input
					width: 100%
					margin: 0 auto
					margin-bottom: $spacer2
					+mediaMin1102
						width: calc(100% - 140px)
						max-width: initial
						margin: 0
				[class*="btn"]
					width: 100%
					max-width: 280px
					margin: 0 auto
					display: table
					+mediaMin1102
						max-width: 120px
						margin: 0
			&.left
				p
					text-align: left
		.cacsClaroSearchRight
			position: relative
			+mediaMin1102
				width: 45%
			.imgCacs
				display: none
				+mediaMin1102
					display: block
					position: absolute
					bottom: -$spacer4
					right: 0
				img
					+mediaMin1102
						width: 100%
						height: auto
			.cacsClaroSearchRightText
				margin-top: $spacer3
				padding-top: $spacer3
				border-top: #0e687a 1px solid
				+mediaMin1102
					margin-top: 0
					padding-top: 0
					border-top: 0
					margin-left: $spacer3
					padding-left: $spacer3
					border-left: #0e687a 1px solid
				h3
					+font-size(24px)
					color: #fff
					font-weight: 700
					margin-bottom: $spacer3
				ul
					li
						a
							color: #fff
							&:hover
								text-decoration: underline
						+ li
							margin-top: $spacer3/2

//Cacs Claro Maps
.cacsClaroMap
	+bx
	+borderRadius($spacer)
	+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
	width: calc(100% + #{$spacer4})
	margin-left: -$spacer2
	margin-right: -$spacer2
	padding: 0
	overflow: hidden
	background-color: #fff
	+mediaMin960
		width: 100%
		margin-left: 0
		margin-right: 0
	.cacsClaroMapMAp
		width: 100%
		height: 380px
		img
			width: 100%
			height: 100%
			object-fit: cover
	.cacsClaroMapLocations
		padding: $spacer3
		background-color: #fff
		+mediaMin640
			padding: $spacer3/2
		.cacsClaroMapLocRow
			+mediaMin640
				+flex
				padding-bottom: $spacer3/2
			+ .cacsClaroMapLocRow
				+mediaMin640
					padding-top: $spacer3/2
					border-top: $color-border 1px solid
			.cacsClaroMapLocBox
				+mediaMin640
					+bx
					width: 33.33%
					padding: $spacer3/2
				h3
					+flex
					+font-size(20px)
					margin-bottom: $spacer2
					+mediaMin640
						margin-bottom: $spacer3
					i
						+font-size(24px)
						margin-right: $spacer
				dl
					line-height: 1.2
					dt
						font-weight: 700
					+ dl
						margin-top: $spacer2
						+mediaMin640
							margin-top: $spacer3
				+ .cacsClaroMapLocBox
					margin-top: $spacer2
					padding-top: $spacer2
					border-top: $color-border 1px solid
					+mediaMin640
						margin-top: 0
						padding-top: $spacer3/2
						border-top: none
	+ .pagination
		margin-top: $spacer2
		
//Canales Atencion Claro
.attentionBanner
	+bx
	width: calc(100% + #{$spacer4})
	margin-left: -$spacer2
	margin-right: -$spacer2
	margin-bottom: $spacer2
	padding: $spacer3 $spacer2
	overflow: hidden
	background: rgb(0,151,169)
	background: -moz-linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	background: -webkit-linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	background: linear-gradient(180deg, rgba(0,151,169,1) 0%, rgba(22,131,145,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0097a9",endColorstr="#168391",GradientType=1)
	+mediaMin960
		+borderRadius($spacer)
		width: 100%
		margin-left: 0
		margin-right: 0
		padding: $spacer4
		margin-bottom: $spacer3
	+mediaMin1102
		overflow: visible
	.attentionBannerWrap
		position: relative
		padding-bottom: 80px
		+mediaMin1102
			+flex
			+alignItem(center)
			min-height: 220px
			padding-bottom: 0
		.attentionBannerLeft
			width: 100%
			+mediaMin1102
				width: 65%
			h3
				+font-size(24px)
				color: #fff
				font-weight: 700
				margin-bottom: $spacer2
				+mediaMin640
					+font-size(32px)
			p
				+font-size(18px)
				color: #fff
				width: 50%
				+mediaMin480
					width: calc(100% - 165px)
				+mediaMin640
					+font-size(24px)
				+mediaMin1102
					width: 100%
		.attentionBannerRight
			position: absolute
			width: 70%
			max-width: 235px
			bottom: -$spacer3
			right: calc(-20% + #{-$spacer2})
			+mediaMin960
				bottom: -$spacer4
			+mediaMin1102
				width: 40%
				max-width: initial
				right: -$spacer4
			.imgBanner
				position: relative
				img
					width: 100%
					height: auto

//Canales Atencion Boxes
.attentionBoxes
	padding: 0
	+mediaMin760
		+flex
		+justifyCont(space-between)
	.attentionBox
		+bx
		+borderRadius(12px)
		+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
		text-align: center
		background-color: #fff
		padding: $spacer3
		+mediaMin760
			width: calc(33.33% - 20px)
		h3
			+font-size(20px)
			margin-bottom: $spacer3
		p
			margin-bottom: $spacer3
		i
			display: table
			margin: 0 auto
			margin-bottom: $spacer3
			&:before
				width: 64px
				height: 64px
		[class*="btn"]
			width: 100%
			max-width: 240px
			margin: 0 auto
		+ .attentionBox
			margin-top: $spacer2
			+mediaMin760
				margin-top: 0

//Faqs
.faqsClaroBoxes
	padding: 0
	+mediaMin760
		+flex
		+flexWrap
		margin-left: -$spacer
		margin-right: -$spacer
		margin-top: -$spacer
	.faqsClaroBoxWrap
		+mediaMin760
			+bx
			width: 50%
			padding: $spacer3/2 $spacer
		+mediaMin1102
			width: 33.33%
		+ .faqsClaroBoxWrap
			margin-top: $spacer2
			+mediaMin760
				margin-top: 0
		.faqsClaroBox
			+bx
			+borderRadius(12px)
			+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))	
			background-color: #fff
			padding: $spacer2
			padding-bottom: 72px
			position: relative
			+mediaMin760
				height: 100%
			h3
				+flex
				+font-size(22px)
				position: relative
				margin-bottom: $spacer3/2
				i
					+font-size(24px)
				strong
					padding-left: $spacer0
			ul
				li
					a
						position: relative
						display: block
						padding: $spacer3/2 0
						padding-right: $spacer3
						&:after
							+center(h)
							+claroIcon('e930')
							+font-size(24px)
							right: 0
					+ li
						border-top: $color-border 1px solid
			[class*="btn"]
				+center(v)
				bottom: $spacer2
				width: calc(100% - 40px)
				+mediaMin760
					max-width: 140px
	
.faqsClaroDetail
	padding: 0
	+ .pagination
		margin-top: $spacer2
	.faqsClaroDetailBox
		+bx
		+borderRadius(12px)
		+shadow(0px, 4px, 8px, 0px, rgba(49, 49, 49, 0.15))
		background-color: #fff
		padding: $spacer2
		+mediaMin960
			padding: $spacer2 $spacer4
		h3
			+font-size(24px)
			margin-bottom: $spacer2
		.faqsClaroAcc
			width: calc(100% + #{$spacer4})
			margin-left: -$spacer2
			margin-right: -$spacer2
			border-top: $color-border 1px solid
			+mediaMin960
				width: calc(100% + #{$spacer4*2})
				margin-left: -$spacer4
				margin-right: -$spacer4
			.faqsClaroAccTitle
				+bx
				position: relative
				padding: $spacer3/2 $spacer2
				padding-right: $spacer5
				background-color: #fff
				cursor: pointer
				+mediaMin960
					padding: $spacer3/2 $spacer4
					padding-right: 94px
				&:after
					+claroIcon('e92e')
					+font-size(24px)
					position: absolute
					right: $spacer3/2
					top: $spacer3/2
					+mediaMin960
						right: 35px
				p
					+font-size(14px)
				&.open
					&:after
						+claroIcon('e931')
			.faqsClaroAccDesc
				display: none
				padding: $spacer2
				background-color: $color-bg
				+mediaMin960
					padding: $spacer3/2 $spacer4
				p
					+font-size(14px)
					position: relative
					&.dotted
						padding-left: $spacer2
						&:before
							+borderRadius(50%)
							content: ''
							position: absolute
							left: 0
							top: 4px
							width: 8px
							height: 8px
							display: block
							background-color: $azul5
					+ p
						margin-top: $spacer2
		+ .faqsClaroDetailBox
			margin-top: $spacer2
			+mediaMin960
				margin-top: $spacer3
	
//Compras y Recargas
.timelineSteps
	width: 100%
	max-width: 695px
	margin-bottom: $spacer3
	+flex 
	+bx
	li 
		color: $gris10
		position: relative
		width: calc(50% - 15px)
		+bx
		&:last-child
			width: 26px
			&::after
				display: none
			.txtTS
				margin-left: -60px
		&:first-child
			.txtTS
				margin-left: 0
		&:after 
			content: '' 
			width: 100%
			max-width: calc(100% - 44px)
			height: 4px 
			background-color: #989898
			border-radius: 4px
			display: inline-block
			position: absolute
			left: 34px
			top: 10px
		.numTS
			width: 24px
			height: 24px
			color: #989898
			line-height: 1em
			border: 2px solid #989898
			border-radius: 50%
			margin-bottom: $spacer
			+font-size(16px)
			+flex 
			+alignItem
			+justifyCont
			+bx
		.txtTS
			+font-size(14px)
			font-weight: 700
			color: #989898
			max-width: 90px
			display: inline-block
			margin-left: -30px
			+bx
		&.current 
			color: $gris10
			position: relative
			.numTS
				color: $verde9
				border: 2px solid $verde9	
			.txtTS
				color: $verde9
			&:after 
				background-color: #6A6C6C
.subtitleStep 
	display: none

.formBoxStep
	fieldset
		> label
			margin-bottom: $spacer
			font-weight: 500
			font-style: normal
			display: block
			+font-size(18px)
		+ fieldset
			margin-top: $spacer2
	.twoColums
		+ .twoColums
			margin-top: $spacer2
.boxStep
	background: #FFF
	box-shadow: 0px 4px 8px rgba(49, 49, 49, 0.15)
	border-radius: 12px
	padding: $spacer3 $spacer2

.itemBoxPaquetes
	background: #FFF
	box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.3)
	border-radius: 16px
	overflow: hidden
	margin-bottom: $spacer
	+bx
	> label
		display: block
		height: 100%
		+bx
		> input
			display: inline-block
			width: 0
			height: 0
			overflow: hidden
			display: none
			&:checked
				~ .headerIBP
					background-color: $azul5
					color: #fff
				~ .footerIBP
					.btnTransGris
						border-color: $azul5
						color: $azul5
		.listRS
			width: 100%
			+flex
			+flexWrap
			+justifyCont(space-evenly)
			+font-size(24px)
			margin-bottom: 10px
			> i 
				margin: 0 5px 10px
		.timeBIBP 
			+font-size(16px)
			font-weight: 500
			width: 100%
			text-align: center
			margin-bottom: $spacer2
		.diasBIBP 
			+font-size(16px)
			font-weight: 500
			width: 100%
			text-align: center
			margin-bottom: $spacer2
		.precioBIBP
			+font-size(20px)
			font-weight: 700
			width: 100%
			text-align: center
		.headerIBP
			padding: $spacer $spacer2
			background-color: #BBB
			color: #3C3C3C
			font-weight: 700
			min-height: 60px
			text-align: center
			+font-size(22px)
			+flex
			+alignItem(center)
			+justifyCont(center)
			+bx
		.bodyIBP
			padding: $spacer2
			min-height: 100px
			+flex 
			+flexWrap
			+alignItem(center)
			+justifyCont(center)
			+bx
		.footerIBP
			padding: 0 $spacer2 $spacer3
			text-align: center
			+bx
			.btnTransGris
				border-color: $gris5
				color: $gris5
				width: 100%
				max-width: 180px
				&:hover 
					background-color: transparent
					border-color: $azul5
					color: $azul5
	&.v2
		> label 
			.headerIBP
				+font-size(18px)

.contBoxPaquetes
	width: 100% 
	max-width: 765px
	margin: 0 auto	
	.wrapperItemBox
		padding-right: $spacer
		padding-left: $spacer
		+bx	
.jsSlidesRecargaPaquete
	.slick-list 
		padding: 0 10% 0 0 !important
	.slick-dots
		position: static
		li
			width: 12px
			height: 12px
			padding: 4px
			margin: 0 2px
			button
				+fx(all, 0.5s)
				+borderRadius(50%)
				width: 12px
				height: 12px
				padding: 0
				background-color: #C4C4C4
			&.slick-active
				button
					background-color: #424242
	.slick-prev, .slick-next
		border: 2px solid #3C3C3C
		width: 40px
		height: 40px
		border-radius: 100%
		&:before
			color: #3C3C3C
			opacity: 1
	.slick-prev
		left: -40px
		&:before
			+claroIcon('e910')
	.slick-next
		right: -40px
		&:before
			+claroIcon('e912')
.listRecargaPaquetes
	padding-top: $spacer4
	.titleLRP
		+font-size(20px)
		font-weight: 700
		margin-bottom: $spacer
		color: $gris7
.contBtnStep
	padding-top: $spacer4
	.btn
		width: 100% 
		+ .btn 
			margin-top: $spacer3
			
+mediaMin640
	.timelineSteps
		li 
			&:last-child
				width: 100%
				width: 150px
				.txtTS
					margin-left: 0
			.txtTS
				+font-size(16px)
				max-width: 100%
				margin-left: 0
			.numTS
				margin-bottom: $spacer2
	.subtitleStep 
		display: block
		+font-size(24px)
		margin-bottom: $spacer3
		color: $gris7
	.formBoxStep
		fieldset
			> label
				+font-size(20px)
		.twoColums
			+flex
			+flexWrap
			margin-left: -$spacer
			margin-right: -$spacer
			+ .twoColums
				margin-top: $spacer3
			> fieldset
				margin-left: $spacer
				margin-right: $spacer
				width: calc(50% - #{$spacer*2})
				+ fieldset
					margin-top: 0
	.contBtnStep
		+flex
		+justifyCont(space-between)
		.btn
			width: auto
			min-width: 160px
			+ .btn 
				margin-top: 0
		.btnPrimario
			order: 1
	.jsSlidesRecargaPaquete
		.slick-list 
			padding: 0 !important