@import "../abstracts/variables"
@import "../abstracts/mixins"

footer
	+bx
	position: relative
	color: #fff
	width: 100%
	min-height: 60px
	padding: $spacer2 0
	background-color: $gris9
	.container
		+flex
		+flexDir
		+alignItem
		height: 100%
		p
			+bx
			+font-size(14px)
			font-weight: 400
			+ ul
				margin-top: $spacer
		ul
			+bx
			+flex
			+justifyCont
			width: 100%
			li
				+font-size(14px)
				position: relative
				a
					display: block
					padding: 0 $spacer
					&:hover
						text-decoration: underline
				+ li
					&:before
						+center(h)
						content: ''
						width: 1px
						height: 12px
						display: block
						background-color: #fff

+mediaMin960
	footer
		.container
			+flexDir(row)
			+justifyCont(space-between)
			p
				width: 50%
				padding-right: $spacer2
				+ ul
					margin-top: 0
			ul
				+justifyCont(flex-end)
				width: 50%