@import "../abstracts/variables"
@import "../abstracts/mixins"

header
	+bx
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 55px
	background-color: $rojo6
	z-index: 100
	+mediaMin960
		height: 60px
		.logo
			img
				width: 122px
				height: 32px
	.headerProfile
		+bx
		+flex
		+alignItem
		+font-size(14px)
		color: $gris1
		position: fixed
		left: 0
		top: 0
		width: 100%
		height: 30px
		background-color: $rojo8
		padding: 0 $spacer2
		+mediaMin960
			+font-size(16px)
			font-weight: 700
			position: relative
			left: initial
			top: initial
			background-color: transparent
			padding: 0 $spacer3
	&.mainHeader
		top: 30px
		+mediaMin960
			top: 0
			.container
				max-width: initial
		.logo
			margin-left: $spacer4
			+mediaMin960
				margin-left: 0
		+ .wrapper
			padding-top: 85px
			+mediaMin960
				padding-top: 60px
	.container
		+flex
		+alignItem(center)
		height: 100%
		position: relative
	.hamburguer
		+center(h)
		left: $spacer2
		width: 20px
		height: 14px
		cursor: pointer
		+mediaMin960
			display: none
		span
			+fx(all, 0.15s)
			position: absolute
			right: 0
			top: 6px
			display: block
			width: 20px
			height: 2px
			background-color: #fff
			&:first-child
				top: 0
			&:last-child
				top: 12px
		&:hover
			span
				&:first-child
					+transformRotate(45deg)
					right: -2px
					top: 2px
					width: 13px
				&:last-child
					+transformRotate(-45deg)
					right: -2px
					top: 10px
					width: 13px
	.headerSidebar
		+fx(all, 0.5s)
		position: fixed
		left: 0
		top: 0
		width: 100%
		height: 100%
		padding-top: $spacer4
		background-color: #fff
		z-index: 10
		overflow: auto
		+mediaMin960
			+bx
			+shadow(0px, 4px, 8px, 0, rgba(30, 30, 30, 0.2))
			width: 250px !important
			left: 0 !important
			top: 60px
			height: calc(100% - 130px)
			padding-top: 0
			padding-bottom: $spacer6
			overflow: hidden
		&.open
			left: 0 !important
		&:before
			+bx
			+font-size(16px)
			font-weight: 700
			color: #fff
			content: 'Menu'
			position: absolute
			left: 0
			top: 0
			width: 100%
			padding: $spacer $spacer3/2
			background-color: $rojo6
			+mediaMin960
				display: none
		.closeNav
			+flex
			+alignItem(center)
			color: #fff
			position: absolute
			right: 0
			top: 0
			padding: $spacer0 12px
			cursor: pointer
			z-index: 5
			i
				+font-size(20px)
				font-weight: 700
			+mediaMin960
				display: none
		.notifyHeader
			position: fixed
			right: 15px
			top: 36px
			padding: $spacer0
			z-index: 10
			+mediaMin960
				right: 385px
				top: 8px
			.notifyHeaderBtn
				cursor: pointer
				> i
					+font-size(28px)
					color: #fff
				span
					+borderRadius(50%)
					position: absolute
					bottom: 9px
					right: 5px
					width: 16px
					height: 16px
					display: block
					background-color: $amarillo6
					> i

						+center(vh)
						+font-size(12px)
						font-weight: 700
			.notifyHeaderMenu
				+bx
				+fx(all, 0.5s)
				+borderRadius($spacer)
				+shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.1))
				position: absolute
				right: -3px
				top: 40px
				width: 300px
				opacity: 0
				filter: alpha(opacity = 0)
				pointer-events: none
				z-index: 1
				+mediaMin960
					width: 540px
				&.open
					top: 45px
					opacity: 1
					filter: alpha(opacity = 1)
					pointer-events: auto
					z-index: 10
				&:before
					+bx
					+shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.1))
					+transform(rotate(-45deg))
					content: ''
					width: 0
					height: 0
					display: block
					position: absolute
					right: 15px
					top: 0
					border: #fff 10px solid
					border-color: #fff #fff transparent transparent
				li
					position: relative
					a
						+font-size(12px)
						display: block
						padding: $spacer $spacer2
						background: #fff
						+mediaMin960
							+flex
							padding: $spacer2
						span
							padding-left: $spacer2
							strong
								display: block
								text-transform: uppercase
						> i
							display: none
							+mediaMin960
								+font-size(30px)
								color: #44AF69
								display: block
						&:hover
							background-color: $gris1
					+ li 
						border-top: #E2E2E2 1px solid
						+mediaMin960
							border-top: none
							&:before
								+center(v)
								content: ""
								top: 0
								width: calc(100% - 30px)
								height: 1px
								display: block
								background-color: #E2E2E2
					&:first-child
						a
							-webkit-border-top-left-radius: 12px
							-webkit-border-top-right-radius: 12px
							-moz-border-radius-topleft: 12px
							-moz-border-radius-topright: 12px
							border-top-left-radius: 12px
							border-top-right-radius: 12px
					&:last-child
						a
							-webkit-border-bottom-right-radius: 12px
							-webkit-border-bottom-left-radius: 12px
							-moz-border-radius-bottomright: 12px
							-moz-border-radius-bottomleft: 12px
							border-bottom-right-radius: 12px
		.headerSearch
			position: relative
			z-index: 10
			padding: $spacer3 $spacer3/2 $spacer
			background-color: #fff
			+mediaMin960
				position: fixed
				right: $spacer2
				top: 10px
				padding: 0
				background-color: transparent
			.inputSearch
				height: 45px
				+mediaMin960
					min-width: 340px
					height: 40px
					background-color: #C7251A
					border: #FC867F 1px solid
				input
					padding-left: $spacer6
					+mediaMin960
						color: #fff
						padding-left: $spacer5
						&::placeholder
							color: #fff
						&::-ms-input-placeholder
							color: #fff
						&::-ms-input-placeholder
							color: #fff
				&:before
					+font-size(24px)
					left: $spacer2
					top: 10px
					+mediaMin960
						color: #fff
						left: $spacer3/2
						top: 7px
		.headerWelcome
			display: none
			+mediaMin960
				+font-size(24px)
				color: $rojo6
				display: block
				padding: $spacer2 $spacer4
		nav
			+mediaMin960
				height: calc(100% - 95px)
				overflow: auto
			ul
				+fx(all, 0.5s)
				width: 100%
				background-color: #fff
				> li
					+bx
					width: 100%
					position: relative
					+mediaMin960
						&.hasSub
							a
								color: $color-text !important
							ul
								> li
									&.active
										a
											font-weight: 700
											color: $azul5 !important
						&.active
							a
								font-weight: 700
								color: $azul5
							ul
								> li
									+font-size(14px)
									a
										color: $color-text
										font-weight: 400
					a
						+bx
						+font-size(16px)
						font-weight: 500
						position: relative
						display: block
						width: 100%
						padding: $spacer2 $spacer3/2
						background-color: #fff
						+mediaMin960
							font-weight: 400
							padding: $spacer2 $spacer4
							padding-right: $spacer5
					.openSubM
						+fx(all, 0.5s)
						position: absolute
						right: 0
						top: $spacer
						width: 48px
						height: 48px
						display: block
						cursor: pointer
						+mediaMin960
							top: 8px
							right: $spacer3/2
						&:after
							+claroIcon('e92e')
							+font-size(18px)
							+center(vh)
							pointer-events: none
						&.openAcc
							+transform(rotate(180deg))
					+ li
						a
							border-top: $gris1 4px solid
							+mediaMin960
								border-top: none
					> ul
						+fxr
						position: relative
						left: initial !important
						top: initial !important
						display: none
						> li
							+bx
							width: 100%
							padding: 0 $spacer2
							a
								font-weight: 400
								padding: $spacer3/2
								border-top: none
								+mediaMin960
									padding: $spacer $spacer3/2
									padding-left: $spacer3
		
		.headerLogOut
			+bx
			padding: $spacer3/2
			background-color: $gris8
			+mediaMin960
				position: absolute
				bottom: 0
				left: 0
				width: 100%
			[class*="btn"]
				min-width: 180px
				margin: 0 auto
				display: table