@import "../abstracts/variables"
//@import "../abstracts/mixins"

.bgStatus
	position: absolute
	left: 0
	top: 55px
	width: 100%
	height: calc(100% - 80px)
	+mediaMin960
		top: 60px
		height: calc(100% - 50px)
	img
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		object-fit: cover

.loginRegister
	+bx
	+borderRadius(12px)
	+shadow
	//min-height: 520px
	position: relative
	padding: $spacer3 $spacer2
	background-color: #fff
	margin-top: 4px
	margin-bottom: $spacer4
	+mediaMin760
		margin-top: 0
		margin-bottom: 0
	&:before
		+borderRadius(12px)
		content: ''
		position: absolute
		width: calc(100% + 40px)
		height: calc(100% + 60px)
		left: -$spacer2
		top: -$spacer2
		display: block
		background-color: $azul5
		z-index: -1
		+mediaMin760
			display: none
	&.hl
		.loginRegisterCont
			h2
				display: none
				+mediaMin760
					display: block
			.loginRegisterDetails
				padding-top: 0
				+mediaMin760
					padding-top: $spacer3
				.loginRegisterDetailsInfo
					padding-top: 0
					+mediaMin1102
						padding-top: $spacer2
					.loginRegisterDetailsText
						display: block
					.loginRegisterDetailsIntro
						display: block
	+mediaMin760
		+bx
		+flex
		+justifyCont(space-between)
		+borderRadius(30px)
		+gradient(180deg, #0097A9, #05808E)
		padding: $spacer3
		-webkit-box-shadow: none
		-moz-box-shadow: none
		-o-box-shadow: none
		-ms-box-shadow: none
		box-shadow: none
	+mediaMin1102
		+justifyCont(space-between)
		padding-bottom: 0
	.loginRegisterCont
		+mediaMin760
			width: 35%
			padding-right: $spacer4
			padding-top: $spacer2
			position: relative
			z-index: 1
		h2
			+mediaMin760
				color: #fff
		.loginRegisterDetails
			padding-top: $spacer2
			+mediaMin1102
				display: flex
				padding-top: $spacer3
			.loginRegisterDetailsImg
				i
					display: none
					margin: 0 auto
					+mediaMin760
						display: table
			.loginRegisterDetailsInfo
				+bx
				padding-top: $spacer2
				+mediaMin1102
					padding-top: 0
					padding-left: $spacer2
				h3
					position: relative
					padding-bottom: $spacer3/2
					+mediaMin760
						color: #fff
					&:after
						+borderRadius(3px)
						content: ''
						position: absolute
						left: 0
						bottom: 0
						width: 100%
						height: 6px
						display: block
						background-color: $amarillo7

				.loginRegisterDetailsText
					margin-top: $spacer2
					display: none
					+mediaMin760
						display: block
					p
						+font-size(16px)
						font-weight: 600
						line-height: 20px
						letter-spacing: 0
						+mediaMin760
							color: #fff
				.loginRegisterDetailsIntro
					padding-top: $spacer2
					display: none
					+mediaMin760
						display: block
					p
						+mediaMin760
							color: #fff

	.loginRegisterImg
		display: none
		+mediaMin760
			display: block
			position: absolute
			left: 0
			bottom: 0
			width: 40%
		+mediaMin1102
			+center(v)
			width: auto
			margin-left: -8%
		+mediaMin1500
			margin-left: -4%
		img
			+mediaMin760
				width: auto
				height: 260px
				margin: 0 auto
				object-fit: contain
			+mediaMin1102
				height: 440px

	.loginRegisterBox
		+bx
		+borderRadius(12px)
		background: #fff
		width: 100%
		margin-top: $spacer3
		+mediaMin760
			+shadow
			margin-top: 0
			width: 60%
			max-width: 560px
			padding: $spacer3 $spacer2
			margin-top: $spacer2
		+mediaMin1102
			width: 45%
			margin-bottom: -$spacer3
			position: relative
			z-index: 1
		.loginRegisterBoxHeader
			border-bottom: 1px solid $color-border
			padding-bottom: $spacer2
			margin-bottom: $spacer3
			display: none
			+mediaMin760
				display: block
				
		form
			.twoColumns
				+mediaMin960
					+flex
					+justifyCont(space-between)
					fieldset
						width: calc(50% - 10px)
			fieldset
				margin-bottom: $spacer2
				// padding-top: $spacer
				> label
					font-weight: 700
					display: inline-block
					padding-bottom: $spacer
				&.fsLink
					+flex
					+justifyCont(flex-end)
					.textLink
						color: $color-text
						&:after
							background-color: $color-text
			.loginRegisterActions
				p
					text-align: center
					margin-bottom: $spacer
				.loginRegisterActCreate
					a
						width: 100%
				&.spaceTop
					margin-top: $spacer3
	&.smallForm
		.loginRegisterCont
			+mediaMin760
				width: 50%
			+mediaMin1102
				width: 35%
		.loginRegisterImg
			+mediaMin1102
				margin-left: 0
			+mediaMin1500
				margin-left: 0
		.loginRegisterBox
			+mediaMin760
				width: 50%
				max-width: 400px
			+mediaMin1102
				width: 45%

.bgSpLogin
	+bx
	position: relative
	overflow: hidden
	padding: $spacer4 0
	+mediaMin640
		padding: $spacer6 0
		min-height: calc(100vh - 120px) 
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 350px
		display: block
		pointer-events: none
		background-color: #fff
		-webkit-border-bottom-right-radius: $spacer3
		-webkit-border-bottom-left-radius: $spacer3
		-moz-border-radius-bottomright: $spacer3
		-moz-border-radius-bottomleft: $spacer3
		border-bottom-right-radius: $spacer3
		border-bottom-left-radius: $spacer3
		display: none
		+mediaMin640
			display: block
	.bgSpLoginImgWrap
		position: absolute
		left: 0
		top: 350px
		width: 100%
		display: none
		+mediaMin640
			display: block
		.bgSpLoginImgLeft
			position: absolute
			left: 0
			top: 0
		.bgSpLoginImgRight
			position: absolute
			right: 0
			top: 0
	.customLitteForm
		+bx
		+borderRadius(12px)
		+shadow
		width: 100%
		position: relative
		padding: $spacer3 $spacer2
		background-color: #fff
		border-top: $azul5 14px solid
		+mediaMin640
			max-width: 640px
			margin: 0 auto
		.customLitteFormText
			width: 100%
			max-width: 480px
			text-align: center
			margin: 0 auto
			margin-bottom: $spacer2
			+mediaMin640
				margin-bottom: $spacer3
			h1, h2, h3
				+ p
					margin-top: $spacer2
			p
				width: 100%
				max-width: 400px
				margin: 0 auto
			&.withBorder
				+bx
				width: calc(100% + #{$spacer2 * 2})
				max-width: initial
				margin-left: -$spacer2
				margin-right: -$spacer2
				padding: 0 $spacer2
				padding-bottom: $spacer3
				border-bottom: $gris1 4px solid
		.customLitteIntroText
			position: relative
			padding: $spacer 0 0
			p
				text-align: center
				+ p
					margin-top: $spacer2
			.btnCont
				margin-top: $spacer3
			.customIconList
				+bx
				padding: 0 $spacer2
				+mediaMin640
					width: 100%
					max-width: 480px
					margin: 0 auto
				> p
					text-align: left
					margin-bottom: $spacer3
				.icoListWrap
					+flex
					i
						+font-size(24px)
					.icoLisText
						margin-left: $spacer2
						+mediaMin640
							+flex
							+justifyCont(space-between)
							width: calc(100% - 44px)
						p
							text-align: left
							+ p
								margin-top: $spacer/3
								+mediaMin640
									margin-top: 0
					+ .icoListWrap
						margin-top: $spacer2
		.customLitteStatus
			+bx
			position: relative
			display: table
			padding: $spacer
			padding-left: $spacer4
			margin: -$spacer2 auto $spacer2
			background-color: $gris1
			-webkit-border-bottom-right-radius: 8px
			-webkit-border-bottom-left-radius: 8px
			-moz-border-radius-bottomright: 8px
			-moz-border-radius-bottomleft: 8px
			border-bottom-right-radius: 8px
			border-bottom-left-radius: 8px
			+mediaMin640
				padding: $spacer $spacer3/2
				padding-left: 44px
				margin-top: -$spacer3
			i
				+font-size(16px)
				color: $azul5
				position: absolute
				left: $spacer
				top: $spacer
				+mediaMin640
					left: $spacer3/2
			p
				+font-size(12px)
		.formSecureCode
			padding: $spacer2 0
			margin-bottom: $spacer2
			p
				text-align: center
				+ .formSecureCodeGrid
					margin-top: $spacer
			.formSecureCodeGrid
				+flex
				+justifyCont(center)
				input
					+font-size(20px)
					+borderRadius(10px)
					width: 40px
					height: 48px
					padding: $spacer/2 0
					text-align: center
					+ input
						margin-left: $spacer
				+ p
					margin-top: $spacer2
		.btnCont
			+flex
			+flexDir
			+alignItem(center)
			padding-top: $spacer
			[class*="btn"]
				width: 100%
				max-width: 280px
				+ .textLink
					margin-top: $spacer2

		
.statusForm
	text-align: center
	+mediaMin640
		width: 100%
		max-width: 620px
		margin: 0 auto
	.statusFormImg
		display: table
		position: relative
		margin: $spacer4 auto $spacer6
		span
			+borderRadius(50%)
			width: 50px
			height: 50px
			display: block
			position: relative
			[class*="ico"]
				+center(vh)
				+font-size(32px)
		&:before
			+center(vh)
			+borderRadius(50%)
			content: ''
			width: 100px
			height: 100px
			display: block
		&:after
			+center(vh)
			+borderRadius(50%)
			content: ''
			width: 80px
			height: 80px
			display: block
		&.success
			span
				color: #fff
				background-color: #44AF69
			&:before
				background-color: rgba(68, 175, 105, 0.15)
			&:after
				background-color: rgba(68, 175, 105, 0.3)
		&.warning
			span
				color: #fff
				background-color: $amarillo9
			&:before
				background-color: rgba(255, 131, 0, 0.15)
			&:after
				background-color: rgba(255, 131, 0, 0.3)
		img
			width: 80px
			height: 80px
			object-fit: cover
			+mediaMin640
				width: 120px
				height: 120px
			
		// i
		// 	&:before
		// 		width: 80px
		// 		height: 80px
		// 		+mediaMin640
		// 			width: 120px
		// 			height: 120px
	.statusFormText
		h2
			margin-bottom: $spacer4
		p
			+mediaMin640
				+font-size(20px)
			+ p
				margin-top: $spacer3
		&.v2
			+mediaMin640
				min-height: 180px
	[class*="btn"]
		margin-top: $spacer4
		width: 100%
		max-width: 280px
	&.customSF
		.statusFormImg
			margin-top: 25px
		[class*="btn"]
			max-width: initial
			margin-top: $spacer3
			+mediaMin640
				max-width: 320px
				margin-top: $spacer4*3