@import "../abstracts/variables"
@import "../abstracts/mixins"


.loginInfo
	+bx
	.loginInfoTitle
		margin-bottom: $spacer3/2
		p 
			color: $gris8
		.h2
			color: $gris8
			font-weight: 400
			+ .h4 
				margin-top: $spacer2
			+ .h5
				margin-top: $spacer2
		.h5 
			font-weight: 400
			line-height: 26px
		.txtLoginInfoTitle
			display: none
	.contQuickAccess
		.itemQuickAccess
			text-align: center
			margin-bottom: $spacer
			+bx
			[class ^= 'cIco-'], [class*=" cIco-"]
				background: #FFFFFF
				box-shadow: 0px 4px 8px rgba(49, 49, 49, 0.15)
				border-radius: 12px
				width: 60px 
				height: 60px
				+flex 
				+alignItem
				+justifyCont
				+bx
				margin: 0 auto $spacer0
				&:before
					width: 36px
					height: 36px
			p 
				+font-size(10px)
				color: $gris7
				font-weight: 500
				width: 60px
				margin: auto
	&.lIBox
		background: #FFFFFF
		box-shadow: 0px 4px 8px rgba(49, 49, 49, 0.15)
		border-radius: 12px
		padding: $spacer2 $spacer2 $spacer3 
.loginRegister
	+bx
	+gradient(180deg, #0097A9, #05808E)
	padding: $spacer2
	-webkit-box-shadow: none
	-moz-box-shadow: none
	-o-box-shadow: none
	-ms-box-shadow: none
	box-shadow: none
	width: calc(100% + #{$spacer2*2})
	margin-left: -$spacer2
	margin-right: -$spacer2
	border-radius: 0 0 12px 12px
	overflow: hidden
	.loginRegisterDetails
		.h1
			color: #fff
		.loginRegisterDetailsText
			display: none
	.loginRegisterBox
		+bx
		+borderRadius(12px)
		background: #fff
		width: 100%
		margin-top: $spacer
		padding: $spacer3 $spacer2 $spacer2 
		min-height: 470px
		.loginRegisterBoxHeader
			border-bottom: 1px solid $color-border
			padding-bottom: $spacer2
			margin-bottom: $spacer3
			display: none
		.contTitleFormLRB  
			margin-bottom: $spacer3
			.h3
				margin-bottom: $spacer0/2
				+font-size(22px)
			.txtSmall
				+font-size(14px)
			&.mbTFLRB
				margin-bottom: #{$spacer2 + 4}
		.contCBLRB
			padding-top: $spacer2
			margin-bottom: $spacer5
		fieldset
			margin-bottom: $spacer2
			> label
				font-weight: 700
				display: inline-block
				padding-bottom: $spacer
			&.fsLink
				+flex
				+justifyCont(flex-end)
				.textLink
					color: $color-text
					font-weight: 400
					+font-size(14px)
					&:after
						background-color: $color-text
		.loginRegisterActions
			p
				text-align: center
				margin-bottom: $spacer
			.btn
				width: 100%
				+ p 
					margin-top: $spacer2
			&.spaceTop
				margin-top: $spacer3
	.loginRegisterImg
		display: none
		pointer-events: none
	&.lRBoxRegister
		background: #FCF3F3
		.loginRegisterDetails 
			.h1
				color: $gris8
				&::after
					background-color: $rojo6
	.formList
		li
			+font-size(14px)
			position: relative
			padding-left: $spacer
			&:before
				+borderRadius(50%)
				content: ''
				position: absolute
				left: 0
				top: 8px
				width: 3px
				height: 3px
				display: block
				background-color: $rojo6

.jsSlidesQuickAccess, .jsSlidesStore
	.slick-dots
		position: static
		li
			width: 12px
			height: 12px
			padding: 4px
			margin: 0 2px
			button
				+fx(all, 0.5s)
				+borderRadius(50%)
				width: 12px
				height: 12px
				padding: 0
				background-color: #C4C4C4
			&.slick-active
				button
					background-color: $amarillo6
.jsSlidesStore 
	margin-bottom: 0!important
.contLogin
	.loginInfo
		+ .loginRegister
			margin-top: $spacer3
	.loginRegister
		+ .loginInfo
			margin-top: $spacer3
.contLitsMedia
	margin-top: $spacer3
.itemMedia
	+flex
	+flexWrap
	+bx 
	width: 100% 
	> i
		width: 40px
		height: 40px
		&:before 
			width: 100% 
			height: 100% 
	.iMInfo
		+bx 
		margin-left: $spacer2
		width: calc(100% - #{$spacer2 + 40})
		+font-size(14px)
		line-height: 24px
		font-weight: 500
	+ .itemMedia
		margin-top: $spacer3

.contItemsStore
	margin-top: $spacer
	.wrapperIS
		padding: $spacer0/2
		margin-bottom: $spacer0
		+bx
.itemStore
	background: #FFF
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)
	border-radius: 12px
	padding: $spacer
	+flex
	+flexWrap
	+alignItem
	+justifyCont
	.logoIS
		width: 120px
		height: 75px
		margin-right: $spacer3
		i
			&:before
				width: 100% 
				height: 100% 
				background-position: center 
				background-repeat: no-repeat
				background-size: contain
				content: ''
				display: block
		.icono-app-claro-musica
			&:before 
				background-image: url(assets/vector/logo-claro-musica-ico.svg)
		.icono-app-claro-video
			&:before 
				background-image: url(assets/vector/logo-claroVideo.svg)
		.icono-app-mi-claro
			&:before 
				background-image: url(assets/vector/logo-mi-claro-ico.svg)
	.btnsIS

		.btnStore
			background: #FFFFFF
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
			border-radius: 40px
			+flex
			+alignItem(center)
			+bx
			+font-size(12px)
			font-weight: normal
			font-family: $fontPrin
			min-height: 28px
			min-width: 128px
			padding: $spacer0/2 $spacer
			+ .btnStore 
				margin-top: $spacer0
			> i 
				width: 20px
				height: 20px
				display: inline-block
				margin-right: $spacer3/2
				&:before
					width: 100% 
					height: 100% 
					background-position: center 
					background-repeat: no-repeat
					background-size: contain
					content: ''
					display: block
			.iconoGooglePay
				&:before 
					background-image: url(assets/vector/ico-googlePlay.svg)
			.iconoAppStore
				&:before 
					background-image: url(assets/vector/ico-appStore.svg)
			.iconoAppGallery
				&:before 
					background-image: url(assets/vector/ico-appGallery.svg)

.formSecureCode
	p
		text-align: center
		+ .formSecureCodeGrid
			margin-top: $spacer
	.formSecureCodeGrid
		+flex
		+justifyCont(center)
		input
			+font-size(20px)
			+borderRadius(10px)
			width: 34px
			height: 42px
			padding: $spacer/2 0
			text-align: center
			+ input
				margin-left: $spacer
		+ p
			margin-top: $spacer2



+mediaMin960
	.contLogin
		+flex
		+flexWrap
		+bx
		.loginInfo
			width: 47.5%
			padding: $spacer4 #{$spacer2 + 10} #{$spacer2 + 10}
			+ .loginRegister
				margin-top: 0
			&.lIBox
				width: 43%
		.loginRegister
			width: calc(52.5% - #{$spacer2 + 10})
			order: -1
			margin-right: #{$spacer2 + 10}
			+ .loginInfo
				margin-top: 0
			&.lRBoxRegister
				width: calc(57% - #{$spacer2 + 10})
	.loginInfo
		&.lIBox
			padding: $spacer5 $spacer5 $spacer5 60px
			.loginInfoTitle
				.h2		
					+font-size(28px)
					line-height: 28px	
		.loginInfoTitle
			margin-bottom: #{$spacer2 + 4}
			.h2
				font-weight: 400
				+ p, + .txtLoginInfoTitle
					margin-top: $spacer
				+ .h5
					margin-top: $spacer2
			.txtLoginInfoTitle
				display: block
		.contQuickAccess
			+flex 
			+flexWrap 
			width: calc(100% + #{$spacer2})
			margin-left: -$spacer2/2
			margin-right: -$spacer2/2
			.itemQuickAccess
				background: #FFFFFF
				box-shadow: 0px 4px 8px rgba(49, 49, 49, 0.15)
				border-radius: 12px
				padding: $spacer2
				margin: 0 $spacer2/2 $spacer2
				width: calc(50% - #{$spacer2})
				min-width: 160px
				min-height: 132px
				+flex
				+flexDir
				[class ^= 'cIco-'], [class*=" cIco-"]
					background: none
					box-shadow: none
					border-radius: 0
					width: 100%
					height: 46px
					margin-bottom: $spacer
					&:before
						width: 46px
						height: 46px
				.cIco-claro-musica, .cIco-claro-video
					&:before
						width: 120px
				.cIco-mi-claro
					&:before
						width: 100px
				p 
					+font-size(14px)
					line-height: 16px
					font-weight: 700
					width: auto
	.loginRegister
		margin: 0
		border-radius: 32px
		padding: $spacer4
		position: relative
		min-height: 790px
		.contLR
			position: relative
			z-index: 10
		.loginRegisterImg
			display: block
			position: absolute
			bottom: 0
			right: 0
		.loginRegisterBox
			max-width: 420px
			fieldset
				&.fsLink
					margin-bottom: $spacer4
		.loginRegisterDetails
			padding-bottom: $spacer5
			min-height: 190px
			+bx
			.h1
				position: relative
				padding-bottom: $spacer
				margin-bottom: $spacer2
				&::after
					content: ''
					width: 100% 
					max-width: 450px
					height: 8px
					border-radius: 20px
					background-color: $amarillo6
					position: absolute
					bottom: 0
					left: 0
			.loginRegisterDetailsText
				display: block
				color: #fff
				+font-size(18px)
	.itemMedia 
		.iMInfo
			+font-size(18px)
		+ .itemMedia
			margin-top: $spacer4
	.contLitsMedia
		margin-top: $spacer4
	.contItemsStore
		margin-top: $spacer2
		margin-left: -25px
		margin-right: -25px
		width: calc(100% + 50px)
		+flex
		+flexWrap
		.wrapperIS
			width: calc(50% - 50px)
			padding: 0
			margin-bottom: $spacer2
			margin-left: 25px
			margin-right: 25px
	.itemStore
		padding: $spacer2
		.logoIS
			width: 140px
			height: 105px
		.btnsIS
			.btnStore
				+font-size(14px)
				min-height: 34px
				min-width: 160px
				+ .btnStore 
					margin-top: $spacer
				> i 
					width: 22px
					height: 22px
					display: inline-block
					margin-right: $spacer2
	.formSecureCode
		.formSecureCodeGrid
			input
				width: 40px
				height: 40px

+mediaMin1280
	.loginInfo
		.contQuickAccess
			.itemQuickAccess
				width: calc(33.3333% - #{$spacer2})
	.contItemsStore
		.wrapperIS
			width: calc(33.33% - 50px)

+mediaMin1500
	.contLogin 
		.loginInfo
			padding-right: 60px
	.loginInfo
		&.lIBox
			padding-right: $spacer5

	.itemStore
		.logoIS
			width: 150px
			margin-right: $spacer4
