section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Suscribirse a Factura Digital
				p Activa tu factura digital para recibirla vía mail
			form(action="factura-digital-status.html")
				.formGen.extraPadd
					.formGenInfo.normal
						p
							strong Plan:
							|  Max Premium Black Libre
							br
							strong Cuenta:
							|  060608900
						p Tu factura será enviada cada mes a: 
							br
							strong carlos_suarez@mail.com
					fieldset.optionQuestion
						label ¿Desear recibir tu factura en un correo electrónico adicional?
						.optQuestGroup
							.radio.inv
								label Si
								input(type="radio" name="correo" value="1")
								.checkmark
							.radio.inv
								label No
								input(type="radio" name="correo" value="2" checked)
								.checkmark

					fieldset.optQuestCond(style="display: none")
						label Nuevo correo electrónico:
						input(type="email" placeholder="Ingresa nuevo correo electrónico")
					fieldset
						.checkbox
							input(type="checkbox" name="terminos")
							.checkmark
							label Acepto 
								a(href="#").textLink Terminos y Condiciones.
				.btnCont
					button(type="submit").btn.btnBlancoRojo Solicitar
					a(href="pagos-y-facturas.html").textLink Regresar

// Script Demo Ocultar / Mostrar Opciones
script.
	$('.optQuestGroup .radio input').on('click', function(){
		var getRadio = $(this).val();
		if(getRadio === "1"){
			$('.optQuestCond').show();
		}else{
			$('.optQuestCond').hide();
		}
		//- $(this).parent().toggleClass('show');
		//- if($(this).parent().hasClass('show')){
		//- 	return $(this).parent().find('input').prop('type', 'text');
		//- }else{
		//- 	return $(this).parent().find('input').prop('type', 'password');
		//- }
	});