section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Añadir Servicio Móvil
				p Ingresa los datos de tu servicio para poder asociarlo a tu cuenta
			form(action="asociar-servicio-movil-status.html")
				.formGen.singleField
					fieldset
						label Digita el número de tu Servicio
						.inputIcon
							i.ico-phone
							input(type="text" placeholder="56 9374 25847")
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar
					a(href="#").textLink Regresar