section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Asociar Servicio
				p Selecciona el servicio que deseas Asociar a tu cuenta Claro
			form(action="")
				.formGen.singleField
					fieldset
						label Elegir servicio
						span.select
							select
								option(value="0") Servicio Fijo 
								option(value="1") Servicio Móvil
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar
					a(href="#").textLink Cancelar

//Script Demo para seleccion de servicio
script.
	$('form').attr('action', 'asociar-servicio-fijo.html');
	$('select').on('change', function() {
		var selOpt = $(this).val();
		if(selOpt === '1'){
			$('form').attr('action', 'asociar-servicio-movil.html');
		}else{
			$('form').attr('action', 'asociar-servicio-fijo.html');
		}
	});