section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Añadir Servicio Fijo
				p Ingresa los datos de tu servicio para poder asociarlo a tu cuenta
			form(action="asociar-servicio-fijo-status.html")
				.formGen
					fieldset
						label Digita el número de tu Servicio
						.inputIcon
							i.ico-phone
							input(type="text" placeholder="56 9 777 25717")
					fieldset
						label Número de Factura
						.inputIcon.withTooltip
							i.ico-file-text
							input(type="text" placeholder="023912831320")
							a(data-fancybox data-src="#modalTooltip" href="javascript:;").tooltipModal
								i.ico-info
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar
					a(href="#").textLink Regresar

.modalGen#modalTooltip(style="display: none;")
	.modalGenWrap
		picture
			//- Desktop
			source(media="(min-width: 640px)" data-srcset='assets/img/img-asociar.webp' type="image/webp")
			source(media="(min-width: 640px)" data-srcset='assets/img/img-asociar.png' type="image/png")
			img(src='assets/img/img-asociar.png' alt='Recibo' width='456' height='306')
