section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 ¡Felicidades
			.statusFormText.v2
				p Tu servicio se ha asociado correctamente
				p Tu servicio: 
					br
					| Móvil Prepago: 56 9374 25847
				//-p
					strong Tus datos de acceso son: 
					br
					| Usuario: 56 9374 25847
					br
					| Contraseña personalizada 

			a(href="dashboard.html").btn.btnPrimario
				span Ir a Home