section.attentionBoxes
	.attentionBox
		h3 ChatBot
		i.cIco-chat
		p Te atendemos de lunes a domingo: las 24 horas
		a(href="#").btn.btnBlancoRojo Ir al chat
	.attentionBox
		h3 Atención vía WhatsApp
		i.cIco-whatsapp
		p Te atendemos de lunes a domingo, 24/7
		a(href="#").btn.btnBlancoRojo Abrir WhatsApp
	.attentionBox
		h3 ChatBot
		i.cIco-contactanos
		p Atendemos de lunes a domingo de 6:00 a 22:00 hrs.
		a(href="#").btn.btnPrimario Llamar