section.attentionBanner
	.attentionBannerWrap
		.attentionBannerLeft
			h3 Resuelve tus dudas o solicita asistencia
			p En cualquiera de nuestros canales de atención disponibles.
		.attentionBannerRight
			picture.imgBanner
				source(srcset='assets/img/img-atencion.webp' type='image/webp')
				source(srcset='assets/img/img-atencion.png' type='image/png')
				img(src='assets/img/img-atencion.png' alt='' width='358' height='404')