.boxConsume
	.boxBillsFilter
		h3 Filtrar por:
		form
			.boxBillsFilterGroup
				fieldset
					label Filtrar facturas por:
					span.select
						select
							option(value="" selected disabled) Seleccionar una opción
							option(value="") Servicios Móviles
							option(value="") Servicios Móviles 
							option(value="") Servicios Móviles 
				fieldset
					label Filtrar por estatus
					span.select
						select
							option(value="" selected disabled) Seleccionar una opción
							option(value="") Pagada
							option(value="") Vencida
							option(value="") Cancelada
				fieldset.large
					label Filtrar por periodo:
					span.select
						select
							option(value="" selected disabled) Seleccionar una opción
							option(value="") Todas
							option(value="") Periodo 1
							option(value="") Periodo 2
				.btnFilter
					button(type="button").btn.btnFlatText Limpiar filtros
	.boxBillsRows
		table(width="100%" cellpadding="0" cellspacing="0" border="0")
			thead
				tr
					th
						.checkbox.hideOnMobile
							input(type="checkbox" name="selectall")
							.checkmark
					th Titulo de Factura
					th.center.hideOnMobile Periodo Facturado
					th.center Adeudo
					th.center Acciones
			tbody
				tr
					td
						.checkbox
							input(type="checkbox" name="selectall")
							.checkmark
					td
						p.lineNum Línea: 
							span 47689058
								i.paperless
					td.hideOnMobile
						p
							strong Junio
							span 09/06/2021 al 08/06/2021
					td
						p
							strong $409.900
							span.deadline Vence 05/11/2021
					td
						.tableMoreOptions
							a(href="#").iconLink
								i.ico-download
								span Descargar
							a(href="aaaaa").btn.btnPrimario Pagar factura
							.dotsOptionsMenu
								.dotsOptMenuBtn
									span
								ul.dotsOptMenuList
									li
										a(href="enviar-factura.html") Enviar Factura
									li.hideOnDesk
										a(href="#") Descargar Factura
									li.hideOnDesk
										a(href="aaaaa") Pagar Factura
									li
										a(href="cambiar-factura-digital.html") Cambiar Correo de Factura Digital
									li
										a(href="#") Desactivar Paperless
									li
										a(href="debito-automatico.html") Débito Automático
				tr
					td
						.checkbox
							input(type="checkbox" name="selectall")
							.checkmark
					td
						p.lineNum Línea: 
							span 47689058
								i.paperless
					td.hideOnMobile
						p
							strong Junio
							span 09/06/2021 al 08/06/2021
					td
						p
							strong $409.900
							span.deadline Vence 05/11/2021
					td
						.tableMoreOptions
							a(href="#").iconLink
								i.ico-download
								span Descargar
							a(href="aaaaa").btn.btnPrimario Pagar factura
							.dotsOptionsMenu
								.dotsOptMenuBtn
									span
								ul.dotsOptMenuList
									li
										a(href="enviar-factura.html") Enviar Factura
									li.hideOnDesk
										a(href="#") Descargar Factura
									li.hideOnDesk
										a(href="aaaaa") Pagar Factura
									li
										a(href="cambiar-factura-digital.html") Cambiar Correo de Factura Digital
									li
										a(href="#") Desactivar Paperless
									li
										a(href="debito-automatico.html") Débito Automático
				tr
					td
						.checkbox
							input(type="checkbox" name="selectall")
							.checkmark
					td
						p.lineNum Línea: 
							span 47689058
					td.hideOnMobile
						p
							strong Junio
							span 09/06/2021 al 08/06/2021
					td
						p
							strong $409.900
							span.deadline Vence 05/11/2021
					td
						.tableMoreOptions
							a(href="#").iconLink
								i.ico-download
								span Descargar
							a(href="aaaaa").btn.btnPrimario Pagar factura
							.dotsOptionsMenu
								.dotsOptMenuBtn
									span
								ul.dotsOptMenuList
									li
										a(href="enviar-factura.html") Enviar Factura
									li.hideOnDesk
										a(href="#") Descargar Factura
									li.hideOnDesk
										a(href="aaaaa") Pagar Factura
									li
										a(href="activar-factura-digital.html") Cambiar a paperless
									li
										a(href="debito-automatico.html") Débito Automático
				tr
					td
						.checkbox
							input(type="checkbox" name="selectall")
							.checkmark
					td
						p.lineNum Línea: 
							span 47689058
					td.hideOnMobile
						p
							strong Junio
							span 09/06/2021 al 08/06/2021
					td
						p
							strong $409.900
							span.deadline Vence 05/11/2021
					td
						.tableMoreOptions
							a(href="#").iconLink
								i.ico-download
								span Descargar
							a(href="aaaaa").btn.btnPrimario Pagar factura
							.dotsOptionsMenu
								.dotsOptMenuBtn
									span
								ul.dotsOptMenuList
									li
										a(href="enviar-factura.html") Enviar Factura
									li.hideOnDesk
										a(href="#") Descargar Factura
									li.hideOnDesk
										a(href="aaaaa") Pagar Factura
									li
										a(href="activar-factura-digital.html") Cambiar a paperless
									li
										a(href="debito-automatico.html") Débito Automático
				tr
					td
						.checkbox
							input(type="checkbox" name="selectall")
							.checkmark
					td
						p.lineNum Línea: 
							span 47689058
					td.hideOnMobile
						p
							strong Junio
							span 09/06/2021 al 08/06/2021
					td
						p
							strong $409.900
							span.deadline Vence 05/11/2021
					td
						.tableMoreOptions
							a(href="#").iconLink
								i.ico-download
								span Descargar
							a(href="aaaaa").btn.btnPrimario Pagar factura
							.dotsOptionsMenu
								.dotsOptMenuBtn
									span
								ul.dotsOptMenuList
									li
										a(href="enviar-factura.html") Enviar Factura
									li.hideOnDesk
										a(href="#") Descargar Factura
									li.hideOnDesk
										a(href="aaaaa") Pagar Factura
									li
										a(href="activar-factura-digital.html") Cambiar a paperless
									li
										a(href="debito-automatico.html") Débito Automático
		.paperlessAdvise
			p
				i.paperless
				span Factura esta en modalidad paperless
		.pagination
			ul
				li.pagWord
					span Primera
					i.ico-chevrons-left
				li.pagArrow
					i.ico-chevron-left
				li.pag.active
					span 1
				li.pag
					span 2
				li.pag
					span 3
				li.pagArrow
					i.ico-chevron-right
				li.pagWord
					span Última
					i.ico-chevrons-right