.boxConsume
	.boxConsumeAcc
		.boxConsumeAccTitleAlter
			h3 Mis Consumos
			.boxConsumeAccTitleGraph.jsSliderConsume
				.boxConsumeAccTitleGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Datos de Internet
							.consBarCardDataDet
								p.used 3GB Utilizados
								p.available 7GB Disponibles
						.donutChart
							p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(150deg);")
								i
				.boxConsumeAccTitleGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Minutos Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
				.boxConsumeAccTitleGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 SMS Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
		.boxConsumeAccDetails
			h3 Detalle de paquetes
			.boxConsumeDetBars
				.consumeBarCompWrap
					.consumeBarComp
						dl.consumeBarCompData
							dt YouTube
							dd
								span.icoInf &#8734;
						.consumeBarCompProgress
							span(style="width: 50%;")
						p.consumeBarCompExtra Datos ilimitados
						p.consumeBarCompOther Fecha de expiración: 09/10/2021
				.consumeBarCompWrap
					.consumeBarComp
						dl.consumeBarCompData
							dt Minutos ilimitados
							dd
								strong 2.35
								|  de 
								strong 4
								|  GB
						.consumeBarCompProgress
							span(style="width: 100%;")
						p.consumeBarCompExtra Quedan 1.65 GB Disponibles
						p.consumeBarCompOther Fecha de expiración: 09/10/2021
				.consumeBarCompWrap
					.consumeBarComp
						dl.consumeBarCompData
							dt Música
							dd
								span.icoInf &#8734;
						.consumeBarCompProgress
							span(style="width: 50%;")
						p.consumeBarCompExtra Datos ilimitados
						p.consumeBarCompOther Fecha de expiración: 09/10/2021
			.boxConsumeAccDetNavigation#sectNav
				.boxConsAccDetNavTitle
					h3 Detalle de navegación
					.boxConsAccDetNavTitleCombo
						label Navegación del día:
						span.select
							select
								option 10/09/2021
								option 09/09/2021
								option 08/09/2021
								option 07/09/2021
								option 06/09/2021
				.boxConsumeDetBars.fw
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt Otros
								dd
									strong 97.14 MB
							.consumeBarCompProgress
								span(style="width: 90%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt Facebook
								dd
									strong 7.86 MB
							.consumeBarCompProgress
								span(style="width: 20%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt Servicios de Google
								dd
									strong 0.98 MB
							.consumeBarCompProgress
								span(style="width: 8%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt Instagram
								dd
									strong 0.98 MB
							.consumeBarCompProgress
								span(style="width: 5%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt WhatsApp
								dd
									strong 0.48 MB
							.consumeBarCompProgress
								span(style="width: 1%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt Gmail
								dd
									strong 0.27 MB
							.consumeBarCompProgress
								span(style="width: 1%;")
					.consumeBarCompWrap
						.consumeBarComp
							dl.consumeBarCompData
								dt YouTube
								dd
									strong 1 MB
							.consumeBarCompProgress
								span(style="width: 8%;")
		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más