.boxConsume
	.boxConsumeTop
		.boxConsumeTitle
			h3 Claro Hibrido
			p Línea 881983740
		.boxConsumePay
			.boxConsumePayQuan
				p Q 180.000
				span Vence 03 / Oct / 2021
			.boxConsumePayBtn
				a(href="#").btn.btnPrimario Pagar Factura
	.boxConsumeDetails
		.boxConsumeDetTitle
			.boxConsumeDetTitleText
				h3 Mis Consumos
				a(href="#").textLink Ver detalle de Navegación
			.boxConsumeDetTitleBtn
				a(href="#").btn.btnBlancoRojo Recargar
		.boxConsumeDetBarsWrap.circle
			.boxConsumeDetBars.jsSliderConsume
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Datos de Internet
							.consBarCardDataDet
								p.used 3GB Utilizados
								p.available 7GB Disponibles
						.donutChart
							p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(150deg);")
								i
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Minutos Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 SMS Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
				.consumeBarCardWrap
					.consumeBarCard.orange
						.consumeBarCardData
							h3 Paquete Intenet Mix
							p.small Renueva en 20 días 
								span 20 Oct - 20 Nov
							.consBarCardDataDet
								p.used 5GB Utilizados
								p.available 5GB Disponibles
						.donutChart
							p 50%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(90deg);")
								i
		//-.boxConsumeDetBarsWrap
			.boxConsumeDetBars
				.consumeBarCompWrap
					.consumeBarComp.spent
						dl.consumeBarCompData
							dt
								i.ico-info
								span Internet
							dd
								strong 10
								|  de 10 GB
						.consumeBarCompProgress
							span(style="width: 100%;")
						p.consumeBarCompExtra Quedan 7 GB Disponibles
				.consumeBarCompWrap
					.consumeBarComp
						dl.consumeBarCompData
							dt Minutos ilimitados
							dd
								span.icoInf &#8734;
						.consumeBarCompProgress
							span(style="width: 100%;")
				.consumeBarCompWrap
					.consumeBarComp
						dl.consumeBarCompData
							dt SMS ilimitados
							dd
								span.icoInf &#8734;
						.consumeBarCompProgress
							span(style="width: 100%;")
			.boxConsumeDetBarsMixed
				.boxConsumeDetBars
					.consumeBarCompWrap
						.consumeBarComp
							.consumeBarInfo
								p.big Paquete Mix
								span Activado 23 Ago 2020
					.consumeBarCompWrap
						.consumeBarComp
							.consumeBarInfo
								p Caduca 24 de Septiembre
								span
									strong Activado 23 Ago 2020
					.consumeBarCompWrap
						.consumeBarComp.remain
							dl.consumeBarCompData
								dt Internet
								dd
									strong 5
									|  de 10 GB
							.consumeBarCompProgress
								span(style="width: 70%;")
							p.consumeBarCompExtra Quedan 5 GB Disponibles
				.boxConsumeDetOnlyBtn
					a(href="#").btn.btnBlancoRojo Recargar
		.expandBtnWrap
			.expandBtn
				span Ver más
