.boxConsume#sectHistRecargas
	.boxConsumeAcc
		.boxConsumeAccTitleAlter
			h3.onlyTitle Historial de recargas
		.boxConsumeAccDetails
			.boxConsumeNoHistory
				i.cIco-24-horas2
				p No tienes un historial de recargas

		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más