.boxConsume#sectHistPaquetes
	.boxConsumeAcc
		.boxConsumeAccTitleAlter
			h3.onlyTitle Historial de paquetes
		.boxConsumeAccDetails
			.boxConsumeTable.large
				table(width="100%" cellspacing="0" cellpadding="0" border="0")
					thead
						tr
							th Medio
							th Paquete
							th Tipo de paquete
							th Vigencia
							th Fecha inicio
							th Fecha fin
							th Cantidad
							th Precio
							th Estado
					tbody
						tr
							td Claro
							td 50 Minutos Nac/USA + 50 SMS Mayo 2020
							td Minutos
							td 24 horas
							td 20/09/2021
							td 20/09/2021
							td 50 minutos
							td Q4.00
							td Inactivo
						

		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más