.boxConsume
	.boxConsumeAcc
		.boxConsumeAccTitle
			.boxConsumeAccTitleLeft
				h3 Línea: 47689058
				p Plan Postpago: 
					strong G-Plan LTE Ilimitado 20GB
				p Fecha de emisión: 
					strong 12/09/2021
				p Fecha de Acreditación: 
					strong 07/10/2021
				//-a(href="#").textLink Ver Historial de Pagos
			.boxConsumeAccTitleRight
				h3 Saldo a pagar: Q314.04
				p Último día de pago: 
					strong 07/10/2021
				a(href="#").btn.btnPrimario Pagar Factura
		.boxConsumeAccDetails
			h3 Mis Consumos
			.boxConsumeAccDetailsGraph.jsSliderConsume
				.boxConsumeAccDetGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Datos de Internet
							.consBarCardDataDet
								p.used 3GB Utilizados
								p.available 7GB Disponibles
						.donutChart
							p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(150deg);")
								i
				.boxConsumeAccDetGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Minutos Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
				.boxConsumeAccDetGraphWrap
					.consumeBarCard
						.consumeBarCardData
							h3 SMS Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
			.boxConsumeAccDetailsInclude
				.boxConsumeAccDetInc 
					h4 Tu plan Incluye:
					.boxConsAccDetIntList
						dl
							dt Minutos y SMS
							dd 2500 minutos
						dl
							dt Internet
							dd 100 GB
						dl
							dt Cobertura
							dd Nacional
						dl
							dt Aplicaciones
							dd
								ul.rs
									li
										span.ico-facebook-s
									li
										span.ico-c-instagram-s
									li
										span.ico-c-twitter-s
									li
										span.ico-c-youtube-s
					.dotsOptionsMenu
						.dotsOptMenuBtn
							span
						ul.dotsOptMenuList
							li
								a(href="servicios-moviles-detalle-postpago.html") Ver detalle plan
							li
								a(href="servicios-moviles-detalle-postpago.html#sectNav") Ver detalle de navegación
							li
								a(href="servicios-moviles-detalle-postpago.html#sectHistLlamados") Ver historial de llamadas
							li
								a(href="") Desasociar Servicio
		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más