.boxConsume
	.boxConsumeTop
		.boxConsumeTitle
			h3
				span.bctIcon.circleY
					i.ico-arrow-up
				| Claro Postpago
			p Línea 56328301
		.boxConsumePay
			.boxConsumePayQuan
				p Q 800.000
				span Vence 03 / Oct / 2021
			.boxConsumePayBtn
				a(href="#").btn.btnDisabled Pagar Factura
	.boxConsumeDetails
		.boxConsumeDetTitle
			.boxConsumeDetTitleText
				h3 Mis Consumos
				a(href="servicios-moviles-detalle-postpago.html").textLink Ver detalle de Navegación
		.boxConsumeDetBarsWrap.circle
			.boxConsumeDetBars.jsSliderConsume
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Datos de Internet
							.consBarCardDataDet
								p.used 3GB Utilizados
								p.available 7GB Disponibles
						.donutChart
							p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(150deg);")
								i
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 Minutos Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
				.consumeBarCardWrap
					.consumeBarCard
						.consumeBarCardData
							h3 SMS Ilimitados
							.consBarCardDataDet
								p.used 0 Utilizados
								p.available Plan Ilimitado 
									span.icoInf &#8734;
						.donutChart
							//-p 20%
							span.donutChartRail
							span.donutChartBar(style="transform: rotate(180deg);").full
								i
		//- .boxConsumeDetBarsWrap
		//- 	.boxConsumeDetBars
		//- 		.consumeBarCompWrap
		//- 			.consumeBarComp
		//- 				dl.consumeBarCompData
		//- 					dt Internet
		//- 					dd
		//- 						strong 3
		//- 						|  de 10 GB
		//- 				.consumeBarCompProgress
		//- 					span(style="width: 50%;")
		//- 				p.consumeBarCompExtra Quedan 7 GB Disponibles
		//- 		.consumeBarCompWrap
		//- 			.consumeBarComp
		//- 				dl.consumeBarCompData
		//- 					dt Minutos ilimitados
		//- 					dd
		//- 						span.icoInf &#8734;
		//- 				.consumeBarCompProgress
		//- 					span(style="width: 100%;")
		//- 		.consumeBarCompWrap
		//- 			.consumeBarComp
		//- 				dl.consumeBarCompData
		//- 					dt SMS ilimitados
		//- 					dd
		//- 						span.icoInf &#8734;
		//- 				.consumeBarCompProgress
		//- 					span(style="width: 100%;")
		.expandBtnWrap
			.expandBtn
				span Ver más
