.boxConsume#sectHistLlamados
	.boxConsumeAcc
		.boxConsumeAccTitleAlter
			h3.onlyTitle Historial de llamadas
		.boxConsumeAccDetails
			.boxConsumeTable
				table(width="100%" cellspacing="0" cellpadding="0" border="0")
					thead
						tr
							th Fecha
							th Duración
							th Destino
					tbody
						tr
							td 20/09/2021 12:39:42
							td 5 minutos
							td 50254338402
						tr
							td 20/09/2021 12:39:42
							td 5 minutos
							td 50254338402
						tr
							td 20/09/2021 12:39:42
							td 5 minutos
							td 50254338402
						tr
							td 20/09/2021 12:39:42
							td 5 minutos
							td 50254338402
						

		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más