.boxConsume
	.boxConsumeAcc
		.boxConsumeAccTitle
			.boxConsumeAccTitleLeft
				h3 Número de cuenta: 25092602
				p Fecha de emisión: 
					strong 12/09/2021
				p Fecha de Acreditación: 
					strong 07/10/2021
				a(href="servicios-moviles-detalle-prepago.html").textLink Ver Historial de Pagos
			.boxConsumeAccTitleRight
				h3 Saldo a pagar: Q394.00
				p Último día de pago: 
					strong 07/10/2021
				a(href="#").btn.btnPrimario Pagar Factura
		.boxConsumeAccDetails
			.boxConsumeAccDetailsInclude.noConsumeData
				.boxConsumeAccDetInc 
					h4 Detalle plan:
					.boxConsAccDetIntList
						dl
							dt Internet
							dd 10 Mbps
						dl
							dt Canales
							dd 180 digitales + 40 HD
						dl
							dt Llamadas
							dd Paquete línea fija
						dl
							dt Claro video
							dd Incluído
					.dotsOptionsMenu
						.dotsOptMenuBtn
							span
						ul.dotsOptMenuList
							li
								a(href="servicios-fijos-detalle.html") Ver detalle plan
							li
								a(data-fancybox data-src="#modalUnassociate" href="javascript:;") Desasociar Servicio
							li
								a(href="cambiar-wifi.html") Cambiar contraseña Wifi
		.boxConsumeAccAction
			.boxConsAccActBtn
				span Ver más