.boxConsume
	.boxInfoDetailPostpago
		.boxInfoDetTitle
			h3 Plan Claro Hogar: Avanzado HD 10 MBPS
			p
				strong Usuario:
				|  66453222
		.boxInfoDetText
			p Fecha de activación: 
				strong 06/06/2005
			p Fecha de contratación: 
				strong 06/09/2021
				i.ico-info
			p Fecha de vencimiento: 
				strong 16/03/2023
				i.ico-info
			p Ciclo de facturación: 
				strong 14
		.boxInfoDetPrice
			p Costo mensual: 
				strong Q253.00