.boxConsume
	.boxInfoDetailPrepago
		.boxInfoDetTitle
			h3 Línea: 47689058
			p
				strong Claro Prepago
			p Saldo disponible: 
				strong Q 0.00
			p Fecha de vigencia: 
				strong 09/12/2021
		.boxInfoDetPrice
			.boxInfoDetPriceCol
				p Saldo bono: 
					strong Q100.00
				p.small Fecha de vigencia: 
					strong 25/09/2021
			.boxInfoDetPriceCol
				p Saldo promocional: 
					strong Q50.00
				p.small Fecha de vigencia: 
					strong 25/09/2021