section.cacsClaroSearch
	.cacsClaroSearchWrap
		.cacsClaroSearchLeft
			p Selecciona un departamento
			form.cacsClaroSearchLeftCombo
				span.select
					select
						option(value="" selected disabled) Selecciona un departamento 
						option(value="") Opción 1
						option(value="") Opción 2
						option(value="") Opción 3
				button(type="submit").btn.btnTransBlancoAzul Buscar
		.cacsClaroSearchRight
			picture.imgCacs
				source(srcset='assets/img/img-cacs.webp' type='image/webp')
				source(srcset='assets/img/img-cacs.png' type='image/png')
				img(src='assets/img/img-cacs.png' alt='' width='416' height='360')