section.cacsClaroMap
	.cacsClaroMapMAp
		img(src="assets/img/img-map-example.png")
	.cacsClaroMapLocations
		.cacsClaroMapLocRow
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
		.cacsClaroMapLocRow
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
		.cacsClaroMapLocRow
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
			.cacsClaroMapLocBox
				h3
					i.ico-store
					span Atanasio Tzul
				dl
					dt Dirección
					dd Diagonal 1 51-57 zona 12, locales 89 y 90 C.C. Atanasio Tzul
				dl
					dt Horarios
					dd Lunes a Sábado: 9:00 a 20:00 hrs.
						br
						| Domingo: 10:00 a 18:00 hrs.
