section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Administra tu Red Wi-Fi
				p Puedes cambiar la configuración de tu dispositivo Modem en este apartado
			.customLitteStatus
				i.ico-refresh-ccw
				p Datos Actualizados 12/02/21 a las 15:30 pm
			.customLitteIntroText
				.customIconList
					p
						strong Datos del Modem:
					.icoListWrap
						i.ico-wifi
						.icoLisText
							p
								strong Estado del Wi-Fi:
							p Encendido
					.icoListWrap
						i.ico-wifi
						.icoLisText
							p
								strong Nombre de la red:
							p HOME12345678
					.icoListWrap
						i.ico-lock
						.icoLisText
							p
								strong Tipo de seguridad:
							p WPA2
					.icoListWrap
						i.ico-unlock
						.icoLisText
							p
								strong Contraseña de tu Red Wi-Fi
							p •••••••••••••••••

				.btnCont
					a(href="editar-wifi.html").btn.btnBlancoRojo Editar
					a(href="servicios-fijos.html").textLink Cancelar