section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Activar Factura Digital
				//-p Aqui podrás compartir tu factura por correo electrónico
			.customLitteIntroText
				p Actualmente recibes tu factura digital al correo:
				p
					strong carlos.suarez@mail.com
				p ¿Deseas cambiar el correo electrónico al que se enviará?
				.btnCont
					a(href="editar-factura-digital.html").btn.btnBlancoRojo Si, cambiar
					a(href="pagos-y-facturas.html").textLink Cancelar