section
	.container
		.loginRegister.smallForm.hl
			.loginRegisterCont
				h2.h1 ¡Pásate a Claro!
				.loginRegisterDetails
					.loginRegisterDetailsImg
						i.cIco-login
					.loginRegisterDetailsInfo
						h3.h2 Regístrate
						.loginRegisterDetailsText
							p Hazte parte de nuestra familia y disfruta de un servicio personalizado
						.loginRegisterDetailsIntro
							p Ofrecerte las mejores ofertas para tu servicios es nuestra misión.
			.loginRegisterImg
				picture
					//- Mobil
					source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
					source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
					//- Desktop
					source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
					source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
					img(src='assets/img/img-c15.png' alt='Claro Planes' width='396' height='539')
	 
			.loginRegisterBox
				.loginRegisterBoxHeader
					h4 Crear Cuenta
				form
					fieldset
						label Escribe tu Número Claro o Correo electrónico:
						input(type="text" placeholder="ejemplo@mail.com")
					fieldset
						.checkbox
							input(type="checkbox")
							.checkmark
							label Acepto los 
								a(href="#").textLink Términos y Condiciones
								|  de uso del Servicio Mi Claro
						
					.loginRegisterActions.spaceTop
						.loginRegisterActCreate
							a.btn.btnBlancoRojo Continuar
					
					.loginRegisterActions.spaceTop
						p ¿Ya tienes cuenta con nosotros? 
							a(href="#").textLink Iniciar Sesión