section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 Cambio exitoso
			.statusFormText.v2
				p Los datos de tu tarjeta con terminación 3546 se ha cambiado de forma exitosa, a partir de ahora se hará el cobro Débito Automático Mensual de tu servicio 22424288. 

			a(href="pagos-y-facturas.html").btn.btnBlancoAzul
				span Cerrar