section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Cambio de correo electrónico
				p Cambia el correo electrónico asociado tu débito autómatico mensual
			form(action="debito-correo-status.html" method="POST")
				.formGen.extraPadd
					.formGenInfo.normal
						p 
							strong Número: 22424288
						br

					fieldset
						label Nuevo correo electrónico:
						input(type="email" placeholder="Ingresa nuevo correo electrónico")
					fieldset
						label Confirmar correo electrónico:
						input(type="email" placeholder="Confirmar nuevo correo electrónico")

				.btnCont
					button(type="submit").btn.btnBlancoRojo Cambiar y guardar
					a(href="debito-automatico.html").textLink Regresar