section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 Cambio exitoso
			.statusFormText.v2
				p El cambio de correo se ha realizado de forma exitosa, en breve recibiras un correo electrónico de confirmación del cambio de correo en un lapso no mayor a 24 horas

			a(href="pagos-y-facturas.html").btn.btnBlancoAzul
				span Cerrar