section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Débito Automático
				//-p Modifica nombre de la Red y la clave de tu dispositivo Modem
			form(action="debito-cambiar-tarjeta.html" method="POST")
				.formGen.extraPadd
					.formGenInfo.normal.center
						p Tu servicio de Débito Automático Mensual de la factura de tu Servicio 47689058 a tu tarjeta de terminación 9853. Por favor selecciona el cambio que deseas realizar:
					.formSpListFs
						.radio
							input(type="radio" name="debit" value="1" checked)
							.checkmark
							label
								strong Cambiar datos de tarjeta
						.radio
							input(type="radio" name="debit" value="2")
							.checkmark
							label
								strong Cambiar correo electrónico
						.radio
							input(type="radio" name="debit"  value="3")
							.checkmark
							label
								strong Cancelar débito automático mensual
				.btnCont
					button(type="submit").btn.btnBlancoRojo Cambiar
					a(href="pagos-y-facturas.html").textLink Cancelar

// Script Demo Ocultar / Mostrar Password
script.
	$('input').on('change', function(){
		var debito = $(this).val();
		//console.log('Valor: ' + debito)
		if(debito == 1){
			$('form').attr('action', 'debito-cambiar-tarjeta.html');
			console.log('Valor: 1')
		}
		if(debito == 2){
			$('form').attr('action', 'debito-correo.html');
			console.log('Valor: 2')
		}
		if(debito == 3){
			$('form').attr('action', 'debito-cancelar.html');
			console.log('Valor: 3')
		}
	});