section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 Cancelación exitosa
			.statusFormText.v2
				p Se ha cancelado de manera exitosa el débito automático mensual de tu servicio 22424288

			a(href="pagos-y-facturas.html").btn.btnBlancoAzul
				span Cerrar