section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Cambiar Datos de Tarjeta
				p Ingresa los datos de la tarjeta donde deseas cambiar tu servicio de Debito Automático Mensual
			form(action="debito-cambiar-tarjeta-status.html" method="POST")
				.formGen.extraPadd
					fieldset
						label Número de tarjeta
						.fsCard
							input(type="text" placeholder="- - - -  - - - -  - - - -  - - - -" maxlength="16")#cardNumber
							ul.fsCardLogos
								li.fscl-mastercard
									img(src="assets/img/img-tc-master-card.svg" width="33" height="24")
								li.fscl-amex
									img(src="assets/img/img-tc-amex.svg" width="34" height="24")
								li.fscl-visa
									img(src="assets/img/img-tc-visa.svg" width="40" height="24")
					fieldset
						label Nombre del titular
						input(type="text" placeholder="Nombre completo como aparece en la tarjeta")
					fieldset
						label Fecha de Expiración
						.fsExpire
							.fsExpireDate
								input(type="text" placeholder="MM" maxlength="2")
								span
								input(type="text" placeholder="YYYY" maxlength="4")
							.fsExpireCvv
								input(type="text" placeholder="CVV" maxlength="4")
					fieldset
						.checkbox
							input(type="checkbox")
							.checkmark
							label He leído y acepto los 
								a(href="#").textLink Términos y condiciones
					fieldset
						.checkbox
							input(type="checkbox")
							.checkmark
							label Activar el débito automático mensual de mi factura con esta tarjeta a partir de hoy

				.btnCont
					button(type="submit").btn.btnBlancoRojo Cambiar
					a(href="debito-automatico.html").textLink Regresar

// Script Demo Valida Type of Credit Card
script.
	// Visa
	var visa_regex = new RegExp('^4[0-9]{0,15}$');
	// MasterCard
	var mastercard_regex = new RegExp('^5$|^5[1-5][0-9]{0,14}$');
	// American Express
	var amex_regex = new RegExp('^3$|^3[47][0-9]{0,13}$');
	$('#cardNumber').keyup(function(){
		var logos_obj = $('.fsCardLogos');
		var cur_val = $(this).val();
		// get rid of spaces and dashes before using the regular expression
		cur_val = cur_val.replace(/ /g,'').replace(/-/g,'');

		// checks per each, as their could be multiple hits
		if ( cur_val.match(visa_regex) ) {
			$(logos_obj).addClass('is_visa');
		} else {
			$(logos_obj).removeClass('is_visa');
		}
		if ( cur_val.match(mastercard_regex) ) {
			$(logos_obj).addClass('is_mastercard');
		} else {
			$(logos_obj).removeClass('is_mastercard');
		}
		if ( cur_val.match(amex_regex) ) {
			$(logos_obj).addClass('is_amex');
		} else {
			$(logos_obj).removeClass('is_amex');
		}

		// if nothing is a hit we add a class to fade them all out
		if ( cur_val != '' && !cur_val.match(visa_regex) && !cur_val.match(mastercard_regex) && !cur_val.match(amex_regex)) {
			$(logos_obj).addClass('is_nothing');
		} else {
			$(logos_obj).removeClass('is_nothing');
		}

	});

