section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 ¡Felicidades!
			.statusFormText.v2
				p Tu solicitud se ha realizado con éxito
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				//-p
					strong Tus datos de acceso son: 
					br
					| Usuario: 56 9 777 25717 
					br
					| Contraseña personalizada 

			a(href="pagos-y-facturas.html").btn.btnBlancoAzul
				span Cerrar