section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Editar correo de Factura Digital
				p Ingresa la nueva dirección de correo donde quieres recibir tu factura DIgital
			form(action="factura-digital-status.html")
				.formGen.extraPadd
					fieldset
						label Correo electrónico actual:
						input(type="email" placeholder="Ingresa correo electrónico actual")
					fieldset
						label Nuevo correo electrónico:
						input(type="email" placeholder="Ingresa nuevo correo electrónico")
				.btnCont
					button(type="submit").btn.btnBlancoRojo Guardar
					a(href="cambiar-factura-digital.html").textLink Regresar