section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText.withBorder
				h2 Cambia tu contraseña Wi-Fi
				p Modifica nombre de la Red y la clave de tu dispositivo Modem
			form(action="wifi-status.html")
				.formGen.extraPadd
					fieldset
						label Nombre de la Red:
						input(type="text" placeholder="HOME12345678")
					.formGenInfo.normal
						p
							strong Personaliza tu contraseña
						ul.formList
							li Tener al menos 8 caracteres
							li Llevar un número de [0-9]
							li Utilizar letras mayúsculas y minúsculas [A-Z]
							li Utilizar solo los siguientes símbolos + . _ # @ $ &amp; % , *
							li No ingresar espacios en blanco
					fieldset
						label Ingresa nueva contraseña:
						.inputPass
							input(type="password" placeholder="Escribe una Contraseña")
							.hideShowPass
					fieldset
						label Confirmar Contraseña
						.inputPass
							input(type="password" placeholder="Escribe una Contraseña")
							.hideShowPass
				.btnCont
					button(type="submit").btn.btnBlancoRojo Guardar
					a(href="cambiar-wifi.html").textLink Regresar

// Script Demo Ocultar / Mostrar Password
script.
	$('.hideShowPass').on('click', function(){
		$(this).parent().toggleClass('show');
		if($(this).parent().hasClass('show')){
			return $(this).parent().find('input').prop('type', 'text');
		}else{
			return $(this).parent().find('input').prop('type', 'password');
		}
	});