section.faqsClaroDetail
    .faqsClaroDetailBox
        h3 Claro Hogar Doble
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
    .faqsClaroDetailBox
        h3 Claro Hogar Triple
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
    .faqsClaroDetailBox
        h3 Requisitos
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
        .faqsClaroAcc
            .faqsClaroAccTitle
                p ¿Cuáles son los planes Claro Hogar doble satélital con minutos sin fronteras?
            .faqsClaroAccDesc
                p.dotted 5 Megas + TV Avanzado HD por Q259 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 3 equipos)
                p.dotted 10 Megas + TV Avanzado HD por Q359 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 20 Megas + TV Avanzado HD por Q489 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)
                p.dotted 40 Megas + TV Avanzado HD por Q639 (88 canales digitales, 28 canales HD, 50 canales de audio, Claro Video, + costo aparato telefónico por Q10 plazo a 12 meses, +20 llamadas ilimitadas a Claro + Sin Fronteras desde Canadá hasta Panamá, incluye instalación para 3 televisores, conexión recomendada para 5 equipos)