section.faqsClaroBoxes
	.faqsClaroBoxWrap
		.faqsClaroBox
			h3
				i.ico-tv
				strong Claro Hogar
			ul
				li
					a(href="faqs-detalle.html") Claro Hogar Doble
				li
					a(href="faqs-detalle.html") Claro Hogar Triple
				li
					a(href="faqs-detalle.html") Requisitos
				li
					a(href="faqs-detalle.html") Servicios Adicionales
				li
					a(href="faqs-detalle.html") Línea Fija
			a(href="#").btn.btnBlancoRojo Ver más
	.faqsClaroBoxWrap
		.faqsClaroBox
			h3
				i.ico-smartphone
				strong Claro Móvil
			ul
				li
					a(href="faqs-detalle.html") Planes Postpago
				li
					a(href="faqs-detalle.html") Claro Prepago
				li
					a(href="faqs-detalle.html") Requisitos
				li
					a(href="faqs-detalle.html") Internet Móvil (Modem)
				li
					a(href="faqs-detalle.html") Tienda en línea
			a(href="#").btn.btnBlancoRojo Ver más
	.faqsClaroBoxWrap
		.faqsClaroBox
			h3
				i.ico-file-text
				strong Factura
			ul
				li
					a(href="faqs-detalle.html") Métodos de pago
				li
					a(href="faqs-detalle.html") Conoce tu factura
			a(href="#").btn.btnBlancoRojo Ver más
	.faqsClaroBoxWrap
		.faqsClaroBox
			h3
				i.ico-user-phone
				strong Hazlo tú mismo
			ul
				li
					a(href="faqs-detalle.html") Factura
				li
					a(href="faqs-detalle.html") Mi Claro
				li
					a(href="faqs-detalle.html") Asistencia
			a(href="#").btn.btnBlancoRojo Ver más
	.faqsClaroBoxWrap
		.faqsClaroBox
			h3
				i.ico-help2
				strong Soporte técnico
			ul
				li
					a(href="faqs-detalle.html") Móvil
				li
					a(href="faqs-detalle.html") Hogar
			a(href="#").btn.btnBlancoRojo Ver más
