section.cacsClaroSearch
	.cacsClaroSearchWrap
		.cacsClaroSearchLeft.left
			p ¿En qué podemos ayudarte hoy?
			form.cacsClaroSearchLeftCombo
				input(type="text" placeholder="¿En qué podemos ayudarte hoy?")
				button(type="submit").btn.btnTransBlancoAzul Buscar
		.cacsClaroSearchRight
			.cacsClaroSearchRightText
				h3 Lo más consultado
				ul
					li
						a(href="#") ¿Qué productos puedo activar si tengo un plan empresarial?
					li
						a(href="#") Soy Administrador de una cuenta corporativa en Mi Claro, ¿Cómo activo un servicio en una de las líneas administradas?
					li
						a(href="#") ¿Cuáles son los planes empresariales que puedo contratar?