footer
	.container
		p © Copyright
		ul
			li
				a(href="#") Términos y Condiciones
			li
				a(href="#") Avisos de Privacidad

.modalGen#modalNotify(style="display: none;")
	.modalGenWrap
		.modalNotify
			h3
				i.ico-info
				span Titulo de la Notificación
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

//Scripts
script(src="assets/js/fancybox/dist/jquery.fancybox.min.js")