section.dashboardForm
	.dashFormBox
		h3 Mis datos de perfil
		form
			.formGen.full
				fieldset
					label Nombre y Apellido:
					input(type="text" placeholder="Ingresa tu primer nombre y apellido")
				fieldset
					label Correo electrónico:
					input(type="email" placeholder="mariale.romas@gmail.com" disabled)
				fieldset
					span.formCopy *Este es tu usuario de acceso a Mi Claro
			.btnCont
				button(type="submit").btn.btnPrimario Guardar