section.dashboardForm
	.dashFormBox
		h3 Cambiar contraseña
		form
			.formGen.full
				fieldset
					label Contraseña actual:
					input(type="password" placeholder="Ingresa tu contraseña actual")
				.formGenInfo.mt32
					p Personaliza tu contraseña y recuerda que debe de tener:
					ul.formList
						li Entre 6 y 12 caracteres
						li Al menos una letra y un número
						li No se permiten espacios en blanco, ni caracteres especiales
				fieldset
					label Ingresa tu nueva contraseña:
					.inputPass
						input(type="password" placeholder="Ingresa una nueva contraseña")
						.hideShowPass
				fieldset
					label Confirma tu contraseña:
					.inputPass
						input(type="password" placeholder="Confirma tu nueva contraseña")
						.hideShowPass
			.btnCont
				button(type="submit").btn.btnPrimario Guardar

// Script Demo Ocultar / Mostrar Password
script.
	$('.hideShowPass').on('click', function(){
		$(this).parent().toggleClass('show');
		if($(this).parent().hasClass('show')){
			return $(this).parent().find('input').prop('type', 'text');
		}else{
			return $(this).parent().find('input').prop('type', 'password');
		}
	});