header.mainHeader
	.container
		.hamburguer
			span
			span
			span
		a(href="./").logo
			img(src="assets/vector/logo-miclaro.svg" width="107" height="28")
		p.headerProfile Hola, Emmanuel
	.headerSidebar
		.closeNav
			i.ico-x
		.notifyHeader
			.notifyHeaderBtn
				i.ico-bell
				span.notHeadBtnCount
					i 3
			ul.notifyHeaderMenu
				li
					a(data-fancybox data-src="#modalNotify" href="javascript:;")
						i.ico-info
						span
							strong Titulo de la Notificación
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				li
					a(data-fancybox data-src="#modalNotify" href="javascript:;")
						i.ico-info
						span
							strong Titulo de la Notificación
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				li
					a(data-fancybox data-src="#modalNotify" href="javascript:;")
						i.ico-info
						span
							strong Titulo de la Notificación
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		form.headerSearch
			.inputSearch
				input(type="search" placeholder="Buscar")
		h3.headerWelcome Bienvenido a Mi Claro
		nav
			ul
				li(class=location == 'home'  ?  'active' : '')
					a(href="dashboard.html") Inicio
				li.hasSub(class=location == 'profile'  ?  'active' : '')
					a(href="datos-perfil.html") Mi Perfil
					span.openSubM(class=location == 'profile'  ?  'openAcc' : '')
					ul(style=location == 'profile'  ?  'display: block;' : '')
						li(class=sublocation == 'profile-data'  ?  'active' : '')
							a(href="datos-perfil.html") Datos de perfil
						li(class=sublocation == 'profile-pass'  ?  'active' : '')
							a(href="contrasena-perfil.html") Cambiar contraseña
				li.hasSub(class=location == 'services'  ?  'active' : '')
					a(href="servicios-moviles.html") Mis Servicios
					span.openSubM(class=location == 'services'  ?  'openAcc' : '')
					ul(style=location == 'services'  ?  'display: block;' : '')
						li(class=sublocation == 'services-mobile'  ?  'active' : '')
							a(href="servicios-moviles.html") Servicios Móviles
						li(class=sublocation == 'services-fixed'  ?  'active' : '')
							a(href="servicios-fijos.html") Servicios Fijos
				li(class=location == 'bills'  ?  'active' : '')
					a(href="pagos-y-facturas.html") Pagos y Facturas
				li.hasSub(class=location == 'buy'  ?  'active' : '')
					a(href="recarga-paquete.html") Comprar
					span.openSubM(class=location == 'buy'  ?  'openAcc' : '')
					ul(style=location == 'buy'  ?  'display: block;' : '')
						li(class=sublocation == 'buy-recharges'  ?  'active' : '')
							a(href="recarga-paquete.html") Recargas y Paquetes
				li.hasSub(class=location == 'help'  ?  'active' : '')
					a(href="tiendas-claro.html") Ayuda
					span.openSubM(class=location == 'help'  ?  'openAcc' : '')
					ul(style=location == 'help'  ?  'display: block;' : '')
						li(class=sublocation == 'help-shops'  ?  'active' : '')
							a(href="tiendas-claro.html") Tiendas Claro
						li(class=sublocation == 'help-channels'  ?  'active' : '')
							a(href="canales-atencion.html") Canales de atención
						li(class=sublocation == 'help-faqs'  ?  'active' : '')
							a(href="faqs.html") Preguntas frecuentes
		.headerLogOut
			a(href="#").btn.btnTransBlancoNegro Cerrar Sesión

// Script Demo
script.
	var getScreenWidth = $(window).width();
	function screenWidth(){
		// Header Left Pos
		$('header .headerSidebar').css('left', (-(getScreenWidth + 40)));
		//console.log("la pantalla mide: " + getScreenWidth);
	};
	$('header .hamburguer').on('click', { passive: true }, function(e) {
		e.preventDefault();
		$('header .headerSidebar').toggleClass('open');
		$('body').addClass('sticky');
		if(isIOS) {
			document.ontouchmove = e.preventDefault();
			//document.ontouchmove = (e) => e.preventDefault();
		}
	});
	$('header .closeNav').on('click', { passive: true }, function(e) {
		e.preventDefault();
		$('header .headerSidebar').toggleClass('open');
		//$('header nav .openSubCat').removeClass('openAcc');
		$('header .headerSidebar nav ul li ul').slideUp();
		$('body').removeClass('sticky');
		if(isIOS) {
			document.ontouchmove = true;
			//document.ontouchmove = (e) => true;
		}
	});
	$('.openSubM').on('click', function(){
		$(this).toggleClass('openAcc');
		$(this).parent().find('ul').slideToggle();
	});
	screenWidth();
	$(window).on('load, resize', function(){
		getScreenWidth = $(window).width();
		screenWidth();
	});
	//Notifications Menu
	$('.notifyHeaderBtn').on('click', function(){
		$(this).parent().find('.notifyHeaderMenu').toggleClass('open');
	});
