section.white
	.container
		.contLogin
			.loginInfo
				.loginInfoTitle
					h3.h2 ¿Qué deseas hacer hoy?
					p.txtLoginInfoTitle Mi Claro te permite gestionar tus cuentas contratadas con Claro Móviles y con Claro Hogar en un solo lugar y con un perfil único

				.contQuickAccess.jsSlidesQuickAccess
					a.itemQuickAccess(href="#") 
						i.cIco-factura
						p Pagar Factura
					a.itemQuickAccess(href="#")
						i.cIco-recarga
						p Recargas y Superpacks
					a.itemQuickAccess(href="#")
						i.cIco-reversa-portabilidad
						p Renueva o Contrata
					a.itemQuickAccess(href="#")
						i.cIco-servicios-tienda
						p Tienda en Línea
					a.itemQuickAccess(href="#")
						i.cIco-celulares-prepago
						p Enviar Saldo a otros Claro
					a.itemQuickAccess(href="#")
						i.cIco-pago-personalizado
						p Ver Promociones
					a.itemQuickAccess(href="#")
						i.cIco-reversa-portabilidad
						p Atención Vía WhatsApp
					a.itemQuickAccess(href="#")
						i.cIco-whatsapp
						p Descargar 
							br
							| Claro Música
					a.itemQuickAccess(href="#")
						i.cIco-claro-video
						p Regístrate en Claro Video
					a.itemQuickAccess(href="#")
						i.cIco-mi-claro
						p Descarga 
							br 
							| Mi Claro App
					a.itemQuickAccess(href="#")
						i.cIco-correo-factura-digital
						p Suscribirse a Factura Digital
					a.itemQuickAccess(href="#")
						i.cIco-tv
						p Disfruta tus Beneficios Claro TV

			.loginRegister
				.contLR
					.loginRegisterDetails
						h1.h1 Inicia Sesión	
						.loginRegisterDetailsText
							p Ingresa a Mi Claro  para ver el resumen de tus servicios.
							p Ofrecerte las mejores ofertas para tu servicios es nuestra misión.	 
					form.loginRegisterBox 
						fieldset
							label Correo electrónico:
							input(type="email" placeholder="Correo electrónico")
						fieldset
							label Conteseña
							.inputPass
								input(type="password" placeholder="Ingresa tu contraseña")
								.hideShowPass
						fieldset.fsLink
							a(href="#").textLink Olvidaste tu contraseña
						.loginRegisterActions
							a.btn.btnPrimario Ingresar
						.loginRegisterActions.spaceTop
							p
								strong ¿No tienes cuenta con nosotros?
							//-p Regístrate para gestionar tus cuentas Claro contratadas en un solo lugar y con un perfil único
							a.btn.btnBlancoRojo Regístrate

				.loginRegisterImg
					picture
						//- Mobil
						source(media="(max-width: 640px)" data-srcset='assets/img/img-chica-sesion.webp' type="image/webp")
						source(media="(max-width: 640px)" data-srcset='assets/img/img-chica-sesion.png' type="image/png")
						//- Desktop
						source(media="(min-width: 640px)" data-srcset='assets/img/img-chica-sesion.webp' type="image/webp")
						source(media="(min-width: 640px)" data-srcset='assets/img/img-chica-sesion.png' type="image/png")
						img(src='assets/img/img-chica-sesion.png' alt='Claro Planes' width='375' height='582')
