.moreOptions
	h2 Mas opciones
	.moreOptionsSlider
		.moreOptSld
			i.cIco-servicio-movil
			.moreOptSldBtn
				a(href="asociar-servicio-movil.html").btn.btnBlancoRojo.withIco
					i.ico-plus-circle
					span Agregar Servicio Móvil
		.moreOptSld
			i.cIco-servicios-hogar
			.moreOptSldBtn
				a(href="asociar-servicio-fijo.html").btn.btnBlancoRojo.withIco
					i.ico-plus-circle
					span Agregar Servicio Fijo 