.pagination
	ul
		li.pagWord
			span Primera
			i.ico-chevrons-left
		li.pagArrow
			i.ico-chevron-left
		li.pag.active
			span 1
		li.pag
			span 2
		li.pag
			span 3
		li.pagArrow
			i.ico-chevron-right
		li.pagWord
			span Última
			i.ico-chevrons-right