section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Recuperar contraseña
				p Ingresa tu correo electrónico para recuperar el acceso a tu cuenta Mi Claro
			form
				.formGen.singleField
					fieldset
						label Correo electrónico:
						input(type="email" placeholder="Ingresa tu correo electrónico")
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar
					a(href="#").textLink Cancelar