.promosForYou
    h2 Promociones para ti
    .promosForYouSlider
        .promosForYouBox
            .promosFYPrecio
                img(src="assets/vector/logo-claro-blanco.svg" width="88" height="33")
                p $189.00 
                    span al mes
            .promosFYDetalle
                h3 ¡Cámbiate de Plan!
                p Aprovecha la promoción y cambiate al Plan Max con minutos y mensajes ilimitados
                a(href="#").btn.btnTransBlancoAzul ¡Lo quiero!
            .promosFYImg
                picture
                    //- Mobil
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    //- Desktop
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    img(src='assets/img/img-c15.png' alt='Claro Promociones' width='396' height='539')
        .promosForYouBox
            .promosFYPrecio
                img(src="assets/vector/logo-claro-blanco.svg" width="88" height="33")
                p $189.00 
                    span al mes
            .promosFYDetalle
                h3 ¡Cámbiate de Plan!
                p Aprovecha la promoción y cambiate al Plan Max con minutos y mensajes ilimitados
                a(href="#").btn.btnTransBlancoAzul ¡Lo quiero!
            .promosFYImg
                picture
                    //- Mobil
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    //- Desktop
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    img(src='assets/img/img-c15.png' alt='Claro Promociones' width='396' height='539')
        .promosForYouBox
            .promosFYPrecio
                img(src="assets/vector/logo-claro-blanco.svg" width="88" height="33")
                p $189.00 
                    span al mes
            .promosFYDetalle
                h3 ¡Cámbiate de Plan!
                p Aprovecha la promoción y cambiate al Plan Max con minutos y mensajes ilimitados
                a(href="#").btn.btnTransBlancoAzul ¡Lo quiero!
            .promosFYImg
                picture
                    //- Mobil
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(max-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    //- Desktop
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.webp' type="image/webp")
                    source(media="(min-width: 640px)" data-srcset='assets/img/img-c15.png' type="image/png")
                    img(src='assets/img/img-c15.png' alt='Claro Promociones' width='396' height='539')