section
	.container
		.statusForm
			.statusFormImg
				i.cIco-felicidades
			.statusFormText
				h2 ¡Felicidades!
				p Has activado tu cuenta, ahora podrás disfrutar de todos los beneficios y ventajas de tener una cuenta Mi Claro.
				p
					strong Tu usuario es: 
						br
						| mariale.romas@gmail.com
			a(href="#").btn.btnPrimario.withIco
				i.ico-log-in
				span Ir a Mi Claro