section.white
	.container
		.contLogin

			.loginRegister.lRBoxRegister
				.contLR
					.loginRegisterDetails
						h1.h1 Regístrate
						//-.loginRegisterDetailsText
							p Ingresa a Mi Claro  para ver el resumen de tus servicios.
							p Ofrecerte las mejores ofertas para tu servicios es nuestra misión.	 
					form.loginRegisterBox 
						fieldset.contTitleFormLRB  
							h3.h3 1. Crea tu cuenta Mi Claro
							p Disfruta de todos los servicios de Claro con una sola cuenta.
						fieldset
							label Escribe correo electrónico
							input(type="email" placeholder="ejemplo@mail.com")
						fieldset.contCBLRB
							.checkbox
								input(type="checkbox")
								.checkmark
								label Acepto los 
									a(href="#").textLink Términos y Condiciones
									|  de uso del Servicio Mi Claro	

						.loginRegisterActions.spaceTop
							a.btn.btnBlancoRojo Continuar
							p ¿Ya tienes una cuenta? 
								a(href="#").textLink  Iniciar Sesión

				.loginRegisterImg
					picture
						//- Mobil
						source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
						source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
						//- Desktop
						source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
						source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
						img(src='assets/img/img-chico-registro.png' alt='Claro Planes' width='375' height='582')

			.loginInfo.lIBox
				.loginInfoTitle
					h3.h2 Beneficios de registrarte en Mi Claro
					p.h5 Podrás realizar tus gestiones sin importar donde estés, desde la comodidad de tu hogar. Registrarte ya en Mi Claro.

				.contLitsMedia
					.itemMedia
						.itemMedia
							i.cIco-multiplataforma
							.iMInfo Recuerda que tu usuario Mi Claro lo puedes utilizar para otras plataformas como: Tienda en línea, Mi Claro App y Claro Play
						.itemMedia
							i.cIco-servicio-movil
							.iMInfo Paga tus servicios, gestiona tu cuenta y contrata todo aquí
						.itemMedia
							i.cIco-pagar-factura
							.iMInfo Ciclo de facturación.
						.itemMedia
							i.cIco-detalle-servicios
							.iMInfo Detalle de llamadas de tus servicios móviles y fijos.
						.itemMedia
							i.cIco-saldos
							.iMInfo Consulta tus consumos y saldos de minutos, internet y SMS
						.itemMedia
							i.cIco-check-hexagono
							.iMInfo Revisa la información de tu plan actual y servicios contratados.

section.white
	.container
		h2 Descárgala en tu Store favorita
		.contItemsStore.jsSlidesStore
			.wrapperIS
				.itemStore
					.logoIS
						i.icono-app-claro-musica
					.btnsIS
						a.btnStore(href="#", target="_blank") 
							i.iconoGooglePay
							| Google Play
						a.btnStore(href="#", target="_blank") 
							i.iconoAppStore
							| App Store
						a.btnStore(href="#", target="_blank") 
							i.iconoAppGallery
							| AppGallery
			.wrapperIS
				.itemStore
					.logoIS
						i.icono-app-claro-video
					.btnsIS
						a.btnStore(href="#", target="_blank") 
							i.iconoGooglePay
							| Google Play
						a.btnStore(href="#", target="_blank") 
							i.iconoAppStore
							| App Store
						a.btnStore(href="#", target="_blank") 
							i.iconoAppGallery
							| AppGallery
			.wrapperIS
				.itemStore
					.logoIS
						i.icono-app-mi-claro
					.btnsIS
						a.btnStore(href="#", target="_blank") 
							i.iconoGooglePay
							| Google Play
						a.btnStore(href="#", target="_blank") 
							i.iconoAppStore
							| App Store
						a.btnStore(href="#", target="_blank") 
							i.iconoAppGallery
							| AppGallery



