section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Completa tu Registro
				p Ingresa los siguientos datos para continuar
			form
				.formGen
					fieldset
						label Nombre y Apellido:
						input(type="text" placeholder="Ingresa tu primer nombre y apellido")
					fieldset
						label Número móvil Claro:
						input(type="text" placeholder="Ingresa tu número móvil Claro")
					.formGenInfo
						p Personaliza tu contraseña y recuerda que debe de tener:
						ul.formList
							li Entre 6 y 12 caracteres
							li Al menos una letra y un número
							li No se permiten espacios en blanco, ni caracteres especiales
					fieldset
						label Ingresa una Contraseña
						.inputPass
							input(type="password" placeholder="Escribe una Contraseña")
							.hideShowPass
					fieldset
						label Confirmar Contraseña
						.inputPass
							input(type="password" placeholder="Escribe una Contraseña")
							.hideShowPass
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar

// Script Demo Ocultar / Mostrar Password
script.
	$('.hideShowPass').on('click', function(){
		$(this).parent().toggleClass('show');
		if($(this).parent().hasClass('show')){
			return $(this).parent().find('input').prop('type', 'text');
		}else{
			return $(this).parent().find('input').prop('type', 'password');
		}
	});