section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Código de seguridad
				p Ingresa el código de seguridad enviado vía correo electrónico a la cuenta 
					strong mariale.romas@gmail.com
			form
				.formSecureCode
					p
						strong Ingresa tu código:
					.formSecureCodeGrid
						input(type="text")
						input(type="text")
						input(type="text")
						input(type="text")
						input(type="text")
						input(type="text")
					p Si no recibiste el código, haz 
						a(href="#").textLink clic aquí
						|  para reenviarlo
				
				.btnCont
					button(type="submit").btn.btnBlancoRojo Continuar
					a(href="#").textLink Cancelar