section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 ¡Envío Exitoso!
			.statusFormText.v2
				p Tu factura electrónica se ha enviado de forma exitosa al mail suarezd@mail.com
				//-p
					strong Tus datos de acceso son: 
					br
					| Usuario: 56 9 777 25717 
					br
					| Contraseña personalizada 

			a(href="pagos-y-facturas.html").btn.btnBlancoAzul
				span Cerrar