section.bgSpLogin
	.bgSpLoginImgWrap
		img(src="assets/img/bg-login-pattern.svg" width="330" height="430" alt="claro").bgSpLoginImgLeft
	
		img(src="assets/img/bg-login-pattern2.svg" width="330" height="430" alt="claro").bgSpLoginImgRight
	.container
		.customLitteForm
			.customLitteFormText
				h2 Envío de factura por correo
				p Aqui podrás compartir tu factura por correo electrónico
			form(action="enviar-factura-status.html")
				.formGen.extraPadd
					.formGenInfo.normal
						p
							strong Tu Servicio:
							|  Línea 47689058
							br
							strong Periodo de Facturación:
							|  13/05/2021 al 13/06/2021 
						p Ingresa la dirección de correo electrónico donde será enviada tu factura electrónica
					fieldset
						label Correo Electrónico
						input(type="email" placeholder="correo@mail.com")
				.btnCont
					button(type="submit").btn.btnBlancoRojo Enviar Factura
					a(href="pagos-y-facturas.html").textLink Cancelar