section
	.container
		.statusForm
			.statusFormImg.success
				span
					i.ico-check
			.statusFormText
				h2 ¡Felicidades
				p Tu contraseña se ha actualizado con éxito
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, 

			a(href="servicios-fijos.html").btn.btnBlancoAzul Cerrar