<!-- <%@page contentType="text/html" pageEncoding="ISO-8859-1"
	import="java.util.*,javax.portlet.*"%>
<%@taglib uri="http://java.sun.com/portlet_2_0" prefix="portlet"%>
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@taglib uri="http://www.springframework.org/tags/form" prefix="form"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@taglib uri = "http://java.sun.com/jsp/jstl/fmt"  prefix = "fmt"%>
<portlet:defineObjects /> -->

<link
	href="<%=renderResponse.encodeURL(renderRequest.getContextPath() + "/style2.css")%>"
	type="text/css" rel="stylesheet"></link>
<script>
	$(function() {
		$("#packageHistoryAccordion").accordion({
			collapsible : true,
			active:false,
			heightStyle: "content"
		});
	});
</script>
<c:if test="${statusRequest eq true}" >
<c:if
	test="${ lineOfBusinessStr eq 4 || lineOfBusinessStr eq 3 || lineOfBusinessStr eq 6 }">

	<div>
		<div class="grid grid-pad">
			<div class="col-1-1">
				<div class="content">
					<section class="custom-dojo-titlegroup">

						<div id="packageHistoryAccordion">
							<h3 class="titlePaneUi">Mis Paquetes</h3>
							<div class="progress-container packageHistoryContent"
								id="progress-container">
								<c:if test="${ empty errorWS }">
									<table id="tablahistorico" class="static-table tablahistorico">
										<thead class="historico">
											<tr class="historico">
												<th class="historico">
													Medio
												</th>
												<th class="historico">
													Paquete
												</th>
												<th class="historico">
													Vigencia
												</th>
												<th class="historico">
													Fecha inicio
												</th>
												<th class="historico">
													Fecha fin
												</th>
												<th class="historico">
													Precio
												</th>
												<th class="historico">
													Estado
												</th>
												<th class="historico">
													paquetes
												</th>
											</tr>
										</thead> 
										<tbody class="historico">
											<c:forEach var="historico" items="${ paquetes }" varStatus="index">
												<tr class="historico" <c:if test="${ index.index % 2 eq 0 }"> style='background: #e1e1e1;' </c:if>>
													<td data-label="Canal Compra:" class="inf historico">${ historico.canal }</td>
													<td data-label="Paquete: " class="inf historico">${ historico.paquete }</td>
													<td data-label="Vigencia de Paquete: " class="inf historico">${ historico.vigencia }</td>
													<td data-label="Inicio de Vigencia: " class="inf historico">${ historico.inicioVigencia }</td>
													<td data-label="Fin de Vigencia: " class="inf historico">${ historico.finVigencia }</td>
													<td data-label="Valor del Paquete: " class="inf historico">${ historico.valor }</td>
													<td data-label="Estado del Paquete: " class="inf historico">${ historico.estado }</td>	
													<td data-label="Paquetes: " class="inf historico">
														<table id="tablapaquetes" class="static-table tablahistorico">
															<thead class="historico">
																<tr>
																	<th class="historico">Descripcion</th>
																	<th class="historico">Tipo</th>
																	<th class="historico">Volumen</th>
																</tr>
															</thead>
															<tbody class="historico">
																<c:forEach var="pack" items="${ historico.packList }" varStatus="index" >
																	<tr>
																		<td data-label="Descripcion:" class="inf historico">${pack.descripcionPaquete }</td>
																		<td data-label="Tipo paquete:" class="inf historico">${pack.tipoPaquete }</td>
																		<td data-label="Volumen:" class="inf historico">${pack.cantidad }</td>
																	</tr>
																</c:forEach>
															</tbody>
														</table>
													</td>																								
												</tr>
											</c:forEach>
										</tbody>
									</table>
								</c:if>
								<c:if test="${ not empty errorWS }">
									<div class="alert alert-danger" role="alert" style="display:block;">
									  <p>${ errorWS }</p>
									</div>
								</c:if>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

</c:if>
</c:if>
<c:if test="${statusRequest eq false}" >
		<div class="grid grid-pad">
			<div class="col-1-1">
				<div class="content">
					<section class="c-portlet billtab-billinfo">
						<section class='p-error-msg'>
							<p>No es posible mostrar esta informaci&oacute;n</p>
						</section>
						</section>
					</div>
				</div>
			</div>
</c:if>