@CHARSET "UTF-8";

#tablahistorico {
	border: 1px solid #ccc;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: DINNextLTPro-Light;
}

#tablahistorico tr {
	border: 1px solid #ddd;
	padding: 5px;
}

#tablahistorico th,table td {
	padding: 10px;
	text-align: center;
}

#tablahistorico th {
	text-transform: capitalize;
	font-size: 18px;
	letter-spacing: 1px;
}

.succesimg {
	background-image:
		url(/SelfCarePortalThemeStatic_GT/themes/selfcareportal/assets/images/bpstat-icon-paid.png);
	background-repeat: no-repeat;
	background-position: 14% 1%;
	height: 25px;
}

@media screen and (max-width: 600px) {
	#tablahistorico {
		border: 0;
	}
	#tablahistorico thead {
		display: none;
	}
	#tablahistorico tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}
	#tablahistorico td {
		display: block;
		text-align: right;
		font-size: 16px;
		border-bottom: 1px dotted #ccc;
	}
	#tablahistorico td:last-child {
		border-bottom: 0;
	}
	#tablahistorico td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	}
	.succesimg {
		background-position: 75% 1%;
	}
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: black;
    background-color: #f2f3f8;
    border-color: #f2f3f8;
}

.packageHistoryContent {
	border:1px solid rgba(225, 225, 225, 0.44);
}

.titlePaneUi{
	background-image: none !important;
    background-color: #f4f4f5 !important;
    border: 1px solid #f4f4f5 !important;
    color: #EF3829;
    font-family: DINNextLTPro-Light;
    padding: 14px 10px 14px 12px !important;
    font-size:20px;
    
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: 50em;
    top: 50%;
    margin-top: -8px;
}

#accordionBillArchive * .ui-state-active .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/;
}
